.gradle
/build/
/bin/
!gradle/wrapper/gradle-wrapper.jar
*.css.map
/node_modules/
/logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### MacOS ###
.DS_Store