<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header" class="header">
    <div class="logo">
        <a href="/login"><img alt="logo" src="/img/logo_small.png" width="21px" height="23px"/></a>
    </div>
    <nav>
        <ul>
            <li><a href="/statuses">현황</a></li>
            <li><a href="/controls">관제</a></li>
            <li><a href="#/managements">관리</a></li>
            <li><a href="#/statistics">통계</a></li>
            <li><a href="#/settings">설정</a></li>
            <li><a href="/notices">공지</a></li>
        </ul>
    </nav>

    <input type="hidden" name="id" id="userId" th:value="${id}"/>
    <input type="hidden" name="group" id="group" value="5"/>
    <div class="header-right">
        <div class="point-area" id="point-area">
            <span id="point">-1</span>
        </div>
        <a href="order-reception">
            <button class="button">접수하기</button>
        </a>
    </div>

    <div th:replace="statuses/mileage_modal:: mileage_modal"></div>
    <div th:replace="statuses/transfer_modal_distrib:: transfer_modal_distrib"></div>
    <div th:replace="statuses/transfer_modal_branch:: transfer_modal_branch"></div>
    <div th:replace="statuses/transfer_modal_shop:: transfer_modal_shop"></div>
    <div th:replace="statuses/transfer_modal_rider:: transfer_modal_rider"></div>
</header>
</html>