<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Please</title>
    <!--<link rel="stylesheet" href="/css/recept_order.css"/>-->
    <!--<link rel="stylesheet" href="/css/popup_search_address.css"/>-->
    <link rel="stylesheet" href="../../static/css/recept_order.css"/>
    <link rel="stylesheet" href="../../static/css/popup_search_address.css"/>
</head>

<body>
<div class="container">
    <!-- 헤더 -->
    <header class="header">
        주문접수
        <span>▪<span>입력필수값</span></span>
    </header>

    <form id="recept_form">
        <input type="hidden" name="shop-id" id="shop_id"/>
        <input type="hidden" name="point" id="point"/>
        <section class="main_section">
            <!-- 왼쪽 부분-->
            <section class="left_section">
                <ul>
                    <li class="required">
                        <span class="subsection_title">지사명</span>
                        <div class="name_area">
                            <input type="text" required="required" class="name" name="branch-name"
                                   placeholder="지사명을 입력하세요."/>
                            <button class="btn_search" id="btn_branch_name"> 검색</button>
                        </div>
                    </li>
                    <li class="required">
                        <span class="subsection_title">상점명</span>
                        <div class="name_area">
                            <input type="text" required="required" class="name" name="shop-name"
                                   placeholder="상점명을 입력하세요."/>
                            <button class="btn_search" id="btn_shop_name"> 검색</button>
                        </div>
                    </li>
                    <li class="required">
                        <label class="subsection_title">고객전화번호</label>
                        <input type="tel" required="required" class="numbers" name="customer-tel"
                               placeholder="고객전화번호를 입력하세요."/>
                    </li>
                    <li class="required">
                        <span class="subsection_title">고객 주소</span>
                        <div class="address_area">
                            <input type="text" required="required" class="address" name="address"
                                   placeholder="배송할 주소를 검색해주세요."/>
                            <button class="btn_search" id="btn_address"> 검색</button>
                            <input type="text" class="address_detail" name="address-detail"
                                   placeholder="상세 주소를 검색해주세요."/>

                            <input type="hidden" name="jibun"/>
                            <input type="hidden" name="road"/>
                            <input type="hidden" name="latitude"/>
                            <input type="hidden" name="longitude"/>
                            <input type="hidden" name="distance"/>
                            <input type="hidden" name="distanceFactor"/>

                        </div>
                        <div class="map">

                        </div>
                    </li>

                    <li>
                        <div class="item_info_container">
                            <span class="subsection_title" style="flex-grow:7">상품정보</span>
                            <div>
                                <button class="btn_black">메뉴(POS)</button>
                                <button class="btn_white">갯수추가</button>
                            </div>
                        </div>
                        <div class="table_outer">
                            <table class="table">
                                <thead>
                                <tr>
                                    <td>순번</td>
                                    <td>상품명</td>
                                    <td>구분</td>
                                    <td>단간</td>
                                    <td>갯수</td>
                                    <td>판매가</td>
                                </tr>
                                </thead>
                            </table>
                            <div class="table_scroll">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td><span>1</span></td>
                                        <td><span>핫도그</span></td>
                                        <td><span>0</span></td>
                                        <td><span>15,000</span></td>
                                        <td><span>3</span></td>
                                        <td><span>45,000</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>2</span></td>
                                        <td><span>미국산 A급 명품 마블링 가득 소고기 스테이크</span></td>
                                        <td><span>0</span></td>
                                        <td><span>500</span></td>
                                        <td><span>1</span></td>
                                        <td><span>500</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>3</span></td>
                                        <td><span>붕어빵</span></td>
                                        <td><span>0</span></td>
                                        <td><span>10,230,000</span></td>
                                        <td><span>4</span></td>
                                        <td><span>40,920,000</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>4</span></td>
                                        <td><span>아이스크림</span></td>
                                        <td><span>0</span></td>
                                        <td><span>100,000,000,000</span></td>
                                        <td><span>120</span></td>
                                        <td><span>12,000,000,000,000</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <span>더블클릭하면 상품이 삭제됩니다.</span>
                        </div>

                        <input type="hidden" name="menu"/>
                    </li>
                    <li class="item_cost required">
                        <label class="subsection_title" for="menu-price">상품요금</label><br/>
                        <input required="required" type="text" name="menu-price" id="menu-price"/>
                    </li>
                    <li class="item_cost">
                        <label class="subsection_title" for="additional-menuPrice">상품추가요금</label><br/>
                        <input type="text" name="additional-menuPrice" id="additional-menuPrice"/>
                    </li>
                    <li class="item_cost">
                        <label class="subsection_title" for="sum">고객요금 합계</label><br/>
                        <input type="text" id="sum" disabled="disabled" value="0원"/>
                    </li>
                </ul>
            </section>

            <!-- 오른쪽 부분-->
            <section class="right_section">
                <article>
                    <ul>
                        <li class="required">
                            <span class="subsection_title">결제방법</span>
                            <div class="payment_type">
                                <input required="required"
                                       type="radio" hidden="hidden" id="cash" name="payment-type" value="1"/>
                                <input type="radio" hidden="hidden" id="card" name="payment-type" value="2"/>
                                <input type="radio" hidden="hidden" id="prepay" name="payment-type" value="3"/>

                                <label for="cash" class="btn_payment" id="label_cash">현금</label>
                                <label for="card" class="btn_payment" id="label_card">카드</label>
                                <label for="prepay" class="btn_payment" id="label_prepay">선결제</label>
                            </div>
                        </li>
                        <li>
                            <span class="subsection_title">조리시간</span>

                            <div class="time_area">
                                <input type="radio" hidden="hidden" id="cook_m15" name="cook-time"/>
                                <input type="radio" hidden="hidden" id="cook_m20" name="cook-time"/>
                                <input type="radio" hidden="hidden" id="cook_m25" name="cook-time"/>
                                <input type="radio" hidden="hidden" id="cook_m30" name="cook-time"/>
                                <input type="radio" hidden="hidden" id="cook_m35" name="cook-time"/>
                                <input type="radio" hidden="hidden" id="cook_m40" name="cook-time"/>
                                <input type="radio" hidden="hidden" id="cook_m50" name="cook-time"/>

                                <label for="cook_m15" class="btn_time" id="label_cook_m15">15분후</label>
                                <label for="cook_m20" class="btn_time" id="label_cook_m20">20분후</label>
                                <label for="cook_m25" class="btn_time" id="label_cook_m25">25분후</label>
                                <label for="cook_m30" class="btn_time" id="label_cook_m30">30분후</label>
                                <label for="cook_m35" class="btn_time" id="label_cook_m35">35분후</label>
                                <label for="cook_m40" class="btn_time" id="label_cook_m40">40분후</label>
                                <label for="cook_m50" class="btn_time" id="label_cook_m50">50분후</label>
                            </div>
                        </li>
                    </ul>
                </article>

                <article>
                    <ul>
                        <li>
                            <span class="subsection_title">배송대행료 설정</span>

                            <div class="cost_setting_area">
                                <div>
                                    <input type="radio" id="setting_distance"/>
                                    <label class="label" for="setting_distance">거리별</label>
                                    <input type="text" id="distance"/>

                                    <input type="radio" id="setting_dong"/>
                                    <label class="label" for="setting_dong">동별</label>
                                    <input type="text" id="dong"/>
                                </div>
                            </div>
                        </li>
                        <li class="cost_setting_etc_area required">
                            <label for="delivery-cost" class="subsection_title"> 배송대행료</label>
                            <input required="required" type="text" name="delivery-cost" id="delivery-cost"/>
                        </li>
                        <li class="cost_setting_etc_area">
                            <label for="add-cost" class="subsection_title"> 배송추가요금</label> <br/>
                            <input type="text" id="add-cost"/>
                        </li>
                        <li class="cost_setting_etc_area">
                            <label for="extra-charge" class="subsection_title"> 할증</label><br/>
                            <input type="text" id="extra-charge" disabled="disabled" value="0원"/>
                        </li>
                        <li class="cost_setting_etc_area">
                            <label for="additional-cost" class="subsection_title"> 배송대행료합계</label><br/>
                            <input type="text" name="additional-cost" id="additional-cost" readonly="readonly"
                                   disabled="disabled" value="0원"/>

                        </li>
                        <li>
                            <span class="subsection_title">대행료 지불방법</span>
                            <div class="cost_type">
                                <input type="radio" hidden="hidden" id="p" name="delivery-cost-payment-type"/>
                                <input type="radio" hidden="hidden" id="c" name="delivery-cost-payment-type"/>

                                <button class="btn_cost">포인트</button>
                                <button class="btn_cost">현금</button>
                            </div>
                        </li>
                    </ul>
                </article>

                <article>
                    <span class="subsection_title">요청사항</span>
                    <div class="memo_area">
                        <input type="text" name="memo" class="memo" placeholder="요청사항을 입력해주세요"/>
                        <button class="btn_memo">상용문구</button>
                    </div>
                </article>

                <div class="buttons">
                    <button class="btn_request" type="submit">배송요청</button>
                    <input type="radio" hidden="hidden" id="wait" name="is-suspend" value="true"/>
                    <label for="wait" class="btn_wait">접수대기</label>
                    <button class="btn_cancel" type="submit">취소</button>
                    <!--<button class="btn_wait" name="is-suspend" value="true" type="submit">접수대기</button>-->
                </div>
            </section>

        </section>
    </form>

</div>

<div class="setting_area" id="modal">
    <div class="setting_title_area">
        <span>주소검색</span>
        <button id="btn_close">X</button>
    </div>

    <div class="setting_content_area">
        <form id="form_enable_area" hidden="hidden">
            <input name="shop-id" type="hidden" value="1414"/>
        </form>

        <!-- 검색 키워드 구간-->
        <form id="form_address" class="a">
            <input type="search" name="address" id=""/>
            <input type="submit" value="검색"/>
        </form>

        <div class="b">
            <!-- 왼쪽 (동)-->
            <div class="c">
                <!-- 배달 가능동-->
                <div class="available_dong_area">
                    <span>배달 가능 동</span>
                </div>
                <!-- ..etc -->
                <div class="e" id="enableArea">
                    <div><span>전체동</span></div>
                    <div><span>수정동</span></div>
                    <div><span>아무동</span></div>
                </div>
            </div>

            <!-- 오른쪽 -->
            <div class="d">
                <!-- 건물 유형-->
                <div class="f">
                    <button form="form_address" class="btn_business" id="label_category1"> 전체</button>
                    <button form="form_address" class="btn_business" id="label_category2">아파트</button>
                    <button form="form_address" class="btn_business" id="label_category3">빌라</button>
                    <button form="form_address" class="btn_business" id="label_category4">모텔</button>
                    <button form="form_address" class="btn_business" id="label_category5"> 학교</button>
                    <button form="form_address" class="btn_business" id="label_category6">당구장</button>
                    <button form="form_address" class="btn_business" id="label_category7"> 병원</button>
                    <button form="form_address" class="btn_business" id="label_category8"> 학원</button>
                    <button form="form_address" class="btn_business" id="label_category9"> 은행</button>
                    <button form="form_address" class="btn_business" id="label_category10">주유소</button>
                    <button form="form_address" class="btn_business" id="label_category11">기타</button>
                </div>

                <div>
                    <table class=" table3">
                        <thead>
                        <tr>
                            <td>도로명</td>
                            <td>지번주소</td>
                            <td>건물명</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody id="address">
                        <tr>
                            <th>감만2동</th>
                            <th>국제아파트</th>
                            <th>A동 10002호</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>감만2동</td>
                            <td>국제아파트</td>
                            <td>A동 10002호</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/recept_order.js" type="module"></script>
<script src="/js/popup_search_address.js" type="module"></script>
</html>