<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:fragment="branch_search_modal" id="branch_search_modal" class="search-modal-background">
    <div class="modal-container">
        <!-- 헤더 -->
        <header class="modal-header">
            <div class="title">지사 검색</div>
            <button class="close-button-black" id="branch-close-button"></button>
        </header>
        <!-- 검색 -->
        <section class="branch-search-section">
            <form id="form-branch-search" hidden="hidden"/>
            <select class="selector" name="metro" form="form-branch-search">
                <option value="" selected="selected">지역 선택</option>
                <option value="광주">광주광역시</option>
                <option value="대구">대구광역시</option>
                <option value="대전">대전광역시</option>
                <option value="부산">부산광역시</option>
                <option value="서울">서울특별시</option>
                <option value="울산">울산광역시</option>
                <option value="경상남도">경상남도</option>
                <option value="경상북도">경상북도</option>
                <option value="경기도">경기도</option>
                <option value="강원도">강원도</option>
                <option value="충청남도">충청남도</option>
                <option value="충청북도">충청북도</option>
                <option value="전라북도">전라북도</option>
                <option value="전라남도">전라남도</option>
                <option value="제주도">제주도</option>
            </select>
            <div class="search-box">
                <input type="text" placeholder="지사명 검색" name="branch-name" form="form-branch-search"/>
                <button form="form-branch-search" type="submit"></button>
            </div>
        </section>
        <!-- 결과 리스트 -->
        <form hidden="hidden" id="form-result-branch"/>
        <input type="hidden" id="result-branch-name" name="branchName" form="form-result-branch"/>
        <section class="result-section" id="branch-result-section">
        </section>
        <!-- 확인 버튼 영역 -->
        <section class="submit-section">
            <button class="round-rect-fill-orange" form="form-result-branch" type="submit">확인</button>
        </section>
    </div>
</div>
</html>