@import "../_header";

body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans CJK KR", sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.container {
  width: 100%;
  height: 100%;
  float: left;
}

select,
input[type="text"],
input[type="password"] {
  border: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

button,
input[type="submit"],
input[type="button"] {
  padding: 0;
}

.center ul {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    clear: both;
  }
}

.personal_info_area {
  margin-left: 32px;
  margin-right: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 430px;
  border-bottom: 1px solid #d0d0d0;
  float: left;

  label {
    font-size: 12px;
    font-weight: normal;
    color: #4a4a4a;
  }

  div {
    float: right;
  }
}

.addres_info_area {
  margin-left: 32px;
  margin-right: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 430px;
  float: left;
  clear: both;

  label {
    font-size: 12px;
    font-weight: normal;
    color: #4a4a4a;
  }

  div {
    float: right;
  }
}

.right_side {
  margin-left: 32px;
  margin-right: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 430px;
  float: left;

  label {
    font-size: 12px;
    font-weight: normal;
    color: #4a4a4a;
  }

  div {
    float: right;
  }
}

.text_long {
  margin-left: 4px;
  margin-right: 4px;
  border: 0;
  width: 307px;
  height: 32px;
  background-color: #f1f1f1;
  float: left;
}

.text_short {
  margin-left: 4px;
  margin-right: 4px;
  border: 0;
  width: 210px;
  height: 32px;
  background-color: #f1f1f1;
  float: left;
}

.select_long {
  margin-left: 4px;
  margin-right: 4px;
  border: 0;
  width: 327px;
  height: 32px;
  background-color: #f1f1f1;
  float: left;
}

.select_short {
  margin-left: 4px;
  margin-right: 4px;
  border: 0;
  width: 230px;
  height: 32px;
  background-color: #f1f1f1;
  float: left;
}


.btn_reg {
  width: 200px;
  height: 36px;
  border: 0;
  border-radius: 18px;
  background-color: #ff9037;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  display: inline-block;
}

.btn_duplicate_check {
  margin-left: 4px;
  margin-right: 4px;
  width: 90px;
  height: 31px;
  font-size: 12px;
  font-weight: normal;
  color: #4a4a4a;
  border: 1px solid #d0d0d0;
  background-color: #FFFFFF;
  float: left;
}

.left_side {
  float: left;
}

.reg_area {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  float: left;
  clear: both;
}

.center {
  display: inline-block;
}

.title {
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;

  span {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.05;
    letter-spacing: -0.6px;
    color: #4a4a4a;
  }
}

.menu_position {
  margin-top: -30px;
  margin-bottom: 20px;
  display: inline-block;
}

.condition {
  float: left;
}

@media (max-width: 987px) {
  .right_side {
    float: left;
    clear: both;
  }
}