@import "../_header";

body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans CJK KR", sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.container {
  width: 100%;
  height: 100%;
  float: left;
}

select,
input[type="text"],
input[type="password"] {
  border: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

button,
input[type="submit"],
input[type="button"] {
  padding: 0;
}

.main_section {
  width: 100%;
  float: left;

  select {
    margin-left: 4px;
    margin-right: 4px;
    background: url(/img/select1.png) no-repeat 100% 50%;
    border: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input[type="number"] {
    margin-left: 4px;
    margin-right: 4px;
    border: 0;
  }
}

.left_side {
  margin-left: 32px;
  margin-right: 32px;
  float: left;
}

.left_side > div {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 419px;
  float: left;
  clear: both;
  border-bottom: 1px solid #d0d0d0;
}

.right_side {
  margin-left: 32px;
  margin-right: 32px;
  float: left;
}

.right_side > div {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 419px;
  float: left;
  clear: both;
  border-bottom: 1px solid #d0d0d0;
}

.reg_area {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  float: left;
  clear: both;
}

.center {
  text-align: left;
  display: inline-block;
}

.title {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;

  span {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.05;
    letter-spacing: -0.6px;
    color: #4a4a4a;
  }
}

.menu_position {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.condition {
  float: left;
}

.item_title {
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
}

.select_long {
  width: 80px;
  height: 32px;
}

.select_short {
  width: 62px;
  height: 32px;
}

.oper_info_area > div {
  span {
    margin: 6px;
    float: left;
  }

  > div {
    float: left;
  }
}

.delivery_proxy_settings > div {
  margin-top: 8px;
  margin-bottom: 8px;
  float: left;

  > div {
    margin-left: 5px;
    margin-right: 5px;
    float: left;

    > div {
      margin-top: 4px;
      margin-bottom: 4px;
      float: right;
      clear: both;

      > div {
        float: right;
      }
    }
  }
}

.text {
  width: 128px;
  height: 32px;
  border: 1px solid #f1f1f1;
}

.delivery_proxy_fee_settings ul {
  list-style-type: none;
  float: left;
  margin: 0 12px;
  padding: 0;
  width: 100%;

  li {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    clear: both;

    > div {
      float: right;

      > div {
        width: 140px;
        float: left;
      }
    }
  }
}

.additional_cost_setting ul {
  list-style-type: none;
  float: left;
  margin: 0 12px;
  padding: 0;
  width: 100%;

  li {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    clear: both;

    div {
      float : left;
    }

    > div > div {
      label {
        font-size: 12px;
        color: #4a4a4a;
      }
    }
  }
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.day_off_area {

  label {
    font-size: 14px;
    font-weight: normal;
    color: #4a4a4a;
  }

  ul {
    list-style-type: none;
    float: left;
    margin: 0 0 0 7px;
    padding: 0;

    li {
      margin: 0 23px 0 0;
      float: left;
    }
  }
}

.title_style {
  font-size: 12px;
  font-weight: 500;
  color: #4a4a4a;
}

.light {
  font-size: 12px;
  color: #979797;
}

.number {
  width: 94px;
  height: 32px;
  background-color: #f1f1f1;
}

.btn_reg {
  width: 200px;
  height: 36px;
  border: 0;
  border-radius: 18px;
  background-color: #ff9037;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  display: inline-block;
}

.btn_light {
  width: 128px;
  height: 30px;
  border-radius: 1px;
  background-color: #ffffff;
  border: 1px solid #ff9037;
  font-size: 12px;
  color: #ff7100;
}

.btn_setting {
  margin-left: 8px;
  margin-bottom: 8px;
  width: 40px;
  height: 20px;
  border-radius: 1px;
  border: 1px solid #ff9037;
  background-color: #ffffff;
  font-size: 10px;
  font-weight: 500;
  color: #ff7100;
}

.btn_setting1 {
  margin-left: 8px;
  margin-bottom: 8px;
  width: 40px;
  height: 20px;
  border-radius: 1px;
  border: 1px solid #9b9b9b;
  background-color: #ffffff;
  font-size: 10px;
  font-weight: 500;
  color: #9b9b9b;
}

@media (max-width: 987px) {
  .bank_account_info_area {
    float: left;
    clear: both;
  }
}