$modal_width: 1100px;
$modal_height: 768px;
$url-phone: $base-url-images + "phone.png";

/* TODO 컨테이너 관련 css */
.order-detail-modal-container {
  @include bg-modal($modal_width, 30px, 30px);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.order-detail-modal {
  @include modal-attribute($modal_width, $modal_height);
  @include e('order-detail-header') {
    width: calc(100% - 58px);
    height: 70px;
    padding-left: 29px;
    padding-right: 29px;
  }

  @include e('order-detail-body') {
    width: 100%;
    height: calc(100% - 70px);
  }
}

.order-detail-header {
  @include underline;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include e('title-group') {
    display: flex;
  }

  @include e('title') {
    display: block;
    font-size: 24px;
    font-weight: 300;
    margin-right: 20px;
  }

  @include e('belong') {
    font-size: 15px;
    font-weight: 500;
    color: #979797;
    display: flex;
    align-items: flex-end;

    @include m('before') {
      &::before {
        padding-left: 5px;
        padding-right: 5px;
        content: "|";
      }
    }
  }

  @include e('close-button') {
    width: 25px;
    height: 25px;
    background-size: 16px;
  }
}

.order-detail-body {
  display: flex;
  overflow: hidden;

  @include e('order-detail-aside') {
    min-width: 220px - 26px;
    height: calc(100% - 34px);
    padding: 17px 13px;
  }

  @include e('order-detail-main-section') {
    width: calc(100% - 220px);
    height: 100%;
  }
}

.order-detail-aside {
  background-color: #4a4a4a;

  @include e('title') {
    display: block;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 5px;
  }

  @include e('table') {
    @include custom-font($color: #9b9b9b);
    width: 100%;
    margin-bottom: 22px;
  }

  @include e('th') {
    height: 15px;
    letter-spacing: -0.7px;
    text-align: left;
    padding: 5px 0 5px 10px;
  }

  @include e('td') {
    color: $color-white;
    height: 15px;
    text-align: right;
    padding: 5px 10px 5px 0;
  }

  @include e('delivery-pay-buttons') {
    width: calc(100% - 10px);
    padding: 8px 5px;
    margin-bottom: 24px;
  }

  @include e('order-status-container') {
    margin-left: -13px;
    margin-right: -13px;
    padding-left: 17px;
    padding-right: 17px;
    width: calc(100% + 26px - 34px);
    height: 53px;
  }
}

.delivery-pay-buttons {
  display: flex;
  justify-content: space-between;

  @include e('button') {
    width: 90px;
    height: 36px;
    font-size: 13px;
  }
}

.order-status-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #424242;

  @include e('current-status') {
    min-width: calc(100% / 4 - 60px / 4);
  }

  @include e('arrow') {
    background: url($url-arrow-to-right) no-repeat center center;
    background-size: 7px;
    width: 20px;
    height: 7px;
  }
}

.current-status {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.6px;
  color: #ffffff;

  @include m('orange') {
    color: $color-orange;
  }

  @include m('normal') {
    font-weight: normal;
  }

  @include e('name') {
    margin-bottom: 5px;
  }
}

.order-detail-main-section {
  overflow: hidden;

  @include e('status-button-container') {
    @include underline;
    width: 100%;
    height: 70px - 1px;
    padding-left: 26px;
  }

  @include e('delivery-info-container') {
    @include underline;
    padding: 14px 25px;
  }

  @include e('others-info-container') {
    @include underline;
    padding: 14px 25px;
  }

  @include e('order-list-container') {
    padding: 14px 25px;
  }
}

.status-button-container {
  display: flex;
  align-items: center;

  @include e('button') {
    width: 104px;
    height: 42px;
    margin-right: 9px;

    @include m('end') {
      margin-right: 0;
    }
  }
}

.delivery-info-container {
  display: flex;
  flex-direction: column;

  @include e('delivery-info-row') {
    width: 100%;
    margin-bottom: 11px;

    @include m('end') {
      margin-bottom: 0;
    }
  }
}

.delivery-info-row {
  display: flex;

  @include e('order-detail-subtitle') {
    width: 60px;

    @include m('sub') {
      width: 70px;
    }
  }

  @include e('order-detail-contents') {
    margin-right: 17px;
  }
}

.others-info-container {
  display: flex;

  @include e('others-left-container') {
    width: 200px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
  }

  @include e('others-right-container') {
    display: flex;
    flex-direction: column;
  }

  @include e('others-left-row') {
    margin-bottom: 12px;

    @include m('end') {
      margin-bottom: 0;
    }
  }

  @include e('others-right-row') {
    margin-bottom: 12px;

    @include m('end') {
      margin-bottom: 0;
    }
  }
}

.others-left-row {
  display: flex;
  align-items: center;

  @include e('order-detail-subtitle') {
    width: 99px;
  }

  @include e('order-detail-contents') {
    width: 70px;
    justify-content: flex-end;
  }
}

.others-right-row {
  display: flex;
  align-items: center;

  @include e('order-detail-subtitle') {
    width: 66px;
  }

  @include e('button') {
    width: 60px;
    height: 24px;
    font-size: 13px;
    margin-right: 6px;

    @include m('end') {
      margin-right: 0;
    }
  }
}

.order-list-container {
  display: flex;
  justify-content: space-between;

  @include e('product-container') {
    width: 306px;
  }

  @include e('order-container') {
    width: 498px;
  }
}

.product-container, .order-container {
  @include e('order-detail-subtitle') {
    margin-bottom: 10px;
  }

  @include e('thead') {
    font-size: 12px;

    td, th {
      height: 24px; //테이블 헤더의 높이 정의
    }
  }

  @include e('scroll') {
    height: 247px - 24px; //테이블 바디의 높이 정의
  }

  @include e('tbody') {
    font-size: 12px;

    tr {
      height: 24px; //테이블 바디 로우 높이 정의
    }
  }
}

.product-container {
  //테이블의 컬럼별 너비 설정
  th, td {
    &:nth-child(1) {
      width: 15%;
    }
    &:nth-child(2) {
      width: 40%;
    }
    &:nth-child(3) {
      width: 20%;
    }
  }
}

.order-container {
  td, th {
    &:nth-child(1) {
      width: 10%;
    }
    &:nth-child(2) {
      width: 10%;
    }
    &:nth-child(3) {
      width: 30%;
    }
    &:nth-child(4) {
      width: 20%;
    }
    &:nth-child(5) {
      width: 15%;
    }
  }

  @include e('tbody') {
    td, th {
      &:nth-child(2) {
        padding-left: 10px;
      }
      &:nth-child(4) {
        padding-left: 10px;
      }
      &:nth-child(6) {
        padding-left: 10px;
      }
    }
  }
}

.order-detail-subtitle {
  font-size: 13px;
  font-weight: 500;
  color: #323232;

  @include m('sub') {
    font-size: 12px;
    font-weight: normal;
    color: #9b9b9b;
  }
}

.order-detail-contents {
  display: flex;
  align-items: center;
  font-size: 13px;

  @include e('icon') {
    width: 11px;
    height: 11px;
    background: url($url-phone) no-repeat center center;
    background-size: 11px;
    margin-right: 5px;
  }
}