html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans CJK KR", sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.container {
  width: 100%;
  height: 100%;
  float: left;
}

.main {
  width: 100%;
  height: calc(100% - 45px);
  float: left;
}

aside {
  width: 209px;
  height: 100%;
  background-color: #f0f0f0;
  float: left;
}
aside .btn-notice-confirm {
  width: 100%;
  height: 55px;
  border: 0;
  border-bottom: 1px solid #dedcdc;
  text-align: left;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: #4a4a4a;
  background-color: #f0f0f0;
}
aside .btn-notice-confirm:hover {
  color: #ff9037;
}
aside .btn-notice-confirm-selected {
  width: 100%;
  height: 55px;
  border: 0;
  border-bottom: 1px solid #dedcdc;
  text-align: left;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: #ff9037;
  background-color: #FFFFFF;
}
aside .new-notice-btn-area {
  margin: 15px;
}
aside .new-notice-btn-area button {
  border: 0;
  width: 100%;
  height: 40px;
  background-color: #ff9037;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.right {
  width: calc(100% - 209px);
  height: 100%;
  float: left;
}

.head-notice-area {
  width: 100%;
  height: 100%;
  display: none;
}

.branch-notice-area {
  width: 100%;
  height: 100%;
  display: none;
}

.distrib-notice-area {
  width: 100%;
  height: 100%;
  display: none;
}

.target-area {
  float: left;
  margin: 15px;
}
.target-area > div {
  float: left;
}
.target-area span {
  font-size: 16px;
  color: #979797;
  float: left;
}
.target-area .select-area {
  margin-right: 35px;
}

.select {
  margin-left: 5px;
  margin-right: 5px;
  float: left;
  border: 1px solid #d0d0d0;
  width: 110px;
  height: 35px;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select::-ms-expand {
  display: none;
}

.checkbox-area {
  float: left;
  font-size: 16px;
  color: #4a4a4a;
}
.checkbox-area > div {
  margin-left: 30px;
  float: left;
}
.checkbox-area > div input[type=checkbox] + label span {
  margin-top: 4px;
  margin-right: 10px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 1px;
  border: 1px solid #DDDDDD;
}
.checkbox-area > div input[type=checkbox]:checked + label span {
  border: 1px solid #ff7100;
  background: url("/img/checkbox.png");
  background-size: 14px;
}
.checkbox-area > div input[type=checkbox] {
  display: none;
}

.table {
  width: 100%;
  float: left;
  clear: both;
  border-collapse: collapse;
  text-align: left;
}
.table thead td {
  background-color: #f0f0f0;
  font-size: 12px;
  font-weight: normal;
  color: #979797;
  padding: 10px;
}
.table tbody td {
  border-bottom: 1px solid #d0d0d0;
  font-size: 13px;
  font-weight: 500;
  color: #4a4a4a;
  padding: 10px;
}

.notice-wrapper-area {
  float: left;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  padding: 15px;
}

#notice-detail-area {
  display: none;
}

#notice-post-area {
  display: none;
}

#notice-modify-area {
  display: none;
}

.notice-content {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  float: left;
  border: 1px solid #d0d0d0;
  height: calc(100% - 230px);
}
.notice-content input[type=text] {
  width: 100%;
  height: 25px;
}
.notice-content tr {
  border-bottom: 1px solid #d0d0d0;
}
.notice-content #detail-createDate {
  font-size: 16px;
  color: #979797;
  float: right;
}
.notice-content thead th {
  padding-left: 20px;
  width: 40px;
  height: 55px;
  font-size: 16px;
  font-weight: normal;
  color: #979797;
}
.notice-content thead td {
  padding-left: 20px;
  padding-right: 20px;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  color: #4a4a4a;
}
.notice-content tbody td {
  vertical-align: top;
  padding: 20px;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #4a4a4a;
}
.notice-content tbody td textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
.notice-content .btn-notice-control {
  float: right;
}
.notice-content .btn-notice-control button {
  width: 90px;
  height: 36px;
  font-size: 14px;
  color: #4a4a4a;
  background: #FFFFFF;
  border: 1px solid #d0d0d0;
}

.page-control-area {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  float: left;
}
.page-control-area .btn-post {
  width: 115px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #d0d0d0;
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
  float: left;
}
.page-control-area .btn-pre {
  width: 115px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #d0d0d0;
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
  float: right;
}
.page-control-area .btn-confirm {
  width: 200px;
  height: 42px;
  border-radius: 21px;
  border: 1px solid #ff9037;
  background-color: #ff9037;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  float: right;
}

/*# sourceMappingURL=notice.css.map */
