$modal_width: 340px;
$modal_height: 545px;

/* Container CSS */
.search-modal-container {
  @include bg-modal($modal_width, 121px, 121px);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.search-modal {
  @include modal-attribute($modal_width, $modal_height);
}

.search-section {
  @include underline;
  width: calc(100% - 15px - 15px);
  height: 64px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include e('search-form') {
    width: 181px;
    height: 40px;

    @include m('shop') {
      width: 100%;
    }
  }
}

.result-section {
  @include scroll-view;
  width: 100%;
  height: 359px - 23px;

  @include e('radio-item') {
    @include underline;
    width: calc(100% - 34px);
    height: 40px;
    padding-left: 17px;
    padding-right: 17px;
    display: flex;
    align-items: center;
  }

  @include e('shape') {
    background-size: 20px;
    padding-left: 38px;
  }
}

.submit-section {
  padding: 23px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include e('button') {
    width: 300px;
    height: 46px;
    font-size: 16px;
    font-weight: bold;
    color: $color-white;
  }
}

/* BLOCK css */
.selector {
  width: 120px;
  height: 40px;
  border: 1px solid $color_gray_border;
  background: #ffffff url($url_select_btn_bright) no-repeat right center;
  background-size: 40px 40px;
  padding-left: 12px;

  -webkit-appearance: none; /* 화살표 없애기 for chrome*/
  -moz-appearance: none; /* 화살표 없애기 for firefox*/
  appearance: none; /* 화살표 없애기 공통*/
  &::-ms-expand {
    display: none; /* 화살표 없애기 for IE10, 11*/
  }
}



