@import "_common";
@import "_mileage_modal";

.logo {
  float: left;
  margin-top: 8px;
  margin-left: 13px;
  margin-right: 13px;
}

.header {
  background-color: #282828;
  float: left;
  width: 100%;

  nav {
    float: left;

    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      list-style-type: none;
      color: #FFFFFF;
      float: left;

      li {
        margin-top: 9px;
        margin-bottom: 9px;
        padding-left: 24px;
        padding-right: 24px;
        font-size: 16px;
        font-weight: 500;
        float: left;

        a {
          color: #FFFFFF;
          text-decoration: none;
        }

        &:hover a {
          color: #ff7100;
        }
      }
    }
  }

  .header-right {
    margin-top: 6px;
    margin-bottom: 6px;
    float: right;

    .button {
      margin-left: 10px;
      margin-right: 10px;
      border: 1px solid #ff7100;
      width: 80px;
      height: 28px;
      background-color: #ff7100;
      font-size: 14px;
      font-weight: bold;
      color: #ffffff;
      float: left;
    }
  }
}

.point-area {
  margin-left: 6px;
  margin-right: 6px;
  padding: 5px 10px;
  width: 157px;
  height: 20px;
  border-radius: 24px;
  background-color: #141414;
  float: left;

  span {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    float: right;
  }
}