$mileage-modal-width: 360px;
$mileage-modal-height: 640px;
$transfer-modal-width: 340px;
$transfer-modal-height: 545px;

/* Container */
.mileage-modal-container {
  $mileage-modal-width: 360px;
  $mileage-modal-height: 640px;
  @include bg-modal($mileage-modal-width, 64px, 64px);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.mileage-modal {
  @include modal-attribute($mileage-modal-width, $mileage-modal-height);
}

.mileage-header {
  width: calc(100% - 15px);
  height: 32px;
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1f1f1f;

  @include e('close-button') {
    width: 24px;
    height: 24px;
    background-size: 14px;
  }
}

.mileage-status-container {
  width: 100%;
  min-height: 160px - 32px;
  background-color: $color-wood;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include e('title') {
    display: block;
    font-family: AppleSDGothicNeo;
    margin-bottom: 4px;
    font-weight: 500;
    color: #9b9b9b;
  }

  @include e('mileage') {
    font-size: 24px;
    font-weight: bold;
    color: $color-orange;
    font-family: Roboto;
  }
}

.process-button-container {
  width: 100%;
  height: 53px;
  display: flex;
}

.withdraw-section, .transfer-section {
  width: 100%;
  flex:1;
  display: none;
  flex-direction: column;
}

.gray-container {
  width: calc(100% - 60px);
  height: 100px - 2px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  background-color: #f0f0f0;

  @include e('title') {
    color: #979797;
    margin-bottom: 9px;
  }

  @include e('text') {
    width: 300px - 22px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: $color-gray-font;
  }
}

.transfer-info-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include e('search-form') {
    width: 190px;
    height: 40px - 2px;
  }
}

.io-container {
  width: calc(100% - 60px);
  padding-top: 17px;
  padding-left: 30px;
  padding-right: 30px;

  @include e('io-row') {
    margin-bottom: 14px;

    @include m('end') {
      margin-bottom: 0;
    }
  }
}

.io-row {
  width: 100%;
  height: 36px;
  display: flex;

  @include e('subtitle') {
    width: 94px;
    height: 100%;
    line-height: 1.29;
    display: flex;
    align-items: center;
  }

  @include e('input') {
    width:100%;
    height: 100%;
    text-align: right;
    border: none;
    font:inherit;
    color:inherit;
    &:focus{
      outline: none;
    }
  }

  @include e('text') {
    width: calc(100% - 94px - 2px);
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    text-align: right;

    @include m('with-button') {
      width: calc(100% - 94px - 74px - 3px);
      border-right: none;
    }

    @include m('left') {
      text-align: left;
    }

    @include m('red') {
      color: #d0021b;
    }
  }

  @include e('button') {
    width: 74px;
    height: 100%;
    font-weight: 500;
    line-height: 1.43;
  }
}

.mileage-footer {
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include e('button') {
    width: 300px;
    height: 46px;
    font-size: 16px;
    font-weight: 500;
  }
}

/* BLOCK */
.select-button {
  $root: &;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;

  @include e('input') {
    margin: 0;
    -webkit-appearance: none; /* 라디오 버튼 없애기 for chrome*/
    -moz-appearance: none; /* 라디오 버튼 없애기 for firefox*/
    appearance: none; /* 라디오 버튼 없애기 공통*/
    display: none; /* 라디오 버튼 없애기 for IE10, 11*/

    /* 라디오 버튼 선택된 경우 */
    &:checked ~ #{$root}__shape {
      font-size: 16px;
      font-weight: 500;
      color: $color-orange;
      line-height: 1.13;
      border-bottom: 5px solid $color-orange;
    }
  }

  /* 라디오 버튼에서 선택되지 않을 시(기본 버튼 정의) */
  @include e('shape') {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: $color-gray-font;
    line-height: 1.13;
    border-bottom: 5px solid $color-white;
  }
}

.group-selector {
  width: 100px;
  height: 40px;
  border: 1px solid $color-gray-border;
  background: $color-white url($url-select-btn-bright) no-repeat 95% center;
  background-size: 20px 20px;
  -webkit-appearance: none; /* 화살표 없애기 for chrome*/
  -moz-appearance: none; /* 화살표 없애기 for firefox*/
  appearance: none; /* 화살표 없애기 공통*/
  &::-ms-expand {
    display: none; /* 화살표 없애기 for IE10, 11*/
  }

  padding-left: 15px;
}

/* 송금대상 모달 컴포넌트 */
.transfer-modal-container {
  @include bg-modal($transfer-modal-width, 150px, 71px);
  padding-left: calc(50% + #{$mileage-modal-width / 2} + 10px);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(255, 255, 255, 0.0);
}

.transfer-modal {
  @include modal-attribute($transfer-modal-width, $transfer-modal-height);
}

.transfer-search-section {
  @include underline;
  width: calc(100% - 30px);
  padding: 12px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include e('group-selector') {
    width: 100%;
    margin-bottom: 8px;
  }
}

.group-selector-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  @include e('group-selector') {
    width: 149px;
  }
}

.transfer-list-container {
  @include scroll-view;
  width: 100%;
  height: calc(100% - 114px - 96px - 48px);

  @include e('radio-item') {
    @include underline;
    width: calc(100% - 34px);
    height: 39px;
    padding-left: 17px;
    padding-right: 17px;
    display: flex;
    align-items: center;
  }

  @include m('distrib') {
    height: calc(100% - 114px - 96px);
  }
}

