#modal {
  position: fixed;
  visibility: hidden;
}

.detail {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: left;
  clear: both;
  background-color: #FFFFFF;

  th {
    font-weight: normal;
  }
}

.detail-header {
  padding: 17px 23px;
  width: calc(100% - 46px);
  float: left;
  clear: both;
  font-size: 24px;
  font-weight: 300;
  color: #4a4a4a;
}

.aside {
  width: 160px;
  background-color: #4a4a4a;
  float: left;
  color: #FFFFFF;
  padding: 15px;
  display: block;
}

.section {
  width: calc(100% - 200px);
  float: left;
  display: block;
  border-top: 1px solid #d0d0d0;
}

.information {
  width: calc(100% - 60px);
  padding: 8px 29px;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  float: left;
  clear: both;
}

.item-details {
  width: calc(100% - 60px);
  padding: 19px 29px 20px;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  float: left;
  clear: both;
}

.order-history {
  width: calc(100% - 60px);
  padding: 19px 29px 20px;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  float: left;
  clear: both;
}

.subsection-title {
  font-size: 14px;
  font-weight: bold;
  color: #323232;
  padding-bottom: 10px;
  float: left;
}

.table2 {
  text-align: left;
  float: left;
  font-size: 14px;
  font-weight: normal;

  th {
    padding: 3px 14px;
    color: #9b9b9b;
  }

  td {
    padding: 3px 14px;
    color: #4a4a4a;
  }
}

.order-history table, .item-details table {
  clear: both;
}


.table {
  text-align: left;
  border-collapse: collapse;
  border: 1px solid #d0d0d0;
  float: left;
  clear: both;

  thead {
    background-color: #eaeaea;
    font-size: 12px;
    font-weight: normal;
    color: #4a4a4a;
    border-top: 1px solid #eaeaea;

    td, th {
      border-bottom: 1px solid #eaeaea;
      padding: 3px 40px 3px 10px;
    }
  }

  tbody {
    font-size: 14px;
    font-weight: normal;
    color: #1f1f1f;

    td, th {
      border-bottom: 1px solid #eaeaea;
      padding: 5px 40px 5px 10px;
    }
  }

}


.btn-unselected {
  width: 60px;
  height: 24px;
  border: 1px solid #9b9b9b;
  background-color: #FFFFFF;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 500;
  color: #4a4a4a;
}

.btn-selected {
  width: 60px;
  height: 24px;
  border: 1px solid #ff7100;
  background-color: #FFFFFF;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 500;
  color: #ff7100;
}

.btn {
  width: 140px;
  height: 32px;
  border: 1px solid #919191;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 2px;
  margin-bottom: 2px;
}


.aside-subsection-title {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  float: left;
  margin-bottom: 6px;
}

.aside-table {
  text-align: left;
  width: 150px;
  font-size: 14px;
  font-weight: normal;

  th {
    letter-spacing: -0.7px;
    color: #9b9b9b;
  }

  td {
    color: #ffffff;
    text-align: right;
  }
}

.aside-btn-unselected {
  width: 68px;
  height: 24px;
  border: 1px solid #9b9b9b;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
}

.aside-btn-selected {
  width: 68px;
  height: 24px;
  border: 1px solid #ff9037;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  font-size: 13px;
  font-weight: 500;
  color: #ff9037;
}

.basic-inform {
  margin-bottom: 15px;
  width: 150px;
  padding-left: 5px;
  float: left;
}

.delivery-cost {
  width: 150px;
  padding-left: 6px;
  margin-bottom: 34px;
  float: left;
}

.delivery-pay {
  width: 150px;
  padding-left: 6px;
  margin-bottom: 32px;
  float: left;
}

.delivery-status {
  width: 150px;
  padding-left: 6px;
  margin-bottom: 15px;
  float: left;
}

.change-status {
  width: 150px;
  padding-left: 6px;
  margin-bottom: 15px;
  float: left;
}

.starting-point {
  width: 500px;
  float: left;
  padding-top: 11px;
  padding-bottom: 11px;
}

.rider-inform {
  width: 500px;
  float: left;
  padding-top: 11px;
  padding-bottom: 11px;
}

.destination {
  width: 500px;
  float: left;
  clear: both;
  padding-top: 11px;
  padding-bottom: 11px;
}

.delivery-memo {
  width: 500px;
  float: left;
  padding-top: 11px;
  padding-bottom: 11px;
}

.delivery-status {
  text-align: center;

  ul {
    padding: 0;
    display: inline-block;

    li {
      font-size: 12px;
      display: inline;
      letter-spacing: -0.6px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.btn-close {
  float: right;
}
