@charset "UTF-8";
#modal {
  position: fixed;
  visibility: hidden;
}

/* TODO mixin 정의 */
/* 스크롤 뷰 */
/* 커스톰 폰트 */
/* 컨테이너 분할선 */
/* 모달 투명 배경 */
/* 지불방법 선택 버튼 */
/* 상태 선택 버튼 */
/* 결제 방법 선택 버튼 */
/* TODO 컨테이너 관련 css */
.modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px calc(50% - 550px);
}

.detail-modal-container {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  width: 1100px;
  height: 768px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.detail-header {
  border-bottom: 1px solid #a9a9a9a9;
  width: calc(100% - 58px);
  height: 70px;
  padding-left: 29px;
  padding-right: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-header .title_container {
  height: 100%;
  display: flex;
  align-items: center;
}

.body {
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  overflow: hidden;
}

.aside {
  min-width: 194px;
  height: calc(100% - 34px);
  padding: 17px 13px;
  background-color: #4a4a4a;
}

.main-section {
  width: calc(100% - 220px);
  height: 100%;
  overflow: hidden;
}

.status-container {
  border-bottom: 1px solid #a9a9a9a9;
  height: 69px;
  padding-left: 26px;
  display: flex;
  align-items: center;
}

.inform-container {
  width: 100%;
  margin-bottom: 20px;
}

.delivery-pay-container {
  width: 100%;
  margin-bottom: 20px;
}
.delivery-pay-container .delivery-pay-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.delivery-status-container {
  width: calc(100% + 26px);
  margin-left: -13px;
  margin-right: -13px;
}
.delivery-status-container .aside-subsection-title {
  margin-left: 13px;
}
.delivery-status-container .aside-status-container {
  margin-top: 8px;
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #424242;
  padding-left: 0;
}
.delivery-status-container .aside-status-container .current-status-container {
  width: calc(100% / 4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.delivery-status-container .aside-status-container .current-status-container::before {
  content: ">";
  padding-right: 10px;
  color: #6d6d6d;
}
.delivery-status-container .aside-status-container .current-status-container:first-child {
  width: auto;
  margin-left: 15px;
  margin-right: 5px;
}
.delivery-status-container .aside-status-container .current-status-container:first-child::before {
  content: none;
}
.delivery-status-container .aside-status-container .current-status-container:last-child::after {
  content: "";
  padding-right: 10px;
}

.delivery-info-container {
  border-bottom: 1px solid #a9a9a9a9;
  height: 181px;
  display: flex;
  flex-direction: column;
  padding: 14px 25px;
}

.delivery-contents-container {
  display: flex;
  width: 100%;
  margin-bottom: 11px;
}
.delivery-contents-container:nth-child(2) {
  height: 180px;
}
.delivery-contents-container:last-child {
  margin-bottom: 0;
}
.delivery-contents-container .contents-sub-title {
  width: 60px;
}

.others-info-container {
  border-bottom: 1px solid #a9a9a9a9;
  height: 81px;
  display: flex;
  padding: 14px 25px;
}
.others-info-container .left-container {
  width: 200px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
}
.others-info-container .right-container {
  display: flex;
  flex-direction: column;
}

.left-others-contents {
  width: 100%;
  display: flex;
  margin-bottom: 11px;
}
.left-others-contents:last-child {
  margin-bottom: 0;
}
.left-others-contents .contents-sub-title {
  flex: 1;
}

.right-others-contents {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}
.right-others-contents:last-child {
  margin-bottom: 0;
}
.right-others-contents .contents-sub-title {
  width: 66px;
}

.list-container {
  display: flex;
  justify-content: space-between;
  padding: 14px 25px;
}

.product-container .table-container {
  min-width: 306px;
}
.product-container .contents-sub-title {
  margin-bottom: 10px;
}
.product-container th:nth-child(1), .product-container td:nth-child(1) {
  width: 15%;
}
.product-container th:nth-child(2), .product-container td:nth-child(2) {
  width: 40%;
}
.product-container th:nth-child(3), .product-container td:nth-child(3) {
  width: 20%;
}

.order-container .contents-sub-title {
  margin-bottom: 10px;
}
.order-container .table-container {
  min-width: 498px;
}
.order-container td:nth-child(1), .order-container th:nth-child(1) {
  width: 10%;
}
.order-container td:nth-child(2), .order-container th:nth-child(2) {
  width: 10%;
}
.order-container td:nth-child(3), .order-container th:nth-child(3) {
  width: 30%;
}
.order-container td:nth-child(4), .order-container th:nth-child(4) {
  width: 20%;
}
.order-container td:nth-child(5), .order-container th:nth-child(5) {
  width: 15%;
}

/* TODO 요소 관련 css */
.title {
  font-family: NotoSansCJKkr;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-size: 24px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  margin-right: 20px;
}

.belong {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 15px;
  color: #979797;
  line-height: normal;
  letter-spacing: normal;
}
.belong:nth-child(2)::before, .belong:first-child::before {
  content: none;
}
.belong::before {
  padding-left: 5px;
  padding-right: 5px;
  content: "|";
}

.btn-close {
  background-color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  border: none;
}

.aside-subsection-title {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
}

.inform-table {
  width: 100%;
  margin-top: 5px;
}
.inform-table th {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #9b9b9b;
  line-height: normal;
  letter-spacing: normal;
  height: 15px;
  letter-spacing: -0.7px;
  text-align: left;
  padding: 5px 0 5px 10px;
}
.inform-table td {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  height: 15px;
  text-align: right;
  padding: 5px 10px 5px 0;
}

.aside-btn-unselected {
  width: 90px;
  height: 36px;
  background: rgba(0, 0, 0, 0);
  border-radius: 2px;
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 13px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  border: 1px solid #9b9b9b;
}

.aside-btn-selected {
  width: 90px;
  height: 36px;
  background: rgba(0, 0, 0, 0);
  border-radius: 2px;
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 13px;
  color: #ff9037;
  line-height: normal;
  letter-spacing: normal;
  border: 1px solid #ff9037;
}

.fill-button {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  width: 104px;
  height: 42px;
  border-radius: 21px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  margin-right: 9px;
  padding: 1px;
  text-align: center;
  background-color: #ff9037;
  border: 1px solid #ff9037;
}

.border-button {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  width: 104px;
  height: 42px;
  border-radius: 21px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  margin-right: 9px;
  padding: 1px;
  text-align: center;
  border: 1px solid #ff9037;
  color: #ff9037;
}

.default-button {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  width: 104px;
  height: 42px;
  border-radius: 21px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  margin-right: 9px;
  padding: 1px;
  text-align: center;
  border: 1px solid #979797;
  color: #979797;
}

.contents-sub-title {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 13px;
  color: #323232;
  line-height: normal;
  letter-spacing: normal;
}

.contents {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 13px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
}
.contents:not(:nth-child(2))::before {
  content: "";
  margin-right: 20px;
}

.call_icon {
  width: 11px;
  height: 11px;
  text-align: center;
  margin-right: 5px;
}

.current-status-default {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.current-status-default span:first-child {
  margin-bottom: 5px;
}

.current-status-color {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #ff9037;
  line-height: normal;
  letter-spacing: normal;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.current-status-color span:first-child {
  margin-bottom: 5px;
}

.contents-table {
  margin-top: -5px;
}
.contents-table th, .contents-table td {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  padding-top: 5px;
  padding-bottom: 5px;
}
.contents-table th {
  text-align: left;
  font-size: 12px;
  color: #9b9b9b;
  padding-right: 10px;
}
.contents-table td {
  font-size: 13px;
  color: #4a4a4a;
}

.pay-type-default-button {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 13px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  width: 60px;
  height: 24px;
  background-color: #ffffff;
  margin-right: 10px;
  border: 1px solid #999999;
}

.pay-type-color-button {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 13px;
  color: #ff9037;
  line-height: normal;
  letter-spacing: normal;
  width: 60px;
  height: 24px;
  background-color: #ffffff;
  margin-right: 10px;
  border: 1px solid #ff9037;
}

.table-container {
  height: 240px;
  border: 1px solid #aaaaaa;
}
.table-container table {
  min-width: 100%;
  border-collapse: collapse;
}
.table-container table td, .table-container table th {
  height: 24px;
  text-align: center;
}
.table-container table thead {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  background-color: #eaeaea;
}
.table-container table tbody {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #1f1f1f;
  line-height: normal;
  letter-spacing: normal;
}
.table-container table tbody tr {
  border-bottom: 0.5px solid #aaaaaa;
}
.table-container table tbody tr:last-child {
  border-bottom: 0;
}
.table-container .scroll-table {
  height: 216px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  /*스크롤 감추기*/
  /*크롬전용 커스톰 스크롤*/
}
.table-container .scroll-table::-webkit-scrollbar {
  width: 3px;
  background: none;
}
.table-container .scroll-table::-webkit-scrollbar-thumb {
  background: #302c2c;
  opacity: 0.4;
}
.table-container .scroll-table::-webkit-scrollbar-track {
  background: #f8f7fb;
}

/*# sourceMappingURL=delivery_details.css.map */
