@charset "UTF-8";
/* TODO 사용자 정의 변수 */
/* 컬러 */
/* 이미지 */
/* TODO mixin 정의 */
/* 스크롤 뷰 */
/* 커스톰 폰트 */
/* 모달 투명 배경 */
/* 모달 컨테이너 */
/* 분할선 */
/* 버튼 기본 모양 정의 */
/* TODO Component 정의 */
.rect-fill-orange {
  background-color: #ff9037;
  border: 1px solid #ff9037;
  border-radius: 0;
  padding: 0;
}

.rect-empty-orange {
  background-color: #ffffff;
  border: 1px solid #ff9037;
  border-radius: 0;
  padding: 0;
}

.rect-empty-white {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 0;
  padding: 0;
}

.round-rect-fill-orange {
  background-color: #ff9037;
  border: 1px solid #ff9037;
  border-radius: 21px;
  padding: 0;
}

.round-rect-empty-orange {
  background-color: #ffffff;
  border: 1px solid #ff9037;
  border-radius: 21px;
  padding: 0;
}

.round-rect-empty-white {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 21px;
  padding: 0;
}

.rect-white {
  background-color: #ffffff;
  border: 1px solid #4a4a4a;
  border-radius: 0;
  padding: 0;
}

.rect-black {
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a;
  border-radius: 0;
  padding: 0;
}

.edit-box {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 0;
  padding: 0;
}

.search-box {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 0;
  padding: 0;
  display: flex;
}
.search-box > input {
  height: 100%;
  border: none;
  padding-left: 16px;
}
.search-box > input::placeholder {
  color: #979797;
}
.search-box > button {
  height: 100%;
  background: #ffffff url("/img/search_orange.png") no-repeat center center;
  border: none;
}

.close-button-white {
  background: rgba(0, 0, 0, 0) url("/img/close_white.png") no-repeat center center;
  background-size: 100%;
  border: none;
  padding: 0;
}

.close-button-black {
  background: rgba(0, 0, 0, 0) url("/img/close_black.png") no-repeat center center;
  background-size: 100%;
  border: none;
  padding: 0;
}

.radio-items:hover input[type=radio] ~ .check-marker {
  /* 라디오 버튼 덮힐 경우 */
}
.radio-items input[type=radio] {
  margin: 0;
  -webkit-appearance: none;
  /* 라디오 버튼 없애기 for chrome*/
  -moz-appearance: none;
  /* 라디오 버튼 없애기 for firefox*/
  appearance: none;
  /* 라디오 버튼 없애기 공통*/
  display: none;
  /* 라디오 버튼 없애기 for IE10, 11*/
}
.radio-items input[type=radio]:checked ~ .check-marker {
  /* 라디오 버튼 선택된 경우 */
}
.radio-items .check-marker {
  /* 라디오 버튼 기본 모양 */
}

#modal {
  position: fixed;
  visibility: hidden;
}

/* 지불방법 선택 버튼 */
/* 상태 선택 버튼 */
/* 결제 방법 선택 버튼 */
/* TODO 컨테이너 관련 css */
.order-detail-modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px calc(50% - 550px) 30px;
  /* TODO 요소 관련 css */
}
.order-detail-modal-background .order-detail-modal-container {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  width: 1100px;
  height: 768px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}
.order-detail-modal-background .detail-header {
  border-bottom: 1px solid #d0d0d0;
  width: calc(100% - 58px);
  height: 70px;
  padding-left: 29px;
  padding-right: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-detail-modal-background .detail-header .title-container {
  height: 100%;
  display: flex;
  align-items: center;
}
.order-detail-modal-background .detail-header .close-button-black {
  width: 20px;
  height: 20px;
}
.order-detail-modal-background .body {
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  overflow: hidden;
}
.order-detail-modal-background .aside {
  min-width: 194px;
  height: calc(100% - 34px);
  padding: 17px 13px;
  background-color: #4a4a4a;
}
.order-detail-modal-background .main-section {
  width: calc(100% - 220px);
  height: 100%;
  overflow: hidden;
}
.order-detail-modal-background .status-container {
  border-bottom: 1px solid #d0d0d0;
  height: 69px;
  padding-left: 26px;
  display: flex;
  align-items: center;
}
.order-detail-modal-background .inform-container {
  width: 100%;
  margin-bottom: 20px;
}
.order-detail-modal-background .delivery-pay-container {
  width: 100%;
  margin-bottom: 20px;
}
.order-detail-modal-background .delivery-pay-container .delivery-pay-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.order-detail-modal-background .delivery-status-container {
  width: calc(100% + 26px);
  margin-left: -13px;
  margin-right: -13px;
}
.order-detail-modal-background .delivery-status-container .aside-subsection-title {
  margin-left: 13px;
}
.order-detail-modal-background .delivery-status-container .aside-status-container {
  margin-top: 8px;
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #424242;
  padding-left: 0;
}
.order-detail-modal-background .delivery-status-container .aside-status-container .current-status-container {
  width: calc(100% / 4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-detail-modal-background .delivery-status-container .aside-status-container .current-status-container::before {
  content: ">";
  padding-right: 10px;
  color: #6d6d6d;
}
.order-detail-modal-background .delivery-status-container .aside-status-container .current-status-container:first-child {
  width: auto;
  margin-left: 15px;
  margin-right: 5px;
}
.order-detail-modal-background .delivery-status-container .aside-status-container .current-status-container:first-child::before {
  content: none;
}
.order-detail-modal-background .delivery-status-container .aside-status-container .current-status-container:last-child::after {
  content: "";
  padding-right: 10px;
}
.order-detail-modal-background .delivery-info-container {
  border-bottom: 1px solid #d0d0d0;
  height: 181px;
  display: flex;
  flex-direction: column;
  padding: 14px 25px;
}
.order-detail-modal-background .delivery-contents-container {
  display: flex;
  width: 100%;
  margin-bottom: 11px;
}
.order-detail-modal-background .delivery-contents-container:nth-child(2) {
  height: 180px;
}
.order-detail-modal-background .delivery-contents-container:last-child {
  margin-bottom: 0;
}
.order-detail-modal-background .delivery-contents-container .contents-sub-title {
  width: 60px;
}
.order-detail-modal-background .others-info-container {
  border-bottom: 1px solid #d0d0d0;
  height: 81px;
  display: flex;
  padding: 14px 25px;
}
.order-detail-modal-background .others-info-container .left-container {
  width: 200px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
}
.order-detail-modal-background .others-info-container .right-container {
  display: flex;
  flex-direction: column;
}
.order-detail-modal-background .left-others-contents {
  width: 100%;
  display: flex;
  margin-bottom: 11px;
}
.order-detail-modal-background .left-others-contents:last-child {
  margin-bottom: 0;
}
.order-detail-modal-background .left-others-contents .contents-sub-title {
  flex: 1;
}
.order-detail-modal-background .right-others-contents {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}
.order-detail-modal-background .right-others-contents:last-child {
  margin-bottom: 0;
}
.order-detail-modal-background .right-others-contents .contents-sub-title {
  width: 66px;
}
.order-detail-modal-background .list-container {
  display: flex;
  justify-content: space-between;
  padding: 14px 25px;
}
.order-detail-modal-background .product-container .table-container {
  min-width: 306px;
}
.order-detail-modal-background .product-container .contents-sub-title {
  margin-bottom: 10px;
}
.order-detail-modal-background .product-container th:nth-child(1), .order-detail-modal-background .product-container td:nth-child(1) {
  width: 15%;
}
.order-detail-modal-background .product-container th:nth-child(2), .order-detail-modal-background .product-container td:nth-child(2) {
  width: 40%;
}
.order-detail-modal-background .product-container th:nth-child(3), .order-detail-modal-background .product-container td:nth-child(3) {
  width: 20%;
}
.order-detail-modal-background .order-container .contents-sub-title {
  margin-bottom: 10px;
}
.order-detail-modal-background .order-container .table-container {
  min-width: 498px;
}
.order-detail-modal-background .order-container td:nth-child(1), .order-detail-modal-background .order-container th:nth-child(1) {
  width: 10%;
}
.order-detail-modal-background .order-container td:nth-child(2), .order-detail-modal-background .order-container th:nth-child(2) {
  width: 10%;
}
.order-detail-modal-background .order-container td:nth-child(3), .order-detail-modal-background .order-container th:nth-child(3) {
  width: 30%;
}
.order-detail-modal-background .order-container td:nth-child(4), .order-detail-modal-background .order-container th:nth-child(4) {
  width: 20%;
}
.order-detail-modal-background .order-container td:nth-child(5), .order-detail-modal-background .order-container th:nth-child(5) {
  width: 15%;
}
.order-detail-modal-background .title {
  font-family: NotoSansCJKkr;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-size: 24px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  margin-right: 20px;
}
.order-detail-modal-background .belong {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 15px;
  color: #979797;
  line-height: normal;
  letter-spacing: normal;
}
.order-detail-modal-background .belong:nth-child(2)::before, .order-detail-modal-background .belong:first-child::before {
  content: none;
}
.order-detail-modal-background .belong::before {
  padding-left: 5px;
  padding-right: 5px;
  content: "|";
}
.order-detail-modal-background .aside-subsection-title {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
}
.order-detail-modal-background .inform-table {
  width: 100%;
  margin-top: 5px;
}
.order-detail-modal-background .inform-table th {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #9b9b9b;
  line-height: normal;
  letter-spacing: normal;
  height: 15px;
  letter-spacing: -0.7px;
  text-align: left;
  padding: 5px 0 5px 10px;
}
.order-detail-modal-background .inform-table td {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  height: 15px;
  text-align: right;
  padding: 5px 10px 5px 0;
}
.order-detail-modal-background .aside-btn-unselected {
  width: 90px;
  height: 36px;
  background: rgba(0, 0, 0, 0);
  border-radius: 2px;
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 13px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  border: 1px solid #9b9b9b;
}
.order-detail-modal-background .aside-btn-selected {
  width: 90px;
  height: 36px;
  background: rgba(0, 0, 0, 0);
  border-radius: 2px;
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 13px;
  color: #ff9037;
  line-height: normal;
  letter-spacing: normal;
  border: 1px solid #ff9037;
}
.order-detail-modal-background .fill-button {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  width: 104px;
  height: 42px;
  border-radius: 21px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  margin-right: 9px;
  padding: 1px;
  text-align: center;
  background-color: #ff9037;
  border: 1px solid #ff9037;
}
.order-detail-modal-background .border-button {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  width: 104px;
  height: 42px;
  border-radius: 21px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  margin-right: 9px;
  padding: 1px;
  text-align: center;
  border: 1px solid #ff9037;
  color: #ff9037;
}
.order-detail-modal-background .default-button {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  width: 104px;
  height: 42px;
  border-radius: 21px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  margin-right: 9px;
  padding: 1px;
  text-align: center;
  border: 1px solid #979797;
  color: #979797;
}
.order-detail-modal-background .contents-sub-title {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 13px;
  color: #323232;
  line-height: normal;
  letter-spacing: normal;
}
.order-detail-modal-background .contents {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 13px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
}
.order-detail-modal-background .contents:not(:nth-child(2))::before {
  content: "";
  margin-right: 20px;
}
.order-detail-modal-background .call_icon {
  width: 11px;
  height: 11px;
  text-align: center;
  margin-right: 5px;
}
.order-detail-modal-background .current-status-default {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.order-detail-modal-background .current-status-default span:first-child {
  margin-bottom: 5px;
}
.order-detail-modal-background .current-status-color {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #ff9037;
  line-height: normal;
  letter-spacing: normal;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.order-detail-modal-background .current-status-color span:first-child {
  margin-bottom: 5px;
}
.order-detail-modal-background .contents-table {
  margin-top: -5px;
}
.order-detail-modal-background .contents-table th, .order-detail-modal-background .contents-table td {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  padding-top: 5px;
  padding-bottom: 5px;
}
.order-detail-modal-background .contents-table th {
  text-align: left;
  font-size: 12px;
  color: #9b9b9b;
  padding-right: 10px;
}
.order-detail-modal-background .contents-table td {
  font-size: 13px;
  color: #4a4a4a;
}
.order-detail-modal-background .pay-type-default-button {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 13px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  width: 60px;
  height: 24px;
  background-color: #ffffff;
  margin-right: 10px;
  border: 1px solid #999999;
}
.order-detail-modal-background .pay-type-color-button {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 13px;
  color: #ff9037;
  line-height: normal;
  letter-spacing: normal;
  width: 60px;
  height: 24px;
  background-color: #ffffff;
  margin-right: 10px;
  border: 1px solid #ff9037;
}
.order-detail-modal-background .table-container {
  height: 240px;
  border: 1px solid #aaaaaa;
}
.order-detail-modal-background .table-container table {
  min-width: 100%;
  border-collapse: collapse;
}
.order-detail-modal-background .table-container table td, .order-detail-modal-background .table-container table th {
  height: 24px;
  text-align: center;
}
.order-detail-modal-background .table-container table thead {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  background-color: #eaeaea;
}
.order-detail-modal-background .table-container table tbody {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #1f1f1f;
  line-height: normal;
  letter-spacing: normal;
}
.order-detail-modal-background .table-container table tbody tr {
  border-bottom: 0.5px solid #aaaaaa;
}
.order-detail-modal-background .table-container table tbody tr:last-child {
  border-bottom: 0;
}
.order-detail-modal-background .table-container .scroll-table {
  height: 216px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  /*크롬전용 커스톰 스크롤*/
}
.order-detail-modal-background .table-container .scroll-table::-webkit-scrollbar {
  width: 3px;
  background: none;
}
.order-detail-modal-background .table-container .scroll-table::-webkit-scrollbar-thumb {
  background: #aeaeae;
  opacity: 0.4;
}
.order-detail-modal-background .table-container .scroll-table::-webkit-scrollbar-track {
  background: #f8f7fb;
}

/*# sourceMappingURL=delivery_details.css.map */
