@charset "UTF-8";

/* Body */
body {
  font-family: 'Noto Sans CJK KR', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  font-style: normal;
  font-weight: 200;
}

.window-parent {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  float: left;
}

/* Hero Section */
.hero {
  width: 100%;
  background-color: #555555;
  font-size: 12px;
  float: left;

  table tr th {
    font-weight: normal;
  }

  input[type="text"],
  input[type="search"] {
    color: #FFFFFF;
    border: hidden;
    height: 28px;
    background-color: #373737;
  }

  button,
  input[type="button"],
  input[type="submit"] {
    background-color: #373737;
    color: #ff7100;
    font-size: 14px;
    outline: hidden;
    border: 1px solid #ff7100;
  }

  input[type="checkbox"] {
    display: none;
    float: left;

    + label {
      float: left;
      margin-right : 5px;

      span {
        margin-top: 4px;
        margin-right: 5px;
        float: left;
        width: 14px;
        height: 14px;
        border-radius: 1px;
        border: 1px solid #515151;
        background-color: #373737;
      }
    }

    &:checked + label span {
      border: 1px solid #ff7100;
      background: url("/img/checkbox.png") no-repeat;
      background-size: 14px;
    }
  }

  select {
    font-size: 14px;
    height: 30px;
    border: hidden;
    color: #FFFFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 28px;
    background: #373737 url(../img/select_btn.png) no-repeat 100% 50%;
    background-size: 30px;

    &::-ms-expand {
      display: none;
    }

    option {
      color: #FFFFFF;
      background-color: #4a4a4a;
    }
  }
}

.top-area {
  width: 100%;
  float: left;
}

.search-area {
  width: 535px;
  margin: 10px;
  float: left;
}

.search-condition-area {
  margin-bottom: 10px;
  padding: 5px 0;
  background-color: #444444;
  float: left;
  width: 100%;
  border: 1px solid #3f3f3f;
  color: #c1c1c1;
  font-size: 12px;

  label {
    color: #FFFFFF;
    font-size: 14px;
  }

  span {
    line-height: 20px;
    float: left;
    text-align: left;
  }

  select {
    padding-left: 7px;
    width: 170px;
  }

  > div {
    width: calc(100% - 20px);
    padding: 3px 10px;
    float: left;
    clear: both;

    > div {
      float: left;
    }
  }

  .distrib-area {
    margin-right: 10px;
    width: calc(50% - 10px);

    input[type="text"] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .branch-area {
    margin-left: 10px;
    width: calc(50% - 10px);

    input[type="text"] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .select-start-date,
  .select-end-date {
    width: calc(50% - 35px);
    height: 30px;
    padding-right: 30px;
    padding-left: 10px;
    background: url(../img/select_btn.png) no-repeat 100% 50%;
    background-size: 30px;
    float: left;
  }

  .item {
    float: left;

    .item-content {
      width: calc(100% - 50px);
      float: right;

      span {
        text-align: center;
      }
    }
  }
}

.keyword-area {
  padding: 5px 8px;
  width: calc(100% - 16px);
  border: 1px solid #3f3f3f;
  background-color: #444444;
  color: #c1c1c1;
  clear: both;
  float: left;

  select {
    padding-left: 10px;
    width: 100px;
    float: left;
  }

  input[type = "search"] {
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% - 195px);
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
    float: left;
  }

  input[type = "submit"] {
    padding-left: 10px;
    padding-right: 10px;
    width: 84px;
    height: 28px;
    float: right;
  }
}

.extension-area {
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 280px;
  background-color: #444444;
  float: left;
  border: 1px solid #3f3f3f;

  input[type="text"] {
    width: calc(100% - 15px);
    padding-left: 10px;
    padding-right: 10px;
  }

  select {
    padding-left: 22px;
    width: calc(100% - 15px);
  }

  table {
    color: #c1c1c1;
    width: 100%;
    text-align: left;

    tr {
      font-size: 12px;

      th {
        width: 63px;
      }

      td {
        padding: 6px;

        label {
          float: right;
          line-height: 28px;
        }
      }
    }
  }

  .btn-small {
    width: 80px;
    height: 28px;
  }

  .btn-big {
    width: 80px;
    height: 60px;
  }
}

.status-area {
  border: 1px solid #3f3f3f;
  padding-top: 5px;
  padding-bottom: 5px;
  width: calc(100% - 2px);
  background-color: #444444;
  clear: both;
  float: left;

  input {
    float: left;
  }

  div {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }

  label {
    float: left;
    line-height: 20px;
    color: #FFFFFF;
    font-size: 12px;
  }

  span {
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    line-height: 20px;
    font-size: 14px;
    color: #ff7100;
  }
}

.result-area {
  clear: both;
  float: left;
  width: 100%;
  background-color: #f0f0f0;
  overflow-x: auto;

  table {
    border-collapse: collapse;
    border-top: 1px solid #979797;
    width: 100%;
    text-align: center;
    min-width: 900px;

    th, td {
      border-bottom: 1px solid #979797;
      font-size: 12px;
      padding: 7px;
    }

    thead td {
      color: #4a4a4a;
      background-color: #f0f0f0;
    }
  }

  .status1 td {
    background-color: #ffe0b7;
    color: #4a4a4a;
  }

  .status2 td {
    background-color: #ffdee3;
    color: #4a4a4a;
  }

  .status3 td {
    background-color: #f4e0ff;
    color: #4a4a4a;
  }

  .status4 td {
    background-color: #e6f4ff;
    color: #4a4a4a;
  }

  .status5 td {
    background-color: #ffffff;
    color: #4a4a4a;
  }

  .status6 td {
    background-color: #e3e3e3;
    color: #4a4a4a;
  }

  .status7 td {
    background-color: #fff6b6;
    color: #4a4a4a;
  }

  .selected-row td {
    color: #ffffff;
    background-color: #4a90e2;
  }
}

.inline {
  margin-top: 5px;
  clear: both;
}

@media (max-width: 895px) {

  .search-area {
    width: calc(100% - 20px);
  }

  .extension-area {
    width: calc(100% - 40px);
  }
}

@media (min-width: 490px) and (max-width: 895px) {
  .top-area {
    width: 490px;
  }
}