$modal-width: 680px;
$modal-height: 545px;

/* Container css */

.menu-modal-container {
  @include bg-modal($modal-width, 112px, 112px);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.menu-modal {
  @include modal-attribute($modal-width, $modal-height);
}

.menu-header {
  @include underline;
  width: calc(100% - 15px - 15px);
  height: 47px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include e('title') {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
  }

  @include e('close-button') {
    width: 24px;
    height: 24px;
    background-size: 14px;
  }
}

.menu-body {
  width: calc(100% - 30px - 30px);
  height: 412px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include e('right-arrow') {
    margin-top: 40px;
    width: 20px;
    height: 25px;
    background: url($url-arrow-to-right) no-repeat center center;
    background-size: 20px 25px;
  }
}

.total-menu-container {
  width: 250px;
  height: 100%;

  @include e('scroll-table') {
    width: 100%;
    height: calc(100% - 52px);

    th, td {
      &:nth-child(1) {
        width: 40%;
      }

      &:nth-child(2) {
        width: 30%;
      }
    }
  }

  @include e('thead') {
    font-size: 12px;
    color: #979797;

    td, th {
      height: 24px; //테이블 헤더의 높이 정의
    }
  }

  @include e('scroll') {
    height: calc(100% - 24px); //테이블 바디의 높이 정의
  }

  @include e('tbody') {
    td, th {
      height: 32px; //테이블 바디 로우 높이 정의
    }
  }

  @include e('button') {
    width: 48px;
    height: 25px;
  }
}

.selected-menu-container {
  width: 320px;
  height: 100%;

  @include e('scroll-table') {
    width: 100%;
    height: calc(100% - 52px);

    td, th {
      &:nth-child(1) {
        width: 15%;
      }

      &:nth-child(2) {
        width: 30%;
      }

      &:nth-child(3) {
        width: 25%;
      }
    }
  }

  @include e('thead') {
    font-size: 12px;
    color: #979797;

    td, th {
      height: 24px; //테이블 헤더의 높이 정의
    }
  }

  @include e('scroll') {
    height: calc(100% - 24px); //테이블 바디의 높이 정의
  }

  @include e('tbody') {
    td, th {
      height: 32px; //테이블 바디 로우 높이 정의
    }
  }
}

.menu-footer {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @include e('button'){
    font-size: 16px;
    width: 300px;
    height: 46px;
  }
}

/* BLOCK CSS */
.menu-table-title {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;

  @include m('orange') {
    color: $color-orange
  }
}

.num-count {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include e('plus') {
    width: 19px;
    height: 19px;
    background: url($url-plus-enable) no-repeat center center;
    background-size: 19px;
    border: none;
  }

  @include e('minus') {
    width: 19px;
    height: 19px;
    background: url($url-minus-enable) no-repeat center center;
    background-size: 19px;
    border: none;

    @include m('disable') {
      background: url($url-minus-disable) no-repeat center center;
      background-size: 19px;
    }
  }
}
