@import "common";

.menu-modal-background {
  $modal_width: 680px;
  $modal_height: 545px;
  @include bg-modal($modal_width, 112px, 112px);
  position: fixed;
  top: 0;
  left: 0;
  display: none;

  /* TODO 컨테이너 관련 css */
  .modal-container {
    @include custom-font;
    @include modal-attribute($modal_width, $modal_height);

    .modal-header {
      @include underline;
      width: calc(100% - 15px - 15px);
      height: 47px;
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        @include custom-font(16px, #4a4a4a, 500);
        height: 100%;
        display: flex;
        align-items: center;
      }

      .close-button-black {
        width: 14px;
        height: 14px;
      }
    }
  }

  .main-section {
    width: calc(100% - 30px - 30px);
    height: 412px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-container {
      width: 250px;
      height: 100%;

      .rect-empty-orange {
        @include custom-font(12px, $color_orange, normal);
        width: 48px;
        height: 25px;
      }
    }

    .right-container {
      width: 320px;
      height: 100%;

      .table-title {
        @include custom-font(14px, $color_orange, bold);
      }

      .table-container {
        td, th {
          &:nth-child(1) {
            width: 15%;
          }

          &:nth-child(2) {
            width: 30%;
          }

          &:nth-child(3) {
            width: 25%;
          }
        }
      }
    }
  }

  .submit-section {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .round-rect-fill-orange {
      @include custom-font($size: 16px, $color: #ffffff, $weight: bold);
      width: 300px;
      height: 46px;
    }
  }

  .num-count-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* TODO 요소 관련 css */
  .right-arrow {
    margin-top: 40px;
    width: 20px;
    height: 25px;
    background: url($url_arrow_to_right) no-repeat center center;
    background-size: 20px 25px;
  }

  .table-title {
    @include custom-font($weight: bold);
    height: 52px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table-container {
    width: 100%;
    height: calc(100% - 52px - 1px);
    border: 1px solid $color_gray_border;

    table {
      @include custom-font;
      text-align: center;
      border-collapse: collapse;
      width: 100%;

      thead {
        background-color: $color_gray_table;
        color: $color_placeholder;
        font-size: 12px;

        th, td {
          height: 24px;
        }
      }

      tbody {
        color: #1f1f1f;

        tr {
          @include underline;
        }

        th, td {
          height: 32px;
        }
      }

      th, td {
        height: 32px;

        &:nth-child(1) {
          width: 40%;
        }

        &:nth-child(2) {
          width: 30%;
        }
      }
    }

    .scroll-container {
      @include scroll-view;
      height: calc(100% - 24px);
    }
  }

  .plus-enable {
    width: 19px;
    height: 19px;
    background: url($url_plus_enable) no-repeat center center;
    background-size: 19px;
    border: none;
  }

  .minus-enable {
    width: 19px;
    height: 19px;
    background: url($url_minus_enable) no-repeat center center;
    background-size: 19px;
    border: none;
  }

  .minus-disable {
    width: 19px;
    height: 19px;
    background: url($url_minus_disable) no-repeat center center;
    background-size: 19px;
    border: none;
  }
}