@charset "UTF-8";
/* TODO 사용자 정의 변수 */
/* 컬러 */
/* 이미지 */
/* TODO mixin 정의 */
/* 스크롤 뷰 */
/* 커스톰 폰트 */
/* 모달 투명 배경 */
/* 모달 컨테이너 */
/* 분할선 */
/* 버튼 기본 모양 정의 */
/* TODO Component 정의 */
.rect-fill-orange {
  background-color: #ff9037;
  border: 1px solid #ff9037;
  border-radius: 0;
  padding: 0;
}

.rect-empty-orange {
  background-color: #ffffff;
  border: 1px solid #ff9037;
  border-radius: 0;
  padding: 0;
}

.rect-empty-white {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 0;
  padding: 0;
}

.round-rect-fill-orange {
  background-color: #ff9037;
  border: 1px solid #ff9037;
  border-radius: 21px;
  padding: 0;
}

.round-rect-empty-orange {
  background-color: #ffffff;
  border: 1px solid #ff9037;
  border-radius: 21px;
  padding: 0;
}

.round-rect-empty-white {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 21px;
  padding: 0;
}

.rect-white {
  background-color: #ffffff;
  border: 1px solid #4a4a4a;
  border-radius: 0;
  padding: 0;
}

.rect-black {
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a;
  border-radius: 0;
  padding: 0;
}

.edit-box {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 0;
  padding: 0;
}

.search-box {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 0;
  padding: 0;
  display: flex;
}
.search-box > input {
  height: 100%;
  border: none;
  padding-left: 16px;
}
.search-box > input::placeholder {
  color: #979797;
}
.search-box > button {
  height: 100%;
  background: #ffffff url("/img/search_orange.png") no-repeat center center;
  border: none;
}

.close-button-white {
  background: rgba(0, 0, 0, 0) url("/img/close_white.png") no-repeat center center;
  background-size: 100%;
  border: none;
  padding: 0;
}

.close-button-black {
  background: rgba(0, 0, 0, 0) url("/img/close_black.png") no-repeat center center;
  background-size: 100%;
  border: none;
  padding: 0;
}

.radio-items:hover input[type=radio] ~ .check-marker {
  /* 라디오 버튼 덮힐 경우 */
}
.radio-items input[type=radio] {
  margin: 0;
  -webkit-appearance: none;
  /* 라디오 버튼 없애기 for chrome*/
  -moz-appearance: none;
  /* 라디오 버튼 없애기 for firefox*/
  appearance: none;
  /* 라디오 버튼 없애기 공통*/
  display: none;
  /* 라디오 버튼 없애기 for IE10, 11*/
}
.radio-items input[type=radio]:checked ~ .check-marker {
  /* 라디오 버튼 선택된 경우 */
}
.radio-items .check-marker {
  /* 라디오 버튼 기본 모양 */
}

.menu-modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 112px calc(50% - 340px) 112px;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  /* TODO 컨테이너 관련 css */
  /* TODO 요소 관련 css */
}
.menu-modal-background .modal-container {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  width: 680px;
  height: 545px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}
.menu-modal-background .modal-container .modal-header {
  border-bottom: 1px solid #d0d0d0;
  width: calc(100% - 15px - 15px);
  height: 47px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-modal-background .modal-container .modal-header .title {
  font-family: NotoSansCJKkr;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  height: 100%;
  display: flex;
  align-items: center;
}
.menu-modal-background .modal-container .modal-header .close-button-black {
  width: 14px;
  height: 14px;
}
.menu-modal-background .main-section {
  width: calc(100% - 30px - 30px);
  height: 412px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-modal-background .main-section .left-container {
  width: 250px;
  height: 100%;
}
.menu-modal-background .main-section .left-container .rect-empty-orange {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #ff9037;
  line-height: normal;
  letter-spacing: normal;
  width: 48px;
  height: 25px;
}
.menu-modal-background .main-section .right-container {
  width: 320px;
  height: 100%;
}
.menu-modal-background .main-section .right-container .table-title {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ff9037;
  line-height: normal;
  letter-spacing: normal;
}
.menu-modal-background .main-section .right-container .table-container td:nth-child(1), .menu-modal-background .main-section .right-container .table-container th:nth-child(1) {
  width: 15%;
}
.menu-modal-background .main-section .right-container .table-container td:nth-child(2), .menu-modal-background .main-section .right-container .table-container th:nth-child(2) {
  width: 30%;
}
.menu-modal-background .main-section .right-container .table-container td:nth-child(3), .menu-modal-background .main-section .right-container .table-container th:nth-child(3) {
  width: 25%;
}
.menu-modal-background .submit-section {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-modal-background .submit-section .round-rect-fill-orange {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  width: 300px;
  height: 46px;
}
.menu-modal-background .num-count-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-modal-background .right-arrow {
  margin-top: 40px;
  width: 20px;
  height: 25px;
  background: url("/img/arrow_to_right.png") no-repeat center center;
  background-size: 20px 25px;
}
.menu-modal-background .table-title {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  height: 52px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-modal-background .table-container {
  width: 100%;
  height: calc(100% - 52px - 1px);
  border: 1px solid #d0d0d0;
}
.menu-modal-background .table-container table {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}
.menu-modal-background .table-container table thead {
  background-color: #eaeaea;
  color: #979797;
  font-size: 12px;
}
.menu-modal-background .table-container table thead th, .menu-modal-background .table-container table thead td {
  height: 24px;
}
.menu-modal-background .table-container table tbody {
  color: #1f1f1f;
}
.menu-modal-background .table-container table tbody tr {
  border-bottom: 1px solid #d0d0d0;
}
.menu-modal-background .table-container table tbody th, .menu-modal-background .table-container table tbody td {
  height: 32px;
}
.menu-modal-background .table-container table th, .menu-modal-background .table-container table td {
  height: 32px;
}
.menu-modal-background .table-container table th:nth-child(1), .menu-modal-background .table-container table td:nth-child(1) {
  width: 40%;
}
.menu-modal-background .table-container table th:nth-child(2), .menu-modal-background .table-container table td:nth-child(2) {
  width: 30%;
}
.menu-modal-background .table-container .scroll-container {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  /*크롬전용 커스톰 스크롤*/
  height: calc(100% - 24px);
}
.menu-modal-background .table-container .scroll-container::-webkit-scrollbar {
  width: 3px;
  background: none;
}
.menu-modal-background .table-container .scroll-container::-webkit-scrollbar-thumb {
  background: #aeaeae;
  opacity: 0.4;
}
.menu-modal-background .table-container .scroll-container::-webkit-scrollbar-track {
  background: #f8f7fb;
}
.menu-modal-background .plus-enable {
  width: 19px;
  height: 19px;
  background: url("/img/plus_enable.png") no-repeat center center;
  background-size: 19px;
  border: none;
}
.menu-modal-background .minus-enable {
  width: 19px;
  height: 19px;
  background: url("/img/minus_enable.png") no-repeat center center;
  background-size: 19px;
  border: none;
}
.menu-modal-background .minus-disable {
  width: 19px;
  height: 19px;
  background: url("/img/minus_disable.png") no-repeat center center;
  background-size: 19px;
  border: none;
}

/*# sourceMappingURL=menu_modal.css.map */
