@charset "UTF-8";
/* TODO 사용자 정의 변수 */
/* 컬러 */
/* 이미지 */
/* TODO mixin 정의 */
/* 스크롤 뷰 */
/* 커스톰 폰트 */
/* 모달 투명 배경 */
/* 모달 컨테이너 */
/* 분할선 */
/* 버튼 기본 모양 정의 */
/* TODO Component 정의 */
.rect-fill-orange {
  background-color: #ff9037;
  border: 1px solid #ff9037;
  border-radius: 0;
  padding: 0;
}

.rect-empty-orange {
  background-color: #ffffff;
  border: 1px solid #ff9037;
  border-radius: 0;
  padding: 0;
}

.rect-empty-white {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 0;
  padding: 0;
}

.round-rect-fill-orange {
  background-color: #ff9037;
  border: 1px solid #ff9037;
  border-radius: 21px;
  padding: 0;
}

.round-rect-empty-orange {
  background-color: #ffffff;
  border: 1px solid #ff9037;
  border-radius: 21px;
  padding: 0;
}

.round-rect-empty-white {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 21px;
  padding: 0;
}

.rect-white {
  background-color: #ffffff;
  border: 1px solid #4a4a4a;
  border-radius: 0;
  padding: 0;
}

.rect-black {
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a;
  border-radius: 0;
  padding: 0;
}

.edit-box {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 0;
  padding: 0;
}

.search-box {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 0;
  padding: 0;
  display: flex;
}
.search-box > input {
  height: 100%;
  border: none;
  padding-left: 16px;
}
.search-box > input::placeholder {
  color: #979797;
}
.search-box > button {
  height: 100%;
  background: #ffffff url("/img/search_orange.png") no-repeat center center;
  border: none;
}

.close-button-white {
  background: rgba(0, 0, 0, 0) url("/img/close_white.png") no-repeat center center;
  background-size: 100%;
  border: none;
  padding: 0;
}

.close-button-black {
  background: rgba(0, 0, 0, 0) url("/img/close_black.png") no-repeat center center;
  background-size: 100%;
  border: none;
  padding: 0;
}

.radio-items:hover input[type=radio] ~ .check-marker {
  /* 라디오 버튼 덮힐 경우 */
}
.radio-items input[type=radio] {
  margin: 0;
  -webkit-appearance: none;
  /* 라디오 버튼 없애기 for chrome*/
  -moz-appearance: none;
  /* 라디오 버튼 없애기 for firefox*/
  appearance: none;
  /* 라디오 버튼 없애기 공통*/
  display: none;
  /* 라디오 버튼 없애기 for IE10, 11*/
}
.radio-items input[type=radio]:checked ~ .check-marker {
  /* 라디오 버튼 선택된 경우 */
}
.radio-items .check-marker {
  /* 라디오 버튼 기본 모양 */
}

#modal {
  position: fixed;
  visibility: hidden;
}

/* 마일리지 모달, 송금대상 모달 공통 컴포넌트 */
.mileage-modal-background, .transfer-modal-background {
  /* TODO 컨테이너 관련 css */
  /* TODO 요소 관련 css */
}
.mileage-modal-background .main-section, .transfer-modal-background .main-section {
  width: 100%;
  height: 186px;
  display: flex;
  flex-direction: column;
}
.mileage-modal-background .submit-section, .transfer-modal-background .submit-section {
  flex: 1;
  min-height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mileage-modal-background .input-output-container, .transfer-modal-background .input-output-container {
  width: calc(100% - 60px);
  height: calc(100% - 100px);
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.mileage-modal-background .round-rect-fill-orange, .transfer-modal-background .round-rect-fill-orange {
  font-family: NotoSansCJKkr;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  width: 300px;
  height: 46px;
}
.mileage-modal-background .search-box, .transfer-modal-background .search-box {
  height: 38px;
}
.mileage-modal-background .search-box > input, .transfer-modal-background .search-box > input {
  width: calc(100% - 40px);
}
.mileage-modal-background .search-box > button, .transfer-modal-background .search-box > button {
  min-width: 40px;
  background-size: 15px 15px;
}

/* 마일리지 모달 컴포넌트 */
.mileage-modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 64px calc(50% - 180px) 64px;
  /* TODO mixin 정의 */
  /* 라디오 버튼 선택 시 버튼 뷰 */
  /* 라디오 버튼 선택되지 않을 시 버튼 뷰 */
  /* TODO 컨테이너 관련 css */
  /* TODO 요소 관련 css */
}
.mileage-modal-background .modal-container {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  width: 360px;
  height: 640px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}
.mileage-modal-background .modal-container .modal-header {
  width: calc(100% - 15px);
  height: 32px;
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1f1f1f;
}
.mileage-modal-background .modal-container .modal-header .close-button-white {
  width: 14px;
  height: 14px;
}
.mileage-modal-background .status-container {
  width: 100%;
  min-height: 128px;
  background-color: #302c2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mileage-modal-background .status-container > span {
  font-family: NotoSansCJKkr;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #9b9b9b;
  line-height: normal;
  letter-spacing: normal;
  display: block;
  font-family: AppleSDGothicNeo;
  margin-bottom: 4px;
}
.mileage-modal-background .status-container > div {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 24px;
  color: #ff9037;
  line-height: normal;
  letter-spacing: normal;
  font-family: Roboto;
}
.mileage-modal-background .process-button-container {
  width: 100%;
  height: 53px;
  display: flex;
  flex: 1;
}
.mileage-modal-background .withdraw-section, .mileage-modal-background .transfer-section {
  width: 100%;
  height: calc(100% - 218px - 92px);
  display: flex;
  flex-direction: column;
}
.mileage-modal-background .withdraw-section .gray-container, .mileage-modal-background .transfer-section .gray-container {
  width: calc(100% - 60px);
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f0f0f0;
  margin-bottom: 17px;
}
.mileage-modal-background .withdraw-section .input-output-container, .mileage-modal-background .transfer-section .input-output-container {
  width: calc(100% - 60px);
  padding-left: 30px;
  padding-right: 30px;
}
.mileage-modal-background .withdraw-section .gray-container {
  flex-direction: column;
}
.mileage-modal-background .withdraw-section .gray-container > div:nth-child(1) {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #979797;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 9px;
}
.mileage-modal-background .withdraw-section .gray-container .rect-empty-white {
  font-family: NotoSansCJKkr;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 15px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mileage-modal-background .withdraw-section .edit-button-container {
  width: 204px;
  height: 34px;
  display: flex;
}
.mileage-modal-background .withdraw-section .edit-button-container .rect-empty-white {
  width: calc(100% - 74px);
  padding-left: 15px;
  text-align: left;
  border-right: none;
}
.mileage-modal-background .withdraw-section .edit-button-container .rect-empty-orange {
  font-family: NotoSansCJKkr;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ff9037;
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.43;
  width: 72px;
  height: 34px;
}
.mileage-modal-background .transfer-section .gray-container {
  flex-direction: column;
}
.mileage-modal-background .transfer-section .gray-container > div:nth-child(1) {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #979797;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 9px;
}
.mileage-modal-background .transfer-section .gray-container .search-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mileage-modal-background .transfer-section .gray-container .search-container .search-box {
  width: 190px;
}
.mileage-modal-background .input-output-row {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}
.mileage-modal-background .input-output-row > div:nth-child(1) {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.29;
}
.mileage-modal-background .input-output-row .rect-empty-white {
  width: 204px;
  height: 100%;
}
.mileage-modal-background .input-output-row:nth-last-child(2) .rect-empty-white {
  color: #d0021b;
}
.mileage-modal-background .input-output-row:last-child .rect-empty-white {
  padding-left: 15px;
  text-align: left;
}
.mileage-modal-background .radio-items {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  /* 라디오 버튼에서 선택되지 않을 시(기본 버튼 정의) */
}
.mileage-modal-background .radio-items input[type=radio]:checked ~ .check-marker {
  /* 라디오 버튼 선택된 경우 */
  font-family: NotoSansCJKkr;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  color: #ff9037;
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.13;
  border-bottom: 5px solid #ff9037;
}
.mileage-modal-background .radio-items .check-marker {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: NotoSansCJKkr;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.13;
  border-bottom: 5px solid #ffffff;
}
.mileage-modal-background .group-selector {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  width: 100px;
  height: 40px;
  border: 1px solid #d0d0d0;
  background: #ffffff url("/img/select_btn_bright.png") no-repeat 95% center;
  background-size: 20px 20px;
  -webkit-appearance: none;
  /* 화살표 없애기 for chrome*/
  -moz-appearance: none;
  /* 화살표 없애기 for firefox*/
  appearance: none;
  /* 화살표 없애기 공통*/
  padding-left: 15px;
}
.mileage-modal-background .group-selector::-ms-expand {
  display: none;
  /* 화살표 없애기 for IE10, 11*/
}
.mileage-modal-background .rect-empty-white {
  font-family: NotoSansCJKkr;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  padding-left: 6px;
  padding-right: 6px;
  text-align: right;
  vertical-align: middle;
}

/* 송금대상 모달 컴포넌트 */
.transfer-modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 150px calc(50% - 170px) 71px;
  /* TODO 컨테이너 관련 css */
  /* TODO 요소 관련 css */
}
.transfer-modal-background .modal-container {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  width: 340px;
  height: 545px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}
.transfer-modal-background .modal-container .modal-header {
  border-bottom: 1px solid #d0d0d0;
  width: calc(100% - 19px - 18px);
  height: 47px;
  padding-right: 19px;
  padding-left: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transfer-modal-background .modal-container .modal-header .title {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
}
.transfer-modal-background .modal-container .modal-header .close-button-black {
  width: 14px;
  height: 14px;
}
.transfer-modal-background .modal-container .search-container {
  border-bottom: 1px solid #d0d0d0;
  width: calc(100% - 30px);
  height: 64px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}
.transfer-modal-background .modal-container .search-container .search-box {
  width: 100%;
}
.transfer-modal-background .modal-container .result-container {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  /*크롬전용 커스톰 스크롤*/
  width: 100%;
  height: calc(100% - 114px - 96px);
}
.transfer-modal-background .modal-container .result-container::-webkit-scrollbar {
  width: 3px;
  background: none;
}
.transfer-modal-background .modal-container .result-container::-webkit-scrollbar-thumb {
  background: #aeaeae;
  opacity: 0.4;
}
.transfer-modal-background .modal-container .result-container::-webkit-scrollbar-track {
  background: #f8f7fb;
}
.transfer-modal-background .radio-items {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  border-bottom: 1px solid #d0d0d0;
  width: calc(100% - 34px);
  height: 40px;
  padding-left: 17px;
  padding-right: 17px;
  display: flex;
  align-items: center;
  /* 라디오 버튼 덮힐 경우 */
  /* 라디오 버튼 선택된 경우 */
  /* 라디오 버튼 선택X */
}
.transfer-modal-background .radio-items:hover input[type=radio] ~ .check-marker {
  background: url("/img/radio_hover.png") no-repeat;
  background-size: 20px;
}
.transfer-modal-background .radio-items input[type=radio]:checked ~ .check-marker {
  background: url("/img/radio_on.png") no-repeat;
  background-size: 20px;
}
.transfer-modal-background .radio-items .check-marker {
  width: 20px;
  height: 20px;
  margin-right: 18px;
  background: url("/img/radio_off.png") no-repeat;
  background-size: 20px;
}

/*# sourceMappingURL=mileage_modal.css.map */
