@import "common";

/* 마일리지 모달, 송금대상 모달 공통 컴포넌트 */
.mileage-modal-background, .transfer-modal-background {
  /* TODO 컨테이너 관련 css */
  .main-section {
    width: 100%;
    height: 186px;
    display: flex;
    flex-direction: column;
  }

  .submit-section {
    flex: 1;
    min-height: 96px;
    display: none;
    justify-content: center;
    align-items: center;
  }

  .input-output-container {
    width: calc(100% - 60px);
    height: calc(100% - 100px);
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }

  /* TODO 요소 관련 css */
  .round-rect-fill-orange {
    @include custom-font(16px, $color_white, 500);
    width: 300px;
    height: 46px;
  }

  .search-box {
    height: 40px - 2px;

    > input {
      width: calc(100% - 40px);
    }

    > button {
      min-width: 40px;
      background-size: 15px 15px;
    }
  }
}

/* 마일리지 모달 컴포넌트 */
.mileage-modal-background {
  $modal_width: 360px;
  $modal_height: 640px;
  @include bg-modal($modal_width, 64px, 64px);
  position: fixed;
  top: 0;
  left: 0;
  display: none;

  /* TODO mixin 정의 */
  /* 라디오 버튼 선택 시 버튼 뷰 */
  @mixin selected-mileage-button {
    @include custom-font(16px, $color_orange, 500);
    line-height: 1.13;
    border-bottom: 5px solid $color_orange;
  }

  /* 라디오 버튼 선택되지 않을 시 버튼 뷰 */
  @mixin unselected-mileage-button {
    @include custom-font(16px, $color_gray_font, 500);
    line-height: 1.13;
    border-bottom: 5px solid $color_white;
  }

  /* TODO 컨테이너 관련 css */
  .modal-container {
    @include custom-font;
    @include modal-attribute($modal_width, $modal_height);

    .modal-header {
      width: calc(100% - 15px);
      height: 32px;
      padding-right: 15px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: #1f1f1f;

      .close-button-white {
        width: 14px;
        height: 14px;
      }
    }
  }

  .status-container {
    width: 100%;
    min-height: 160px - 32px;
    background-color: $color_wood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > span {
      @include custom-font(14px, #9b9b9b, 500);
      display: block;
      font-family: AppleSDGothicNeo;
      margin-bottom: 4px;
    }

    > div {
      @include custom-font(24px, $color_orange, bold);
      font-family: Roboto;
    }
  }

  .process-button-container {
    width: 100%;
    height: 53px;
    display: flex;
    flex: 1;
  }

  .withdraw-section, .transfer-section {
    width: 100%;
    height: calc(100% - 218px - 92px); //main-section과 submit-section의 높이 제외
    display : none;
    flex-direction: column;

    .gray-container {
      width: calc(100% - 60px);
      height: 100px - 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid #aaaaaa;
      border-bottom: 1px solid #aaaaaa;
      padding-left: 30px;
      padding-right: 30px;
      background-color: #f0f0f0;
      margin-bottom: 17px;
    }

    .input-output-container {
      width: calc(100% - 60px);
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .withdraw-section {
    .gray-container {
      flex-direction: column;

      > div:nth-child(1) {
        @include custom-font($color: #979797);
        margin-bottom: 9px;
      }

      .rect-empty-white {
        @include custom-font(15px, $color_gray_font, 500);
        width: 300px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .edit-button-container {
      width: 206px - 2px;
      height: 36px - 2px;
      display: flex;

      .rect-empty-white {
        width: calc(100% - 74px);
        padding-left: 15px;
        text-align: left;
        border-right: none;
      }

      .rect-empty-orange {
        @include custom-font(14px, $color_orange, 500);
        line-height: 1.43;
        width: 74px - 2px;
        height: 36px - 2px;
      }
    }
  }

  .transfer-section {
    .gray-container {
      flex-direction: column;

      > div:nth-child(1) {
        @include custom-font($color: #979797);
        margin-bottom: 9px;
      }

      .search-container {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .search-box {
          width: 190px;
        }
      }
    }
  }

  .input-output-row {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;

    > div:nth-child(1) {
      @include custom-font;
      line-height: 1.29;
    }

    .rect-empty-white {
      width: 204px;
      height: 100%;
    }

    &:nth-last-child(2) .rect-empty-white {
      color: #d0021b;
    }

    &:last-child .rect-empty-white {
      padding-left: 15px;
      text-align: left;
    }
  }

  /* TODO 요소 관련 css */
  .radio-items {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

    input[type="radio"]:checked ~ .check-marker {
      /* 라디오 버튼 선택된 경우 */
      @include selected-mileage-button;
    }

    /* 라디오 버튼에서 선택되지 않을 시(기본 버튼 정의) */
    .check-marker {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include unselected-mileage-button;
    }
  }

  .group-selector {
    @include custom-font;
    width: 100px;
    height: 40px;
    border: 1px solid $color_gray_border;
    background: $color_white url($url_select_btn_bright) no-repeat 95% center;
    background-size: 20px 20px;
    -webkit-appearance: none; /* 화살표 없애기 for chrome*/
    -moz-appearance: none; /* 화살표 없애기 for firefox*/
    appearance: none; /* 화살표 없애기 공통*/
    &::-ms-expand {
      display: none; /* 화살표 없애기 for IE10, 11*/
    }

    padding-left: 15px;
  }

  .rect-empty-white {
    @include custom-font(16px, $color_gray_font, 500);
    padding-left: 6px;
    padding-right: 6px;
    text-align: right;
    vertical-align: middle;
  }
}

/* 송금대상 모달 컴포넌트 */
.transfer-modal-background {
  $modal_width: 340px;
  $modal_height: 545px;
  @include bg-modal($modal_width, 150px, 71px);
  position: fixed;
  top: 0;
  left: 0;
  display: none;

  /* TODO 컨테이너 관련 css */
  .modal-container {
    @include custom-font;
    @include modal-attribute($modal_width, $modal_height);

    .modal-header {
      @include underline;
      width: calc(100% - 19px - 18px);
      height: 47px;
      padding-right: 19px;
      padding-left: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        @include custom-font(16px, $color_gray_font, bold);
      }

      .close-button-black {
        width: 14px;
        height: 14px;
      }
    }

    .search-container {
      @include underline;
      width: calc(100% - 30px);
      height: 64px;
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      align-items: center;

      .search-box {
        width: 100%;
      }
    }

    .result-container {
      @include scroll-view;
      width: 100%;
      height: calc(100% - 114px - 96px);
    }
  }

  /* TODO 요소 관련 css */
  .radio-items {
    @include custom-font;
    @include underline;
    width: calc(100% - 34px);
    height: 40px;
    padding-left: 17px;
    padding-right: 17px;
    display: flex;
    align-items: center;

    /* 라디오 버튼 덮힐 경우 */
    &:hover input[type="radio"] ~ .check-marker {
      background: url($url_radio_hover) no-repeat;
      background-size: 20px;
    }

    /* 라디오 버튼 선택된 경우 */
    input[type="radio"]:checked ~ .check-marker {
      background: url($url_radio_on) no-repeat;
      background-size: 20px;
    }

    /* 라디오 버튼 선택X */
    .check-marker {
      width: 20px;
      height: 20px;
      margin-right: 18px;
      background: url($url_radio_off) no-repeat;
      background-size: 20px;
    }
  }
}
