$modal_width: 960px;
$modal_height: 620px;

@mixin hide_scroll {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  /*스크롤 감추기*/
  //-ms-overflow-style: none; // IE
  //&::-webkit-scrollbar {
  //  display: none !important; // 윈도우 크롬 등
  //}

  /*크롬전용 커스톰 스크롤*/
  &::-webkit-scrollbar {
    width: 3px;
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    background: #f8f7fb;
    opacity: .4;
  }
  &::-webkit-scrollbar-track {
    background: #302c2c;
  }
}

#modal {
  position: fixed;
  visibility: hidden;
}

.modal_background {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px calc(50% - #{$modal_width / 2});
}

.modal_container {
  width: $modal_width;
  height: $modal_height;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  .address_modal_header {
    width: 100%;
    height: 50px;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    span {
      font: {
        family: NotoSansCJKkr;
        size: 16px;
        weight: 500;
        style: normal;
        stretch: normal;
      }
      height: 50px;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      flex-grow: 8;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .body {
    display: flex;
    height: calc(100% - 50px);
    .aside {
      width: 177px;
      height: 100%;

      .select_container {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
      }
    }
    .modal_main_section {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      .upper_area {
        margin: 11px 16px 11px 16px;

        .search_area {
          display: flex;
          flex-direction: column;
        }
      }
      .scroll_table {
        width: 100%;
        height: calc(100% - 192px);
      }
    }
  }
}

.scroll_table {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .address_list_scroll {
    @include hide_scroll;
    width: 100%;
    height: calc(100% - 28px);
    background-color: #ffffff;
    &::-webkit-scrollbar-thumb {
      background: #302c2c;
      opacity: .4;
    }
    &::-webkit-scrollbar-track {
      background: #f8f7fb;
    }
  }
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    thead {
      tr {
        height: 28px;
      }
      background-color: #e3e3e3;
      font: {
        family: NotoSansCJKkr;
        size: 12px;
        weight: normal;
        style: normal;
        stretch: normal;
      }
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #707070;
    }
    tbody {
      tr {
        height: 48px;
      }
      td, th {
        border-bottom: 1px solid #e3e3e3;
      }
      background-color: #ffffff;
      font: {
        family: NotoSansCJKkr;
        size: 14px;
        weight: normal;
        style: normal;
        stretch: normal;
      }
      line-height: normal;
      letter-spacing: normal;
      color: #323232;
    }
    td:nth-child(1), th:nth-child(1) {
      width: 10%;
      text-align: center;
    }
    td:nth-child(2), th:nth-child(2) {
      width: 20%;
      text-align: center;
    }
    td:nth-child(3), th:nth-child(3) {
      width: 35%;
      padding-left: 10px;
    }
    td:nth-child(4), th:nth-child(6) {
      width: 35%;
      padding-left: 10px;
    }
  }
}

.btn-close {
  width: 11px;
  height: 11px;
  margin-right: 15px;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: #1f1f1f;
  -webkit-appearance: none;
  color: #ffffff;
}

.title_block {
  width: 100%;
  height: 50px;
  background-color: #302c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font: {
      family: NotoSansCJKkr;
      size: 14px;
      weight: bold;
      style: normal;
      stretch: normal;
    }
    line-height: normal;
    letter-spacing: normal;
    color: #ff9037;
  }
}

.consonant {
  width: 39px;
  height: 520px;
  background-color: #1f1f1f;
  border-right: 1px solid #434343;
  table-layout: fixed;

  td {
    font: {
      family: NotoSansCJKkr;
      size: 14px;
      weight: bold;
      style: normal;
      stretch: normal;
    }
    height: (100% / 15);
    overflow-y: hidden;
    color: #ffffff;
    border-bottom: 1px solid #434343;
    text-align: center;
  }
  td:nth-last-child(1) {
    height: auto;
  }
}

.enable_dong_scroll {
  @include hide_scroll;
  width: calc(100% - 39px);
  height: 520px;
  background-color: #302c2c;
}

.enable_dong {
  width: 100%;
  background-color: #302c2c;
  td {
    font: {
      family: NotoSansCJKkr;
      size: 14px;
      weight: bold;
      style: normal;
      stretch: normal;
    }
    height: (520px / 15);
    color: #ffffff;
    border-bottom: 1px solid #434343;
    text-align: center;
  }
}

.select_tower {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;

  button {
    width: 72px;
    height: 46px;
    background-color: #ffffff;
    border: 0.5px solid #aeaeaeae;
    font: {
      family: NotoSansCJKkr;
      weight: 500;
      style: normal;
      stretch: normal;
    }
    size: 14px;
    color: #4a4a4a;
    text-align: center;
    line-height: normal;
    letter-spacing: normal;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  span {
    flex: 1;
    font: {
      family: NotoSansCJKkr;
      size: 12px;
      weight: normal;
      style: normal;
      stretch: normal;
    }
    margin-right: 10px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #323232;
  }
  .search_edit {
    width: 565.5px;
    height: 40px;
    background-color: #ffffff;
    font: {
      family: NotoSansCJKkr;
      size: 12px;
      weight: normal;
      style: normal;
      stretch: normal;
    }
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    border: 0.5px solid #aeaeaeae;
    padding-left: 13px;
    margin-right: 7.5px;
  }
  button {
    border:0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 15.9px;
      height: 15.9px;
      margin-right: 0.1px;
    }
    width: 108.6px;
    height: 40px;
    background-color: #ff9037;
    font: {
      family: NotoSansCJKkr;
      size: 14px;
      weight: 500;
      style: normal;
      stretch: normal;
    }
    text-align: center;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
}

.caption {
  font: {
    family: NotoSansCJKkr;
    size: 12px;
    weight: normal;
    style: normal;
    stretch: normal;
  }
  line-height: normal;
  letter-spacing: normal;
  color: #d0021b;
  margin-left: calc(100% - 684.1px);
  margin-top: 2px;
  margin-bottom: 12px;
}

.star {
  width: 15px;
  height: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #ff9037;
}

.star_empty {
  width: 15px;
  height: 15px;
  font-size: 20px;
  font-weight: bold;
}