$modal-width: 960px;
$modal-height: 610px;

/* Container CSS */
.addr-modal-container {
  @include bg-modal($modal-width, 30px, 30px);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.addr-modal {
  @include modal-attribute($modal-width, $modal-height);
}

.addr-header {
  width: calc(100% - 15px - 15px - 11px);
  height: 50px;
  background-color: #1f1f1f;
  padding-left: 15px + 11px;
  padding-right: 15px;
  display: flex;
  align-items: center;

  @include e('title') {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: $color-white;
    text-align: center;
  }

  @include e('close-button') {
    width: 11px;
    height: 11px;
    justify-self: flex-end;
  }
}

.addr-body {
  height: calc(100% - 50px);
  display: flex;
}

.aside {
  width: 177px;
  height: 100%;

  @include e('title-block') {
    width: 100%;
    height: 50px;
    background-color: $color-wood;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: $color-orange;
  }

  @include e('select-container') {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    overflow: hidden;
  }

  @include e('consonant') {
    width: 40px;
    background-color: #1f1f1f;
    border-right: 1px solid #434343;
  }

  @include e('item') {
    width: 40px;
    height: calc(100% / 15);
    text-align: center;
    overflow: hidden;
    padding: 0;
    border: none;
    border-bottom: 1px solid #434343;
    background-color: #1f1f1f;
    color: $color-white;
    font-weight: bold;

    &:hover {
      background-color: $color-orange;
    }

    @include m('last') {
      border-bottom: 0;
    }
  }

  @include e('enable-dong') {
    @include scroll-view($color-wood, $color-gray-table, false);
    width: calc(100% - 39px);
    height: 510px;
    background-color: $color-wood;

    > button {
      @include custom-font(14px, $color-white, bold);
      width: 100%;
      height: (100% / 15);
      border: none;
      padding: 0 5px 0 0;
      border-bottom: 1px solid #434343;
      background: $color-wood;

      &:hover {
        background-color: $color-white;
        color: $color-orange;
      }
    }
  }
}

//.upper-area {
//  margin: 11px 16px 11px 16px;
//}

.addr-main {
  flex: 1;
  height: 100%;

  @include e('select-tower-container') {
    margin: 11px 16px 10px;
  }

  @include e('search-container') {
    margin-left: 16px;
    margin-right: 16px;

    @include m('margin') {
      margin-bottom: 13px;
    }
  }
}

.select-tower-container {
  display: flex;
  justify-content: space-between;

  @include e('button') {
    font-weight: 500;
    color: #323232;
    width: 72px;
    height: 46px;
  }
}

.search-container {
  width: calc(100% - 32px);
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include e('title') {
    flex: 1;
    margin-right: 10px;
    text-align: center;
    font-size: 12px;
    color: #323232;
  }

  @include e('text') {
    width: 565.5px;
    height: 40px;
    padding-left: 13px;
    margin-right: 7.5px;
    font-size: 12px;
    color: $color-gray-font;
  }

  @include e('button') {
    width: 108.6px;
    height: 40px;
    background: $color-orange url($url-search-white) no-repeat 10% center;
    background-size: 15.9px 15.9px;
    padding-left: 15.9px;
  }

  @include e('caption') {
    display: block;
    margin-left: calc(100% - 684.1px);
    margin-top: 2px;
    margin-bottom: 12px;
    font-size: 12px;
    color: #d0021b;
  }
}

.result-container {
  width: 100%;
  height: calc(100% - 192px);

  //테이블의 컬럼별 너비 설정
  td, th {
    &:nth-child(1) {
      width: 10%;
    }

    &:nth-child(2) {
      width: 20%;
    }

    &:nth-child(3) {
      width: 35%;
    }
  }

  @include e('thead') {
    font-size: 12px;
    color: #707070;
    background-color: #e3e3e3;

    tr, th {
      height: 24px; //테이블 헤더의 높이 정의
    }
  }

  @include e('scroll') {
    height: calc(100% - 28px); //테이블 바디의 높이 정의
  }

  @include e('tbody') {
    color: #323232;

    td, th {
      height: 48px; //테이블 바디 로우 높이 정의

      &:nth-child(1) {
        text-align: center;
      }

      &:nth-child(2) {
        text-align: center;
      }

      &:nth-child(3) {
        padding-left: 10px;
      }

      &:nth-child(4) {
        padding-left: 10px;
      }
    }
  }
}

.star {
  width: 15px;
  height: 15px;
  background: url($url-orange-star) no-repeat center center;
  background-size: 15px;

  @include m('empty') {
    background: url($url-empty-star) no-repeat center center;
    background-size: 15px;
  }
}

