@charset "UTF-8";
/* TODO 사용자 정의 변수 */
/* 컬러 */
/* 이미지 */
/* TODO mixin 정의 */
/* 스크롤 뷰 */
/* 커스톰 폰트 */
/* 모달 투명 배경 */
/* 모달 컨테이너 */
/* 분할선 */
/* 버튼 기본 모양 정의 */
/* TODO Component 정의 */
.rect-fill-orange {
  background-color: #ff9037;
  border: 1px solid #ff9037;
  border-radius: 0;
  padding: 0;
}

.rect-empty-orange {
  background-color: #ffffff;
  border: 1px solid #ff9037;
  border-radius: 0;
  padding: 0;
}

.rect-empty-white {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 0;
  padding: 0;
}

.round-rect-fill-orange {
  background-color: #ff9037;
  border: 1px solid #ff9037;
  border-radius: 21px;
  padding: 0;
}

.round-rect-empty-orange {
  background-color: #ffffff;
  border: 1px solid #ff9037;
  border-radius: 21px;
  padding: 0;
}

.round-rect-empty-white {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 21px;
  padding: 0;
}

.rect-white {
  background-color: #ffffff;
  border: 1px solid #4a4a4a;
  border-radius: 0;
  padding: 0;
}

.rect-black {
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a;
  border-radius: 0;
  padding: 0;
}

.edit-box {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 0;
  padding: 0;
}

.search-box {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 0;
  padding: 0;
  display: flex;
}
.search-box > input {
  height: 100%;
  border: none;
  padding-left: 16px;
}
.search-box > input::placeholder {
  color: #979797;
}
.search-box > button {
  height: 100%;
  background: #ffffff url("/img/search_orange.png") no-repeat center center;
  border: none;
}

.close-button-white {
  background: rgba(0, 0, 0, 0) url("/img/close_white.png") no-repeat center center;
  background-size: 100%;
  border: none;
  padding: 0;
}

.close-button-black {
  background: rgba(0, 0, 0, 0) url("/img/close_black.png") no-repeat center center;
  background-size: 100%;
  border: none;
  padding: 0;
}

.radio-items:hover input[type=radio] ~ .check-marker {
  /* 라디오 버튼 덮힐 경우 */
}
.radio-items input[type=radio] {
  margin: 0;
  -webkit-appearance: none;
  /* 라디오 버튼 없애기 for chrome*/
  -moz-appearance: none;
  /* 라디오 버튼 없애기 for firefox*/
  appearance: none;
  /* 라디오 버튼 없애기 공통*/
  display: none;
  /* 라디오 버튼 없애기 for IE10, 11*/
}
.radio-items input[type=radio]:checked ~ .check-marker {
  /* 라디오 버튼 선택된 경우 */
}
.radio-items .check-marker {
  /* 라디오 버튼 기본 모양 */
}

.address-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px calc(50% - 480px) 30px;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.address-modal .modal-container {
  width: 960px;
  height: 610px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}
.address-modal .modal-container .modal-header {
  width: calc(100% - 15px - 15px - 11px);
  height: 50px;
  background-color: #1f1f1f;
  padding-left: 26px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}
.address-modal .modal-container .modal-header > span {
  font-family: NotoSansCJKkr;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  width: 100%;
  text-align: center;
}
.address-modal .modal-container .modal-header .close-button-white {
  width: 11px;
  height: 11px;
  justify-self: flex-end;
}
.address-modal .modal-container .body {
  display: flex;
  height: calc(100% - 50px);
}
.address-modal .modal-container .body .aside {
  width: 177px;
  height: 100%;
}
.address-modal .modal-container .body .aside .title-block {
  width: 100%;
  height: 50px;
  background-color: #302c2c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.address-modal .modal-container .body .aside .title-block > span {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ff9037;
  line-height: normal;
  letter-spacing: normal;
}
.address-modal .modal-container .body .aside .select-container {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  overflow: hidden;
}
.address-modal .modal-container .body .modal-main-section {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.address-modal .modal-container .body .modal-main-section .upper-area {
  margin: 11px 16px 11px 16px;
}
.address-modal .modal-container .body .modal-main-section .upper-area .search-area {
  display: flex;
  flex-direction: column;
}
.address-modal .modal-container .body .modal-main-section .scroll-table {
  width: 100%;
  height: calc(100% - 192px);
}
.address-modal .scroll-table {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.address-modal .scroll-table .address-list-scroll {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  /*크롬전용 커스톰 스크롤*/
  width: 100%;
  height: calc(100% - 28px);
}
.address-modal .scroll-table .address-list-scroll::-webkit-scrollbar {
  width: 3px;
  background: none;
}
.address-modal .scroll-table .address-list-scroll::-webkit-scrollbar-thumb {
  background: #eaeaea;
  opacity: 0.4;
}
.address-modal .scroll-table .address-list-scroll::-webkit-scrollbar-track {
  background: #ffffff;
}
.address-modal .scroll-table table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.address-modal .scroll-table table > thead {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #707070;
  line-height: normal;
  letter-spacing: normal;
}
.address-modal .scroll-table table > thead tr {
  height: 28px;
  background-color: #e3e3e3;
}
.address-modal .scroll-table table > thead tr td, .address-modal .scroll-table table > thead tr th {
  text-align: center;
}
.address-modal .scroll-table table > tbody {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #323232;
  line-height: normal;
  letter-spacing: normal;
}
.address-modal .scroll-table table > tbody tr {
  border-bottom: 1px solid #d0d0d0;
  height: 48px;
}
.address-modal .scroll-table table td:nth-child(1), .address-modal .scroll-table table th:nth-child(1) {
  width: 10%;
  text-align: center;
}
.address-modal .scroll-table table td:nth-child(2), .address-modal .scroll-table table th:nth-child(2) {
  width: 20%;
  text-align: center;
}
.address-modal .scroll-table table td:nth-child(3), .address-modal .scroll-table table th:nth-child(3) {
  width: 35%;
  padding-left: 10px;
}
.address-modal .scroll-table table td:nth-child(4), .address-modal .scroll-table table th:nth-child(4) {
  padding-left: 10px;
}
.address-modal .consonant {
  width: 40px;
  background-color: #1f1f1f;
  border-right: 1px solid #434343;
}
.address-modal .consonant > button {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  width: 40px;
  height: calc(100% / 15);
  text-align: center;
  overflow: hidden;
  padding: 0;
  border: none;
  border-bottom: 1px solid #434343;
  background-color: #1f1f1f;
}
.address-modal .consonant > button:hover {
  background-color: #ff9037;
}
.address-modal .consonant > button:nth-child(15) {
  border-bottom: 0;
}
.address-modal .enable-dong-scroll {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  /*스크롤 감추기*/
  -ms-overflow-style: none;
  width: calc(100% - 39px);
  height: 510px;
  background-color: #302c2c;
}
.address-modal .enable-dong-scroll::-webkit-scrollbar {
  display: none !important;
}
.address-modal .enable-dong-scroll > button {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  width: 100%;
  height: 6.6666666667%;
  border: none;
  padding: 0 5px 0 0;
  border-bottom: 1px solid #434343;
  background: #302c2c;
}
.address-modal .enable-dong-scroll > button:hover {
  background-color: #ffffff;
  color: #ff9037;
}
.address-modal .select-tower {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.address-modal .select-tower .rect-empty-white {
  font-family: NotoSansCJKkr;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #323232;
  line-height: normal;
  letter-spacing: normal;
  width: 72px;
  height: 46px;
}
.address-modal .search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.address-modal .search-container > span {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #323232;
  line-height: normal;
  letter-spacing: normal;
  flex: 1;
  margin-right: 10px;
  text-align: center;
}
.address-modal .search-container .rect-empty-white {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  width: 565.5px;
  height: 40px;
  padding-left: 13px;
  margin-right: 7.5px;
}
.address-modal .search-container .rect-empty-white::placeholder {
  color: #979797;
}
.address-modal .search-container .rect-fill-orange {
  font-family: NotoSansCJKkr;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  width: 108.6px;
  height: 40px;
  background: #ff9037 url("/img/search_white.png") no-repeat 10% center;
  background-size: 15.9px 15.9px;
  padding-left: 15.9px;
}
.address-modal .caption {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #d0021b;
  line-height: normal;
  letter-spacing: normal;
  margin-left: calc(100% - 684.1px);
  margin-top: 2px;
  margin-bottom: 12px;
}
.address-modal .star {
  width: 15px;
  height: 15px;
  background: url("/img/orange_star.png") no-repeat center center;
  background-size: 15px;
}
.address-modal .star-empty {
  width: 15px;
  height: 15px;
  background: url("/img/empty_star.png") no-repeat center center;
  background-size: 15px;
}

/*# sourceMappingURL=popup_search_address.css.map */
