body {
    margin: 0;
    font-family: NotoSansCJKkr;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    color: #ff9037;
    float: left;
}

ul li {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    float: left;
}

li::before {
    content: "";
    float: left;
}

.required::before {
    content: "▪\00a0";
}

label, span, input {
    float: left;
}

input[type="text"], input[type="tel"] {
    height: 32px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    border: hidden;
    background-color: #f1f1f1;
    color: #4a4a4a;
}

article {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
    clear: both;
    float: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    clear: both;
}

.header {
    background-color: #4a4a4a;
    padding: 17px 23px;
    width: calc(100% - 46px);
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    float: left;
    clear: both;
}

.header ul {
    margin: 5px 10px;
    width: auto;
}

.header ul li {
    margin: 0;
    width: auto;
}

.header ul li span {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFFFFF;
    font-size: 12px;
}

.btn_search {
    margin-top: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 80px;
    background-color: #FFFFFF;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    color: #ff9037;
    float: right;
}

.btn_white {
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 98px;
    border: 1px solid #9b9b9b;
    background-color: #FFFFFF;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    color: #4a4a4a;
    float: left;
}

.btn_black {
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 98px;
    border: 1px solid #4a4a4a;
    background-color: #4a4a4a;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    float: left;
}

.btn_payment {
    margin-left: 4px;
    margin-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 80px;
    border: 1px solid #d0d0d0;
    background-color: #FFFFFF;
    border-radius: 2px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: #9b9b9b;
    float: left;
}

.btn_payment:hover,
#cash:checked ~ #label_cash,
#card:checked ~ #label_card,
#prepay:checked ~ #label_prepay {
    border: 1px solid #ff9037;
    color: #ff9037;
}

.btn_time {
    margin: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 71px;
    border: 1px solid #d0d0d0;
    background-color: #FFFFFF;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    color: #9b9b9b;
}

.btn_time:hover,
#cook_m15:checked ~ #label_cook_m15,
#cook_m20:checked ~ #label_cook_m20,
#cook_m25:checked ~ #label_cook_m25,
#cook_m30:checked ~ #label_cook_m30,
#cook_m35:checked ~ #label_cook_m35,
#cook_m40:checked ~ #label_cook_m40,
#cook_m50:checked ~ #label_cook_m50,
#cancel_m15:checked ~ #label_cancel_m15,
#cancel_m20:checked ~ #label_cancel_m20,
#cancel_m25:checked ~ #label_cancel_m25,
#cancel_m30:checked ~ #label_cancel_m30,
#cancel_m35:checked ~ #label_cancel_m35,
#cancel_m40:checked ~ #label_cancel_m40,
#cancel_m50:checked ~ #label_cancel_m50 {
    border: 1px solid #ff9037;
    background-color: #FFFFFF;
    color: #ff9037;
}

.btn_cost {
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 97px;
    border: 1px solid #d0d0d0;
    background-color: #FFFFFF;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    color: #9b9b9b;
    float: left;
}

.btn_cost:hover,
#p:checked ~ #label_p,
#c:checked ~ #label_c {
    border: 1px solid #ff9037;
    background-color: #ffe4ce;
    color: #ff9037;
}

.btn_memo {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 80px;
    border: 1px solid #dcdcdc;
    background-color: #FFFFFF;
    border-radius: 2px;
    font-size: 14px;
    color: #ff9037;
    float: left;
}

.btn_wait {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 195px;
    border: 1px solid #d0d0d0;
    background-color: #FFFFFF;
    border-radius: 21px;
    font-size: 16px;
    font-weight: bold;
    color: #9b9b9b;
    clear: both;
    float: left;
}

.btn_request {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 195px;
    border: 1px solid #ff9037;
    background-color: #ff9037;
    border-radius: 21px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    float: left;
}

.main_section {
    margin-left: calc(50% - 525px);
    margin-right: calc(50% - 525px);
    margin-top: 50px;
    float: left;
}

.table {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #d0d0d0;
    caption-side: bottom;
    float: left;
    clear: both;
}

.table caption {
    text-align: right;
    font-size: 12px;
    font-weight: normal;
    color: #9b9b9b;
}

.table thead {
    background-color: #eaeaea;
    font-size: 12px;
    font-weight: normal;
    color: #4a4a4a;
    border-top: 1px solid #eaeaea;
}

.table tbody {
    font-size: 14px;
    font-weight: normal;
    color: #1f1f1f;
}

.table thead td, .table thead th {
    border-bottom: 1px solid #eaeaea;
    padding-top: 3px;
    padding-bottom: 3px;
}

.table tbody td, .table tbody th {
    border-bottom: 1px solid #eaeaea;
    padding: 5px 40px 5px 10px;
}

.subsection_title {
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #323232;
}

.left_section {
    padding: 30px;
    width: 460px;
    float: left;
}

.address_area {
    width: calc(100% - 105px);
    float: right;
}

.numbers {
    width: calc(100% - 125px);
    font-size: 12px;
    float: right;
}

.address {
    width: calc(100% - 110px);
    font-size: 12px;
    float: left;
}

.address_area .address_detail {
    width: calc(100% - 20px);
    font-size: 12px;
    float: right;
    clear: both;
}

.map {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 135px;;
    background-color: #ff9037;
    float: left;
    clear: both;
}

.item_info {
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
}

.item_cost {
    margin-right: 12px;
    width: calc(33% - 12px);
    float: left;
}

.item_cost input[type="text"] {
    text-align: right;
    width: calc(100% - 20px);
}

.payment_type {
    float: right;
}

.right_section {
    padding: 15px 30px;
    width: 460px;
    float: left;
}

.time_area {
    margin-left: 20px;
    width: calc(100% - 100px);
    float: left;
}

.cost_setting_area {
    float: right;
}

.cost_setting_area div {
    float: left;
    margin: 2px 7px;
}

.cost_setting_area div input[type="text"] {
    margin-top: -3px;
    margin-left: 10px;
    margin-right: 10px;
    width: 55px;
    font-size: 11px;
    font-weight: 500;
    color: #9c9c9c;
}

.cost_setting_etc_area {
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: calc(50% - 20px);
    float: left;
}

.cost_setting_etc_area input[type="text"] {
    width: calc(100% - 20px);
    text-align: right;
    clear: both;
    float: left;

}

.cost_type {
    float: right;
}

.memo_area {
    width: calc(100% - 90px);
    float: right;
}

.buttons {
    margin: 15px calc(50% - 210px);
    float: left;
}

.memo {
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% - 110px);
    float: left;
}

.label {
    font-size: 14px;
    font-weight: 500;
    color: #9b9b9b
}

@media (max-width: 1290px) {
    .main_section {
        width: calc(100% - 2px);
        margin: 0;
    }

    .left_section {
        width: calc(100% - 62px);
    }

    .right_section {
        width: calc(100% - 62px);
        clear: both;
    }
}