body {
  margin: 0;
  font-family: "Noto Sans CJK KR", sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  float: left;

  li {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    float: left;

    &::before {
      color: rgba(0, 0, 0, 0);
      content: "▪\00a0";
      float: left;
    }
  }
}

.required::before {
  color: #ff9037;
}

input[type="text"], input[type="tel"] {
  height: 32px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  border: hidden;
  background-color: #f1f1f1;
  color: #4a4a4a;
}

article {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid #d0d0d0;
  clear: both;
  float: left;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-top:20px;
  width: 100%;
  float: left;
  clear: both;
}

.header {
  background-color: #4a4a4a;
  padding: 17px 23px;
  width: calc(100% - 46px);
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  float: left;
  clear: both;

  span {
    font-size: 12px;
    color: #ff9037;
    > span {
      color: #FFFFFF;
    }
  }
}

.btn_search {
  margin-top: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 80px;
  background-color: #FFFFFF;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  color: #ff9037;
  float: right;
}

.btn_white {
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 98px;
  border: 1px solid #9b9b9b;
  background-color: #FFFFFF;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  color: #4a4a4a;
  float: right;
}

.btn_black {
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 98px;
  border: 1px solid #4a4a4a;
  background-color: #4a4a4a;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
  float: right;
}

.btn_payment {
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 80px;
  border: 1px solid #d0d0d0;
  background-color: #FFFFFF;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: #9b9b9b;
  float: left;
}

.btn_payment:hover,
#cash:checked ~ #label_cash,
#card:checked ~ #label_card,
#prepay:checked ~ #label_prepay {
  border: 1px solid #ff9037;
  color: #ff9037;
}

.btn_time {
  margin: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 71px;
  border: 1px solid #d0d0d0;
  background-color: #FFFFFF;
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  color: #9b9b9b;
  float: left;
}

.btn_time:hover,
#cook_m15:checked ~ #label_cook_m15,
#cook_m20:checked ~ #label_cook_m20,
#cook_m25:checked ~ #label_cook_m25,
#cook_m30:checked ~ #label_cook_m30,
#cook_m35:checked ~ #label_cook_m35,
#cook_m40:checked ~ #label_cook_m40,
#cook_m50:checked ~ #label_cook_m50,
#cancel_m15:checked ~ #label_cancel_m15,
#cancel_m20:checked ~ #label_cancel_m20,
#cancel_m25:checked ~ #label_cancel_m25,
#cancel_m30:checked ~ #label_cancel_m30,
#cancel_m35:checked ~ #label_cancel_m35,
#cancel_m40:checked ~ #label_cancel_m40,
#cancel_m50:checked ~ #label_cancel_m50 {
  border: 1px solid #ff9037;
  background-color: #FFFFFF;
  color: #ff9037;
}

.btn_cost {
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 97px;
  border: 1px solid #d0d0d0;
  background-color: #FFFFFF;
  border-radius: 2px;
  font-size: 14px;
  color: #9b9b9b;
  float: left;
}

.btn_cost-selected {
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 97px;
  border: 1px solid #ff9037;
  background-color: #ffe4ce;
  border-radius: 2px;
  font-size: 14px;
  color: #ff9037;
  float: left;
}

.btn_memo {
  margin-top: 3px;
  margin-bottom: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 80px;
  border: 1px solid #dcdcdc;
  background-color: #FFFFFF;
  border-radius: 2px;
  font-size: 14px;
  color: #ff9037;
  float: left;
}

.btn_wait {
  text-align: center;
  margin-left: 5px;
  margin-right: 19px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 123px;
  height: 26px;
  border: 1px solid #ff9037;
  background-color: #FFFFFF;
  border-radius: 21px;
  font-size: 16px;
  font-weight: bold;
  color: #ff9037;
  float: left;
}

.btn_request {
  margin-left: 5px;
  margin-right: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 125px;
  height: 42px;
  border: 1px solid #ff9037;
  background-color: #ff9037;
  border-radius: 21px;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  float: left;
}

.btn_cancel {
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 125px;
  height: 42px;
  border: 1px solid #9b9b9b;
  background-color: #FFFFFF;
  border-radius: 21px;
  font-size: 16px;
  font-weight: bold;
  color: #9b9b9b;
  float: left;
}

.main_section {
  margin: 24px calc(50% - 525px) 44px;
  height: 658px;
  display: block;
}

.table_outer {
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid #d9d9d9;
}

.table_caption {
  font-size: 12px;
  font-weight: normal;
  text-align: right;
  width: 100%;
}

.table_scroll {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 66px;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;

  thead {
    background-color: #eaeaea;
    font-size: 12px;
    font-weight: normal;
    color: #4a4a4a;

    th, td {
      height: 24px;
      text-align: center;
      vertical-align: middle;
    }
  }
  tbody {
    font-size: 14px;
    font-weight: normal;
    color: #1f1f1f;

    th, td {
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        float: left;
        width: 100%;
      }
      vertical-align: middle;
      height: 33px;
      border-bottom: 1px solid #eaeaea;
    }
  }
  td:nth-child(1), th:nth-child(1) {
    width: 40px;
    text-align: center;
  }
  td:nth-child(2), th:nth-child(2) {
    width: 100px;
    padding-left: 10px;
  }
  td:nth-child(3), th:nth-child(3) {
    width: 40px;
    text-align: center;
  }
  td:nth-child(4), th:nth-child(4) {
    width: 80px;
    padding-left: 10px;
  }
  td:nth-child(5), th:nth-child(5) {
    width: 40px;
    padding-left: 10px;
  }
  td:nth-child(6), th:nth-child(6) {
    width: calc(100% - 300px);
    padding-left: 10px;
  }
}

.subsection_title {
  font-size: 14px;
  font-weight: bold;
  color: #323232;
  float: left;
}

.left_section {
  margin-top:20px;
  padding: 15px 30px;
  width: 460px;
  height: 100%;
  float: left;
  border-right: 1px solid #d0d0d0;
  display: flex;
  flex-direction: column;
  clear: both;
  content: '';
}

.dot_line {
  border-left: 392px dashed #000;
}

.name {
  width: calc(100% - 90px);
  font-size: 12px;
  float: left;
}

.name_area {
  width: calc(100% - 115px);
  float: right;
}

.numbers {
  width: calc(100% - 115px);
  font-size: 12px;
  float: right;
}

.address {
  width: calc(100% - 90px);
  font-size: 12px;
  float: left;
}

.address_detail {
  width: 100%;
  font-size: 12px;
  float: right;
  clear: both;
}

.address_area {
  width: calc(100% - 115px);
  float: right;
}

.map {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 135px;;
  background-color: #ff9037;
  float: left;
  clear: both;
}

.item_info_container {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  content: '';
  clear: both;
  *zoom: 1;
  .subsection_title {
    font-size: 14px;
    font-weight: bold;
    color: #323232;
    flex-grow: 7;
  }
}

.item_cost_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}

.item_cost {
  margin-right: 12px;
  width: calc(33% - 12px);

  input[type="text"] {
    text-align: right;
    width: calc(100% - 20px);
  }
}

.payment_type {
  margin-left: 20px;
  float: left;
}

.right_section {
  margin-top:20px;
  padding: 15px 30px;
  width: 460px;
  float: right;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.time_area {
  margin-left: 20px;
  width: calc(100% - 100px);
  float: left;
}

.cost_setting_area {
  float: right;

  div {
    float: left;
    margin: 2px 7px;

    input[type="text"] {
      margin-top: -3px;
      margin-left: 10px;
      margin-right: 10px;
      width: 55px;
      font-size: 11px;
      font-weight: 500;
      color: #9c9c9c;
    }
  }
}

.cost_setting_etc_area {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: calc(50% - 20px);
  float: left;

  input[type="text"] {
    width: calc(100% - 20px);
    text-align: right;
    clear: both;
    float: left;
  }
}

.cost_type {
  float: right;
}

.memo_area {
  width: calc(100% - 90px);
  float: right;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
  flex: 1;
}

.memo {
  margin-left: 5px;
  margin-right: 5px;
  width: calc(100% - 110px);
  float: left;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #9b9b9b
}

@media (max-width: 1290px) {
  .main_section {
    width: calc(100% - 2px);
    margin: 0;
  }

  .left_section {
    width: calc(100% - 62px);
    &::after {
      clear: both;
      content: '';
    }
  }

  .right_section {
    width: calc(100% - 62px);
    clear: both;
  }
}