@charset "UTF-8";
/* TODO 사용자 정의 변수 */
/* 컬러 */
/* 이미지 */
/* TODO mixin 정의 */
/* 스크롤 뷰 */
/* 커스톰 폰트 */
/* 모달 투명 배경 */
/* 모달 컨테이너 */
/* 분할선 */
/* 버튼 기본 모양 정의 */
/* TODO Component 정의 */
.rect-fill-orange {
  background-color: #ff9037;
  border: 1px solid #ff9037;
  border-radius: 0;
  padding: 0;
}

.rect-empty-orange {
  background-color: #ffffff;
  border: 1px solid #ff9037;
  border-radius: 0;
  padding: 0;
}

.rect-empty-white {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 0;
  padding: 0;
}

.round-rect-fill-orange {
  background-color: #ff9037;
  border: 1px solid #ff9037;
  border-radius: 21px;
  padding: 0;
}

.round-rect-empty-orange {
  background-color: #ffffff;
  border: 1px solid #ff9037;
  border-radius: 21px;
  padding: 0;
}

.round-rect-empty-white {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 21px;
  padding: 0;
}

.rect-white {
  background-color: #ffffff;
  border: 1px solid #4a4a4a;
  border-radius: 0;
  padding: 0;
}

.rect-black {
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a;
  border-radius: 0;
  padding: 0;
}

.edit-box {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 0;
  padding: 0;
}

.search-box {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 0;
  padding: 0;
  display: flex;
}
.search-box > input {
  height: 100%;
  border: none;
  padding-left: 16px;
}
.search-box > input::placeholder {
  color: #979797;
}
.search-box > button {
  height: 100%;
  background: #ffffff url("/img/search_orange.png") no-repeat center center;
  border: none;
}

.close-button-white {
  background: rgba(0, 0, 0, 0) url("/img/close_white.png") no-repeat center center;
  background-size: 100%;
  border: none;
  padding: 0;
}

.close-button-black {
  background: rgba(0, 0, 0, 0) url("/img/close_black.png") no-repeat center center;
  background-size: 100%;
  border: none;
  padding: 0;
}

.radio-items:hover input[type=radio] ~ .check-marker {
  /* 라디오 버튼 덮힐 경우 */
}
.radio-items input[type=radio] {
  margin: 0;
  -webkit-appearance: none;
  /* 라디오 버튼 없애기 for chrome*/
  -moz-appearance: none;
  /* 라디오 버튼 없애기 for firefox*/
  appearance: none;
  /* 라디오 버튼 없애기 공통*/
  display: none;
  /* 라디오 버튼 없애기 for IE10, 11*/
}
.radio-items input[type=radio]:checked ~ .check-marker {
  /* 라디오 버튼 선택된 경우 */
}
.radio-items .check-marker {
  /* 라디오 버튼 기본 모양 */
}

.reception-container {
  width: 100%;
  height: 100%;
  /* TODO 컨테이너 CSS */
  /* TODO 요소 CSS */
}
.reception-container .main-section {
  width: 100%;
  height: 728px;
  display: flex;
  flex-direction: column;
}
.reception-container .main-section .header {
  font-family: NotoSansCJKkr;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-size: 24px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  width: calc(50% + 450px);
  height: 70px;
  background-color: #4a4a4a;
  padding-left: calc(50% - 450px);
  display: flex;
  align-items: center;
}
.reception-container .main-section .header .required {
  color: #ffffff;
  margin-left: 14px;
  font-weight: normal;
  font-size: 12px;
}
.reception-container .main-section .body {
  margin: 30px calc(50% - 450px) 44px;
  height: calc(100% - 70px - 74px);
  min-width: 900px;
  display: flex;
}
.reception-container .main-section .body .left-section {
  width: 410px;
  padding-right: 39px;
  height: 100%;
  border-right: 1px solid #d0d0d0;
}
.reception-container .main-section .body .right-section {
  width: 410px;
  padding-left: 40px;
  height: 100%;
}
.reception-container .info-container {
  margin-bottom: 9px;
}
.reception-container .info-container .info-row {
  display: flex;
  height: 32px;
  margin-bottom: 10px;
}
.reception-container .info-container .info-row .required {
  width: 120px;
  height: 100%;
}
.reception-container .info-container .info-row .edit-box {
  flex: 1;
}
.reception-container .info-container .info-row .search-button {
  width: 80px;
  height: 32px;
  background: url("/img/search_orange.png") no-repeat 16px center;
  background-size: 13px;
  padding-left: 16px;
  margin-left: 3px;
}
.reception-container .info-container .info-row:nth-child(5) .edit-box {
  margin-left: 120px;
}
.reception-container .item-info-container {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.reception-container .item-info-container .rect-white {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  width: 98px;
  height: 100%;
  margin-right: 5px;
}
.reception-container .item-info-container .rect-black {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  width: 98px;
  height: 100%;
}
.reception-container .payment-type-container {
  display: flex;
  margin-bottom: 16px;
}
.reception-container .payment-type-container .required {
  margin-right: 19px;
}
.reception-container .payment-type-container .radio-items {
  width: 74px;
  height: 33px;
  margin-right: 7px;
}
.reception-container .cook-time-container {
  border-bottom: 1px solid #d0d0d0;
  width: 100%;
  margin-bottom: 20px;
}
.reception-container .cook-time-container .cook-time-row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.reception-container .cook-time-container .cook-time-row .subsection-title {
  margin-right: 30px;
}
.reception-container .cook-time-container .cook-time-row:nth-child(2) {
  padding-left: 86px;
  margin-bottom: 20px;
}
.reception-container .cook-time-container .cook-time-row .radio-items {
  width: 74px;
  height: 30px;
  margin-right: 7px;
}
.reception-container .cost-setting-container {
  border-bottom: 1px solid #d0d0d0;
  width: 100%;
  margin-bottom: 18px;
}
.reception-container .dist-setting-container {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.reception-container .dist-setting-container .subsection-title {
  letter-spacing: 0.2px;
  margin-right: 10px;
}
.reception-container .dist-setting-container .basic-label {
  font-family: NotoSansCJKkr;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #9b9b9b;
  line-height: normal;
  letter-spacing: normal;
  margin-right: 10px;
}
.reception-container .dist-setting-container .edit-box {
  width: 68px;
  margin-right: 38px;
}
.reception-container .cost-setting-etc-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.reception-container .cost-setting-etc-container .item-cost {
  width: 180px;
}
.reception-container .cost-setting-etc-container .item-cost .subsection-title, .reception-container .cost-setting-etc-container .item-cost .required {
  display: block;
  margin-bottom: 6px;
}
.reception-container .cost-setting-etc-container:nth-child(3) {
  margin-top: 17px;
  margin-bottom: 25px;
}
.reception-container .cost-type-container {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.reception-container .cost-type-container .buttons {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.reception-container .cost-type-container .buttons .radio-items {
  width: 97px;
  height: 32px;
}
.reception-container .request-memo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.reception-container .request-memo-container .edit-box {
  width: 230px;
  margin-right: 3px;
}
.reception-container .request-memo-container .search-button {
  width: 80px;
  height: 32px;
}
.reception-container .item-cost-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.reception-container .item-cost {
  width: 30%;
}
.reception-container .item-cost .subsection-title, .reception-container .item-cost .required {
  margin-bottom: 8px;
}
.reception-container .item-cost .edit-box {
  text-align: right;
  width: 100%;
}
.reception-container .required {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #323232;
  line-height: normal;
  letter-spacing: normal;
}
.reception-container .required::before {
  width: 5px;
  height: 5px;
  font-size: 20px;
  content: "▪";
  color: #ff9037 !important;
}
.reception-container .search-button {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 0;
  padding: 0;
  font-family: NotoSansCJKkr;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ff9037;
  line-height: normal;
  letter-spacing: normal;
  letter-spacing: 0.5px;
}
.reception-container .subsection-title {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #323232;
  line-height: normal;
  letter-spacing: normal;
}
.reception-container .edit-box {
  font-family: NotoSansCJKkr;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  border: none;
  background-color: #f1f1f1;
}
.reception-container .map {
  margin-bottom: 18px;
  width: 100%;
  height: 135px;
  border: 1px solid #aeaeae;
}
.reception-container .radio-items {
  /* 라디오 버튼 선택된 경우 */
  /* 라디오 버튼 기본 모양 */
}
.reception-container .radio-items input[type=radio]:checked ~ .check-marker {
  font-family: NotoSansCJKkr;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #ff9037;
  line-height: normal;
  letter-spacing: normal;
  background-color: #ffffff;
  border: 1px solid #ff9037;
  border-radius: 0;
  padding: 0;
  letter-spacing: 0.5px;
}
.reception-container .radio-items .check-marker {
  font-family: NotoSansCJKkr;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #9b9b9b;
  line-height: normal;
  letter-spacing: normal;
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 0;
  padding: 0;
  letter-spacing: 0.5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reception-container .label {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #9b9b9b;
  line-height: normal;
  letter-spacing: normal;
}
.reception-container .table-container {
  border: 1px solid #eaeaea;
}
.reception-container .table-container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.reception-container .table-container table thead {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  background-color: #eaeaea;
}
.reception-container .table-container table thead th, .reception-container .table-container table thead td {
  height: 24px;
  text-align: center;
  vertical-align: middle;
}
.reception-container .table-container table tbody {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #1f1f1f;
  line-height: normal;
  letter-spacing: normal;
}
.reception-container .table-container table tbody th, .reception-container .table-container table tbody td {
  border-bottom: 1px solid #d0d0d0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  height: 33px;
}
.reception-container .table-container table tbody td:nth-child(1), .reception-container .table-container table tbody th:nth-child(1) {
  text-align: center;
}
.reception-container .table-container table tbody td:nth-child(2), .reception-container .table-container table tbody th:nth-child(2) {
  padding-left: 10px;
}
.reception-container .table-container table tbody td:nth-child(3), .reception-container .table-container table tbody th:nth-child(3) {
  text-align: center;
}
.reception-container .table-container table tbody td:nth-child(4), .reception-container .table-container table tbody th:nth-child(4) {
  padding-left: 10px;
}
.reception-container .table-container table tbody td:nth-child(5), .reception-container .table-container table tbody th:nth-child(5) {
  text-align: center;
}
.reception-container .table-container table tbody td:nth-child(6), .reception-container .table-container table tbody th:nth-child(6) {
  padding-left: 10px;
}
.reception-container .table-container table td:nth-child(1), .reception-container .table-container table th:nth-child(1) {
  width: 10%;
}
.reception-container .table-container table td:nth-child(2), .reception-container .table-container table th:nth-child(2) {
  width: 30%;
}
.reception-container .table-container table td:nth-child(3), .reception-container .table-container table th:nth-child(3) {
  width: 15%;
}
.reception-container .table-container table td:nth-child(4), .reception-container .table-container table th:nth-child(4) {
  width: 15%;
}
.reception-container .table-container table td:nth-child(5), .reception-container .table-container table th:nth-child(5) {
  width: 10%;
}
.reception-container .table-container .table-scroll {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  /*크롬전용 커스톰 스크롤*/
  height: 66px;
  width: 100%;
}
.reception-container .table-container .table-scroll::-webkit-scrollbar {
  width: 3px;
  background: none;
}
.reception-container .table-container .table-scroll::-webkit-scrollbar-thumb {
  background: #aeaeae;
  opacity: 0.4;
}
.reception-container .table-container .table-scroll::-webkit-scrollbar-track {
  background: #f8f7fb;
}
.reception-container .table_caption {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 12px;
  color: #9b9b9b;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  width: 100%;
  margin-bottom: 10px;
}
.reception-container .result-button-container .round-rect-fill-orange {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  width: 125px;
  height: 42px;
  margin-right: 4px;
}
.reception-container .result-button-container .round-rect-empty-orange {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  color: #ff9037;
  line-height: normal;
  letter-spacing: normal;
  width: 125px;
  height: 42px;
  margin-right: 19px;
}
.reception-container .result-button-container .round-rect-empty-white {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  color: #9b9b9b;
  line-height: normal;
  letter-spacing: normal;
  width: 125px;
  height: 42px;
}
@media (max-width: 1100px) {
  .reception-container .main-section .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 30px 5px 44px;
  }
  .reception-container .main-section .body .left-section {
    width: 450px;
    padding: 0 0 40px 0;
    border-right: 0;
  }
  .reception-container .main-section .body .right-section {
    width: 450px;
    padding: 40px 0 0 0;
    border-top: 1px solid #aeaeae;
  }
}

/*# sourceMappingURL=recept_order.css.map */
