@charset "UTF-8";
/* TODO 사용자 정의 변수 */
/* 컬러 */
/* 이미지 */
/* TODO mixin 정의 */
/* 스크롤 뷰 */
/* 커스톰 폰트 */
/* 모달 투명 배경 */
/* 모달 컨테이너 */
/* 분할선 */
/* 버튼 기본 모양 정의 */
/* TODO Component 정의 */
.rect-fill-orange {
  background-color: #ff9037;
  border: 1px solid #ff9037;
  border-radius: 0;
  padding: 0;
}

.rect-empty-orange {
  background-color: #ffffff;
  border: 1px solid #ff9037;
  border-radius: 0;
  padding: 0;
}

.rect-empty-white {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 0;
  padding: 0;
}

.round-rect-fill-orange {
  background-color: #ff9037;
  border: 1px solid #ff9037;
  border-radius: 21px;
  padding: 0;
}

.round-rect-empty-orange {
  background-color: #ffffff;
  border: 1px solid #ff9037;
  border-radius: 21px;
  padding: 0;
}

.round-rect-empty-white {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 21px;
  padding: 0;
}

.rect-white {
  background-color: #ffffff;
  border: 1px solid #4a4a4a;
  border-radius: 0;
  padding: 0;
}

.rect-black {
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a;
  border-radius: 0;
  padding: 0;
}

.edit-box {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 0;
  padding: 0;
}

.search-box {
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 0;
  padding: 0;
  display: flex;
}
.search-box > input {
  height: 100%;
  border: none;
  padding-left: 16px;
}
.search-box > input::placeholder {
  color: #979797;
}
.search-box > button {
  height: 100%;
  background: #ffffff url("/img/search_orange.png") no-repeat center center;
  border: none;
}

.close-button-white {
  background: rgba(0, 0, 0, 0) url("/img/close_white.png") no-repeat center center;
  background-size: 100%;
  border: none;
  padding: 0;
}

.close-button-black {
  background: rgba(0, 0, 0, 0) url("/img/close_black.png") no-repeat center center;
  background-size: 100%;
  border: none;
  padding: 0;
}

.radio-items:hover input[type=radio] ~ .check-marker {
  /* 라디오 버튼 덮힐 경우 */
}
.radio-items input[type=radio] {
  margin: 0;
  -webkit-appearance: none;
  /* 라디오 버튼 없애기 for chrome*/
  -moz-appearance: none;
  /* 라디오 버튼 없애기 for firefox*/
  appearance: none;
  /* 라디오 버튼 없애기 공통*/
  display: none;
  /* 라디오 버튼 없애기 for IE10, 11*/
}
.radio-items input[type=radio]:checked ~ .check-marker {
  /* 라디오 버튼 선택된 경우 */
}
.radio-items .check-marker {
  /* 라디오 버튼 기본 모양 */
}

#modal {
  position: fixed;
  visibility: hidden;
}

.search-modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 121px calc(50% - 170px) 121px;
  /* TODO 컨테이너 관련 css */
  /* TODO 요소 관련 css */
}
.search-modal-background .modal-container {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  width: 340px;
  height: 545px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}
.search-modal-background .modal-container .modal-header {
  border-bottom: 1px solid #d0d0d0;
  width: calc(100% - 15px - 15px);
  height: 47px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-modal-background .modal-container .modal-header .title {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  height: 100%;
  display: flex;
  align-items: center;
}
.search-modal-background .modal-container .modal-header .close-button-black {
  width: 14px;
  height: 14px;
}
.search-modal-background .modal-container .branch-search-section {
  border-bottom: 1px solid #d0d0d0;
  width: calc(100% - 15px - 15px);
  height: 64px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-modal-background .modal-container .branch-search-section .search-box {
  width: 181px;
}
.search-modal-background .modal-container .shop-search-section {
  border-bottom: 1px solid #d0d0d0;
  width: calc(100% - 15px - 15px);
  height: 64px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}
.search-modal-background .modal-container .shop-search-section .search-box {
  width: 100%;
}
.search-modal-background .modal-container .result-section {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  /*크롬전용 커스톰 스크롤*/
  width: 100%;
  height: 336px;
}
.search-modal-background .modal-container .result-section::-webkit-scrollbar {
  width: 3px;
  background: none;
}
.search-modal-background .modal-container .result-section::-webkit-scrollbar-thumb {
  background: #aeaeae;
  opacity: 0.4;
}
.search-modal-background .modal-container .result-section::-webkit-scrollbar-track {
  background: #f8f7fb;
}
.search-modal-background .modal-container .submit-section {
  padding: 23px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-modal-background .modal-container .submit-section .round-rect-fill-orange {
  font-family: NotoSansCJKkr;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  color: #ffffff;
  line-height: normal;
  letter-spacing: normal;
  width: 300px;
  height: 46px;
}
.search-modal-background .search-box {
  width: 100%;
  height: 38px;
}
.search-modal-background .search-box > input {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  width: calc(100% - 40px);
}
.search-modal-background .search-box > button {
  min-width: 40px;
  background-size: 15px 15px;
}
.search-modal-background .selector {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  width: 120px;
  height: 40px;
  border: 1px solid #d0d0d0;
  background: #ffffff url("/img/select_btn_bright.png") no-repeat right center;
  background-size: 40px 40px;
  padding-left: 12px;
  -webkit-appearance: none;
  /* 화살표 없애기 for chrome*/
  -moz-appearance: none;
  /* 화살표 없애기 for firefox*/
  appearance: none;
  /* 화살표 없애기 공통*/
}
.search-modal-background .selector::-ms-expand {
  display: none;
  /* 화살표 없애기 for IE10, 11*/
}
.search-modal-background .radio-items {
  font-family: NotoSansCJKkr;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
  color: #4a4a4a;
  line-height: normal;
  letter-spacing: normal;
  border-bottom: 1px solid #d0d0d0;
  width: calc(100% - 34px);
  height: 40px;
  padding-left: 17px;
  padding-right: 17px;
  display: flex;
  align-items: center;
  /* 라디오 버튼 덮힐 경우 */
  /* 라디오 버튼 선택X */
}
.search-modal-background .radio-items:hover input[type=radio] ~ .check-marker {
  background: url("/img/radio_hover.png") no-repeat;
  background-size: 20px;
}
.search-modal-background .radio-items input[type=radio] {
  /* 라디오 버튼 선택된 경우 */
}
.search-modal-background .radio-items input[type=radio]:checked ~ .check-marker {
  background: url("/img/radio_on.png") no-repeat;
  background-size: 20px;
}
.search-modal-background .radio-items .check-marker {
  width: 20px;
  height: 20px;
  margin-right: 18px;
  background: url("/img/radio_off.png") no-repeat;
  background-size: 20px;
}

/*# sourceMappingURL=search_modal.css.map */
