body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans CJK KR", sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.container {
  width: 100%;
  height: 100%;
  float: left;
}

input[type=text],
input[type=password] {
  border: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

button,
input[type=submit],
input[type=button] {
  padding: 0;
}

.span_day {
  margin-top: 10px;
  margin-right: 16px;
  font-size: 14px;
  font-weight: normal;
  color: #9b9b9b;
  float: left;
}

.day_area {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 330px;
  height: 32px;
  float: left;
}
.day_area select {
  margin-left: 4px;
  margin-right: 4px;
  width: 155px;
  height: 32px;
  float: left;
}

.time_area {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 370px;
  height: 32px;
  float: left;
}
.time_area select {
  margin-left: 4px;
  margin-right: 4px;
  width: 120px;
  height: 32px;
  float: left;
}

.setting_area {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 340px;
  height: 550px;
  margin: 9px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

.setting_title_area {
  width: 340px;
  height: 30px;
  background-color: #282828;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  float: left;
}
.setting_title_area span {
  margin-top: 8px;
  margin-bottom: 8px;
  display: inline-block;
}
.setting_title_area button {
  margin-right: 8px;
  margin-top: 6px;
  border: 0;
  background: #FFFFFF00;
  width: 14px;
  height: 14px;
  color: #FFFFFF;
  float: right;
}

.setting_content_area {
  padding-left: 25px;
  padding-right: 25px;
  float: left;
}

.balance_area {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d0d0d0;
  text-align: center;
  float: left;
}

.balance_title {
  font-size: 16px;
  font-weight: 500;
  color: #ff7100;
  display: inline-block;
}

.balance {
  font-size: 20px;
  font-weight: bold;
  color: #4a4a4a;
  display: inline-block;
}

.setting_condition_area {
  float: left;
}

.deposit_target {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  float: left;
}
.deposit_target span {
  font-size: 14px;
  font-weight: normal;
  color: #9b9b9b;
}
.deposit_target ul {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  list-style-type: none;
  float: left;
  clear: both;
}
.deposit_target ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  font-weight: normal;
  color: #4a4a4a;
  float: left;
}

.target_setting {
  padding-top: 13px;
  padding-bottom: 13px;
  float: left;
}
.target_setting div {
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  float: left;
}
.target_setting div label {
  font-size: 14px;
  font-weight: normal;
  color: #323232;
}
.target_setting div input {
  width: 170px;
  height: 40px;
  background-color: #f1f1f1;
  float: right;
}

.apply_withdraw {
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #ff9037;
  border: hidden;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.setting_collection {
  width: 100%;
  padding: 13px 2px;
  float: left;
  clear: both;
  text-align: center;
}

.btn_search {
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #ff7100;
  width: 100px;
  height: 32px;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  color: #ff7100;
  float: left;
}

.submit_area {
  width: calc(100% - 50px);
  text-align: center;
  position: absolute;
  bottom: 24px;
}

.btn1 {
  margin: 5px 3px;
  width: 120px;
  height: 36px;
  background-color: #ffffff;
  border: 1px solid #ff7100;
  font-size: 14px;
  font-weight: 500;
  color: #ff7100;
  float: left;
}

.btn2 {
  margin: 5px 3px;
  width: 120px;
  height: 36px;
  background-color: #ffffff;
  border: 1px solid #bababa;
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
  float: left;
}

.btn_pickup {
  width: 48px;
  height: 24px;
  border-radius: 21px;
  background-color: #9013fe;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn_allow {
  width: 48px;
  height: 24px;
  border-radius: 21px;
  background-color: #d0021b;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn_detail {
  border: 1px solid #d0d0d0;
  width: 90px;
  height: 30px;
  background-color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  color: #4a4a4a;
}

.btn_excel {
  margin: 5px 10px;
  border: 0;
  width: 100px;
  height: 32px;
  border-radius: 16px;
  background-color: #ff9037;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  float: right;
}

/*# sourceMappingURL=statistics.css.map */
