<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:fragment="transfer_modal_rider" id="transfer_modal_rider" class="transfer-modal-container">
    <div class="transfer-modal">
        <!-- 헤더 -->
        <header class="modal-header">
            <div class="modal-header__title">송금대상 - 기사</div>
            <button class="modal-header__close-button" id="transfer-rider-close-button"></button>
        </header>

        <section class="transfer-search-section">
            <div class="group-selector-container">
                <select class="group-selector group-selector-container__group-selector" id="rider_distrib_selector">
                    <option value="0" disabled="disabled" selected="selected" hidden="hidden">총판선택</option>
                </select>
                <select class="group-selector group-selector-container__group-selector" id="rider_branch_selector">
                    <option value="0" disabled="disabled" selected="selected" hidden="hidden">지사선택</option>
                </select>
            </div>
            <div class="search-form">
                <input class="search-form__input" type="text" placeholder="기사명 검색" id="rider_search_name"/>
                <button class="search-form__button" id="rider_result_button"></button>
                <input hidden="hidden" id="rider_search_id"/>
            </div>
        </section>
        <div class="transfer-list-container" id="rider_result"></div>
            <input type="hidden" id="rider-name"/>
            <input type="hidden" id="rider-id"/>
        <section class="mileage-footer">
            <button class="button button--round mileage-footer__button" id="rider_ok_button">확인</button>
        </section>
    </div>
</div>
</html>