<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:fragment="transfer_modal_shop" id="transfer_modal_shop" class="transfer-modal-container">
    <div class="transfer-modal">
        <!-- 헤더 -->
        <header class="modal-header">
            <div class="modal-header__title">송금대상 - 상점</div>
            <button class="modal-header__close-button" id="close-button"></button>
        </header>

        <section class="transfer-search-section">
            <div class="group-selector-container">
                <select class="group-selector group-selector-container__group-selector">
                    <option value="" disabled="disabled" selected="selected" hidden="hidden">총판선택</option>
                </select>
                <select class="group-selector group-selector-container__group-selector">
                    <option value="" disabled="disabled" selected="selected" hidden="hidden">지사선택</option>
                </select>
            </div>
            <div class="search-form">
                <input class="search-form__input" type="text" placeholder="상점명 검색"/>
                <button class="search-form__button"></button>
            </div>
        </section>
        <div class="transfer-list-container">
            <label class="radio-item radio-item--hovered transfer-list-container__radio-item"><input class="radio-item__input" type="radio" name="options" checked="checked"/>
                <span class="radio-item__shape"></span>부산남구지사</label>
            <label class="radio-item radio-item--hovered transfer-list-container__radio-item"><input class="radio-item__input" type="radio" name="options"/>
                <span class="radio-item__shape"></span>부산남구지사</label>
        </div>
        <section class="mileage-footer">
            <button class="button button--round mileage-footer__button">확인</button>
        </section>
    </div>
</div>
</html>