<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<div th:fragment="transfer_modal_distrib" id="transfer_modal_distrib" class="transfer-modal-container">
    <div class="transfer-modal">
        <!-- 헤더 -->
        <header class="modal-header">
            <div class="modal-header__title">송금대상 - 총판</div>
            <button class="modal-header__close-button" id="transfer-distrib-close-button"></button>
        </header>

        <section class="transfer-search-section">
            <div class="search-form">
                <input class="search-form__input" type="text" placeholder="총판명 검색" id="distrib_search_name"/>
                <button class="search-form__button" id="distrib_result_button"></button>
                <input hidden="hidden" id="distrib_search_id"/>
            </div>
        </section>
        <div class="transfer-list-container transfer-list-container--distrib" id="distrib_result"></div>
            <input type="hidden" id="distrib_name"/>
            <input type="hidden" id="distrib_id"/>
        <section class="mileage-footer">
            <button class="button button--round mileage-footer__button" id="distrib_ok_button">확인</button>
        </section>
    </div>
</div>
</html>