<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Please</title>
    <link rel="stylesheet" href="/css/delivery_details.css"/>
    <script src="/js/delivery_details.js"></script>
</head>

<body onload="onload();">
<div class="container">
    <!-- 헤더 -->
    <header class="header">
        <span>배송 상세 보기</span>
    </header>
    <!-- 사이드 바 -->
    <aside class="aside">
        <!-- 기본 정보 -->
        <div class="basic_inform">
            <span class="aside_subsection_title">기본정보</span>
            <table class="aside_table">
                <tr>
                    <th>거리</th>
                    <td id="distance">1.26cm</td>
                </tr>
                <tr>
                    <th>구역</th>
                    <td id="district">두암동</td>
                </tr>
            </table>
        </div>

        <!-- 배달대행료 -->
        <div class="delivery_cost">
            <span class="aside_subsection_title">배달대행료</span>
            <table class="aside_table">
                <tr>
                    <th>배달대행료</th>
                    <td id="deliveryCost"></td>
                </tr>
                <tr>
                    <th>할증</th>
                    <td>0원</td>
                </tr>
                <tr>
                    <th>배달추가요금</th>
                    <td>0원</td>
                </tr>
                <tr>
                    <th>대행료합계</th>
                    <td>4200원</td>
                </tr>
            </table>
        </div>

        <!-- 배달대행로 지불방법 -->
        <div class="delivery_pay">
            <span class="aside_subsection_title">배달대행료 지불방법</span>
            <button class="aside_cash" id="aside_cash">현금</button>
            <button class="aside_point" id="aside_point">포인트</button>
        </div>

        <!-- 배송상태 -->
        <div class="delivery_staus">
            <span class="aside_subsection_title">배송상태</span>
            <img src="/img/status_bar1.png" width="150px" height="10px" id="statusBar"/>
            <ul>
                <li> 접수</li>
                <li> 배차</li>
                <li> 픽업</li>
                <li> 완료</li>
            </ul>
        </div>

        <!-- 상태변경 -->
        <div class="change_status">
            <span class="aside_subsection_title">상태변경</span>
            <button class="btn">주문수정</button>
            <button class="btn">주문취소</button>
            <button class="btn">배차취소</button>
            <button class="btn">배달기사 재배차</button>
            <button class="btn">픽업</button>
            <button class="btn">추가접수</button>
        </div>
    </aside>

    <section class="section">
        <!-- 출발지, 도착지, 기사정보, 배송메시지 -->
        <article class="information">

            <div class="starting_point">
                <span class="subsection_title">출발지</span>
                <table class="table2">
                    <tr>
                        <th>출발지역</th>
                        <td id="shopName"></td>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td id="startingTel"></td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td id="startingRoad"></td>
                    </tr>
                </table>
            </div>

            <div class="rider_inform">
                <span class="subsection_title">기사정보</span>
                <table class="table2">
                    <tr>
                        <th id="riderName">기사명</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td id="riderTel"></td>
                    </tr>
                </table>
            </div>

            <div class="destination">
                <span class="subsection_title">도착지</span>
                <table class="table2">
                    <tr>
                        <th>전화번호</th>
                        <td id="customerTel"></td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td id="road"></td>
                    </tr>
                </table>
            </div>

            <div class="delivery_memo">
                <span class="subsection_title">배송메세지</span>
                <table class="table2">
                    <tr>
                        <td id="memo"></td>
                    </tr>
                </table>
            </div>

        </article>

        <!-- 상품 내역 -->
        <article class="item_details">
            <span class="subsection_title">상품 내역</span>
            <table class="table">
                <thead>
                <tr>
                    <td>순번</td>
                    <td>상품명</td>
                    <td>구분</td>
                    <td>단가</td>
                    <td>갯수</td>
                    <td>판매가</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>5</td>
                    <td>짬뽕</td>
                    <td>중화요리</td>
                    <td>7,000</td>
                    <td>1</td>
                    <td>7,000</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>탕수육</td>
                    <td>중화요리</td>
                    <td>7,000</td>
                    <td>1</td>
                    <td>7,000</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>짬뽕</td>
                    <td>중화요리</td>
                    <td>7,000</td>
                    <td>1</td>
                    <td>7,000</td>
                </tr>
                </tbody>
            </table>
            <table class="table2">
                <tr>
                    <th>상품 요금</th>
                    <td>20,500원</td>
                    <th>조리시간</th>
                    <td id="cookTime"></td>
                </tr>
                <tr>
                    <th>상품추가요금</th>
                    <td>0원</td>
                    <th>주문자동취소</th>
                    <td id="orderAutoCancelTime"></td>
                </tr>
                <tr>
                    <th>고객요금합계</th>
                    <td>10,000원</td>
                    <th>결제방법</th>
                    <td>
                        <button class="btn_cash">현금</button>
                        <button class="btn_card">카드</button>
                        <button class="btn_prepay">선결제</button>
                    </td>
                </tr>
            </table>
        </article>

        <!-- 주문이력 -->
        <article class="order_history">
            <span class="subsection_title"> 주문 이력 </span>
            <table class="table">
                <thead>
                <tr>
                    <td>순번</td>
                    <td>시간</td>
                    <td>변경사항</td>
                    <td>행위자</td>
                    <td>기존이력</td>
                    <td>변경내용</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>17</td>
                    <td>시간</td>
                    <td>전화번호변경</td>
                    <td>안상점</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>시간</td>
                    <td>전화번호변경</td>
                    <td>안상점</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>시간</td>
                    <td>전화번호변경</td>
                    <td>안상점</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </article>
    </section>
</div>

</body>

</html>