<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Please</title>
    <link rel="stylesheet" href="/css/home.css"/>
    <link rel="stylesheet" href="css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/codebase/fonts/font_roboto/roboto.css"/>
    <link rel="stylesheet" type="text/css" href="/codebase/dhtmlx.css"/>
    <script src="/codebase/dhtmlx.js"></script>
</head>
<body>

<!-- Main Container -->
<div id="container">
    <!-- Navigation -->
    <header>
        <div class="logo"><img alt="logo" src="img/logo_small.png" width="21px" height="23px"/></div>
        <nav>
            <ul>
                <li>현황</li>
                <li>관제</li>
                <li>관리</li>
                <li>통계</li>
                <li>설정</li>
            </ul>
        </nav>

        <div class="header_right">
            <div class="point_area">
                <span id="point" th:text="${point}">-1</span>
            </div>
            <button class="button">접수하기</button>
        </div>
    </header>
    <!-- Hero Section -->
    <div class="hero" id="hero">
        <!--  <section class="hero" id="hero">-->

        <div class="setting_area">
            <form action="home.html" method="GET" id="form_search">
                <!-- 총판명, 지사명, 기간, 결제방법, 서비스 종류-->
                <div class="condition_area">
                    <table>
                        <tr>
                            <th>총판명</th>
                            <td>
                                <select class="select_distributor" id="select_distributor">
                                    <!--/*@thymesVar id="distributors" type="List<Map<String,String>>"*/-->
                                    <option th:each="distributor : ${distributors}"
                                            th:value="${distributor.get('id')}"
                                            th:utext="${distributor.get('name')}"/>
                                </select>
                            </td>
                            <th>지사명</th>
                            <td>
                                <select name="branchId" class="select_branch" id="select_branch">
                                    <!--/*@thymesVar id="branchs" type="List<Map<String,String>>"*/-->
                                    <option th:each="branch : ${branchs}"
                                            th:value="${branch.get('id')}"
                                            th:utext="${branch.get('name')}"/>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>기간</th>
                            <td colspan="3">
                                <input type="text" name="startDate" class="select_start_date" id="select_start_date"
                                       readonly="readonly"
                                       value="2018-01-01 / 09:00"/>
                                <span> ~ </span>
                                <input type="text" name="endDate" class="select_end_date" id="select_end_date"
                                       readonly="readonly"
                                       value="2018-12-31 / 09:00"/>
                            </td>
                        </tr>
                        <tr>
                            <th>결제방법</th>
                            <td>
                                <label>
                                    <input type="checkbox" name="paymentTypes[0]" value="1" checked="checked"/>
                                    카드 </label>
                                <label>
                                    <input type="checkbox" name="paymentTypes[1]" value="2" checked="checked"/>
                                    현금 </label>
                                <label>
                                    <input type="checkbox" name="paymentTypes[2]" value="3" checked="checked"/>
                                    선결제</label>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- 순번 ... -->
                <div class="feature_area">
                    <table>
                        <tr>
                            <input type="hidden" name="id" id="searchByid"/>
                            <input type="hidden" name="shopName" id="searchByshopName"/>
                            <input type="hidden" name="riderName" id="searchByriderName"/>
                            <td>
                                <select id="search_type">
                                    <option value="searchByid">순번</option>
                                    <option value="searchByshopName">상점 이름</option>
                                    <option value="searchByriderName">기사 이름</option>
                                </select>
                            </td>
                            <td><input type="search" id="search_feature"/>
                            </td>
                            <td><input type="submit" id="btn_feature" value="검색"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>

            <!-- 추가기능-->
            <div class="extension_area">
                <form action="status/branch-settings" method="POST" id="form_default_start"/>
                <form action="status/branch-settings" method="POST" id="form_delay_time"/>
                <form action="status/branch-settings" method="POST" id="form_additional_cost"/>
                <table>
                    <tr>
                        <th>
                            <label for="select_default_start">기본출발</label>
                        </th>
                        <td><select id="select_default_start" form="form_default_start" name="basicStartTime">
                            <option th:each="n : ${#numbers.sequence(0,60,10)}" th:value="${n}"
                                    th:text="${n} + 분"/>
                        </select><span>분</span>
                        </td>
                        <th><input type="submit" value="적용" class="btn_small" form="form_default_start"/>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="select_delay_time">추가지연</label>
                        </th>
                        <td>
                            <select id="select_delay_time" form="form_delay_time" name="delayTime">
                                <option th:each="n : ${#numbers.sequence(0,60,10)}" th:value="${n}"
                                        th:text="${n} + 분"/>
                            </select><span>분</span>
                        </td>
                        <th><input type="submit" value="적용" class="btn_small" form="form_delay_time"/>
                        </th>
                    </tr>
                    <tr>
                        <th>할증</th>
                        <td>
                            <p>
                                <input type="text" id="cost_won" form="form_additional_cost" name="extraCharge"/>
                                <span>원</span>
                            </p>
                            <p>
                                <input type="text" id="cost_percent" form="form_additional_cost"
                                       name="extraChargePercent"/>
                                <span>%</span>
                            </p>
                        </td>
                        <th><input type="submit" class="btn_big" value="적용" form="form_additional_cost"/>
                        </th>
                    </tr>
                </table>
            </div>
        </div>

        <!-- 상태 -->
        <section class="status_area" id="status_area">
            <table>
                <tr>
                    <th>
                        <input type="checkbox" id="checkbox_all" checked="checked"/>
                        <label for="checkbox_all">전체</label>
                        <span id="count_all">0</span></th>
                    <td>
                        <input type="checkbox" id="checkbox_accept"
                               name="orderStatusIds[0]" value="1"
                        />
                        <label for="checkbox_accept">접수</label>
                        <span id="count_accept">0</span></td>
                    <td>
                        <input type="checkbox" id="checkbox_allocate"
                               name="orderStatusIds[1]" value="2"
                        />
                        <label for="checkbox_allocate">배차</label>
                        <span id="count_allocate">0</span></td>
                    <td>
                        <input type="checkbox" id="checkbox_pickup"
                               name="orderStatusIds[2]" value="3"
                        />
                        <label for="checkbox_pickup">픽업</label>
                        <span id="count_pickup">0</span></td>
                    <td>
                        <input type="checkbox" id="checkbox_complete"
                               name="orderStatusIds[3]" value="4"
                        />
                        <label for="checkbox_complete">완료</label>
                        <span id="count_complete">0</span></td>
                    <td>
                        <input type="checkbox" id="checkbox_cancel"
                               name="orderStatusIds[4]" value="5"
                        />
                        <label for="checkbox_cancel">취소</label>
                        <span id="count_cancel">0</span></td>
                    <td>
                        <input type="checkbox" id="checkbox_suspend"
                               name="orderStatusIds[5]" value="6"
                        />
                        <label for="checkbox_suspend">대기</label>
                        <span id="count_suspend">0</span></td>
                    <td>
                        <input type="checkbox" id="checkbox_share"
                               name="isShared" value="true"/>
                        <label for="checkbox_share">공유</label>
                        <span id="count_share">0</span></td>
                </tr>
            </table>
        </section>

        <!--  </section>-->
    </div>
    <section class="result_area">
        <table>
            <thead>
            <tr>
                <td> 순번</td>
                <td> 접수일</td>
                <td> 가맹점명</td>
                <td> 상태</td>
                <td> 접수시간</td>
                <td> 배차시간</td>
                <td> 픽업시간</td>
                <td> 완료시간</td>
                <td> 취소시간</td>
                <td> 배달대행료</td>
                <td> 추가대행료</td>
                <td> 기사이름</td>
                <td> 결제방법</td>
                <td> 요청사항</td>
            </tr>
            </thead>
            <tbody id="result_list"></tbody>
        </table>
    </section>
</div>
<script src="/js/myCalendar.js"></script>
<script src="/js/home.js" type="module"></script>
<!-- Main Container Ends -->
</body>
</html>
