<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Please</title>
    <link rel="stylesheet" href="../home/home.css"/>
    <link rel="stylesheet" type="text/css" href="../home/codebase/fonts/font_roboto/roboto.css"/>
    <link rel="stylesheet" type="text/css" href="../home/codebase/dhtmlx.css"/>
    <script src="../home/codebase/dhtmlx.js"></script>
</head>
<body onload="calOnLoad();">

<!-- Main Container -->
<div class="container">
    <!-- Navigation -->
    <!--	<div class ="header">-->
    <header>
        <a href="">
            <div class="logo"><img alt="logo" src="../logo_small.png" width="21px" height="23px"/></div>
        </a>
        <table class="nav">
            <tr>
                <th>현황</th>
                <th>관제</th>
                <th>통계</th>
                <th>설정</th>
            </tr>
        </table>
        <div class="point_area">
            <!--/*@thymesVar id="point" type="com.login.add.controller.StatusController"*/-->
            <span id="point" th:text="${point}">
		  -1
				</span>
        </div>

        <button class="submit">접수하기</button>

    </header>
    <!--		</div>-->
    <!-- Hero Section -->
    <div class="hero" id="hero">
        <!--  <section class="hero" id="hero">-->

        <div class="setting_area">
            <form action="home.html" method="GET">
                <!-- 총판명, 지사명, 기간, 결제방법, 서비스 종류-->
                <div class="condition_area">
                    <table>
                        <tr>
                            <th>총판명</th>
                            <td>
                                <select class="select_distributor" id="select_distributor">
                                    <!--/*@thymesVar id="distributors" type="List<Map<String,String>>"*/-->
                                    <option th:each="distributor : ${distributors}"
                                            th:value="${distributor.get('id')}"
                                            th:utext="${distributor.get('name')}"/>
                                </select>
                            </td>
                            <th>지사명</th>
                            <td>
                                <select class="select_branch" id="select_branch">
                                    <!--/*@thymesVar id="branchs" type="List<Map<String,String>>"*/-->
                                    <option th:each="branch : ${branchs}"
                                            th:value="${branch.get('id')}"
                                            th:utext="${branch.get('name')}"/>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>기간</th>
                            <td colspan="3">
                                <input type="text" class="select_start_date" id="select_start_date" readonly="readonly"
                                       value="--"/>
                                <span> ~ </span>
                                <input type="text" class="select_end_date" id="select_end_date" readonly="readonly"
                                       value="--"/>
                            </td>
                        </tr>
                        <tr>
                            <th>결제방법</th>
                            <td>
                                <label>
                                    <input type="checkbox" name="payment_type" value="card" checked="checked"/>
                                    카드 </label>
                                <label>
                                    <input type="checkbox" name="payment_type" value="cash" checked="checked"/>
                                    현금 </label>
                                <label>
                                    <input type="checkbox" name="payment_type" value="prepayment" checked="checked"/>
                                    선결제</label>
                            </td>
                            <th> 서비스 종류</th>
                            <td>
                                <label>
                                    <input type="checkbox" name="service_type" value="delivery_agent"
                                           checked="checked"/>
                                    배달대행 </label>
                                <label>
                                    <input type="checkbox" name="service_type" value="share" checked="checked"/>
                                    공유콜 </label>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- 순번 ... -->
                <div class="feature_area">
                    <table>
                        <tr>
                            <td><select id="select_feature">
                                <option value="id">순번</option>
                            </select>
                            </td>
                            <td><input type="search" id="search_feature"/>
                            </td>
                            <td><input type="submit" id="btn_feature" value="검색"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>

            <!-- 추가기능-->
            <div class="extension_area">
                <form action="status/branch-settings" method="POST" id="form_default_start"/>
                <form action="status/branch-settings" method="POST" id="form_delay_time"/>
                <form action="status/branch-settings" method="POST" id="form_additional_cost"/>
                <table>
                    <tr>
                        <th>
                            <label for="select_default_start">기본출발</label>
                        </th>
                        <td><select id="select_default_start" form="form_default_start" name="basicStartTime">
                            <option th:each="n : ${#numbers.sequence(10,60,10)}" th:value="${n}"
                                    th:text="${n} + 분"/>
                        </select><span>분</span>
                        </td>
                        <th><input type="submit" value="적용" class="btn_small" form="form_default_start"/>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="select_delay_time">추가지연</label>
                        </th>
                        <td>
                            <select id="select_delay_time" form="form_delay_time" name="delayTime">
                                <option th:each="n : ${#numbers.sequence(10,60,10)}" th:value="${n}"
                                        th:text="${n} + 분"/>
                            </select><span>분</span>
                        </td>
                        <th><input type="submit" value="적용" class="btn_small" form="form_delay_time"/>
                        </th>
                    </tr>
                    <tr>
                        <th>할증</th>
                        <td>
                            <p>
                                <input type="text" id="cost_won" form="form_additional_cost" name="extraCharge"/>
                                <span>원</span>
                            </p>
                            <p>
                                <input type="text" id="cost_percent" form="form_additional_cost" name="extraChargePercent"/>
                                <span>%</span>
                            </p>
                        </td>
                        <th><input type="submit" class="btn_big" value="적용" form="form_additional_cost"/>
                        </th>
                    </tr>
                </table>
            </div>
        </div>

        <!-- 상태 -->
        <section class="status_area" id="status_area">
            <table>
                <tr>
                    <th>
                        <input type="checkbox" checked="checked" name="status" id="checkbox_all"/>
                        <label for="checkbox_all">전체</label>
                        <span>0</span></th>
                    <td>
                        <input type="checkbox" checked="checked" name="status" id="checkbox_received"/>
                        <label for="checkbox_received">접수</label>
                        <span>0</span></td>
                    <td>
                        <input type="checkbox" checked="checked" name="status" id="checkbox_allocated"/>
                        <label for="checkbox_allocated">배차</label>
                        <span>0</span></td>
                    <td>
                        <input type="checkbox" checked="checked" name="status" id="checkbox_pickup"/>
                        <label for="checkbox_pickup">픽업</label>
                        <span>0</span></td>
                    <td>
                        <input type="checkbox" checked="checked" name="status" id="checkbox_completed"/>
                        <label for="checkbox_completed">완료</label>
                        <span>0</span></td>
                    <td>
                        <input type="checkbox" checked="checked" name="status" id="checkbox_waiting"/>
                        <label for="checkbox_waiting">대기</label>
                        <span>0</span></td>
                    <td>
                        <input type="checkbox" checked="checked" name="status" id="checkbox_canceled"/>
                        <label for="checkbox_canceled">취소</label>
                        <span>0</span></td>
                    <td>
                        <input type="checkbox" checked="checked" name="status" id="checkbox_shared"/>
                        <label for="checkbox_shared">공유</label>
                        <span>0</span></td>
                </tr>
            </table>
        </section>

        <!--  </section>-->
    </div>
    <section class="result_area">
        <table>
            <thead>
            <tr>
                <td> 순번</td>
                <td> 접수일</td>
                <td> 가맹점명</td>
                <td> 상태</td>
                <td> 접수시간</td>
                <td> 배차시간</td>
                <td> 픽업시간</td>
                <td> 완료시간</td>
                <td> 취소시간</td>
                <td> 배달대행료</td>
                <td> 추가대행료</td>
                <td> 기사이름</td>
                <td> 결제방법</td>
                <td> 요청사항</td>
            </tr>
            </thead>
            <tbody id="result_list"></tbody>
        </table>
    </section>
</div>
<script src="../home/home.js"></script>
<!-- Main Container Ends -->
</body>
</html>
