<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<head>
<title></title>
<link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
<section>
  <div class="login_area">
    <div class="logo"> <img alt="logo" src="/img/logo.png"/> </div>
    <form action="login" method="POST">
      <div class="id_area">
        <input type="text" name="id" class="input_id"  placeholder="아이디" id = "id" />
      </div>
      <div class ="pw_area">
        <input type="password" name="pw" class="input_pw" placeholder="비밀번호" id = "pw" />
      </div>
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
      <input type="submit" class ="btn_submit" value="로그인"/>
    </form>
  </div>
</section>
</body>
</html>