<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" type="text/css" href="../../static/css/mileage_modal.css"/>
<div th:fragment="mileage_modal" id="mileage_modal" class="mileage-modal-background">
    <div class="mileage-modal-container">
        <!-- 헤더 -->
        <header class="mileage-modal-header">
            <button class="mileage-close-button" id="close-button"></button>
        </header>

        <!--날짜, 마일리지총액, 출금, 송금버튼-->
        <section class="mileage-main-section">
            <!--날짜, 마일리지총액-->
            <div class="mileage-status">
                <div class="sub-title">2018-12-07 현재 마일리지</div>
                <div class="cur-mileage">1,147,070원</div>
            </div>
            <!--출금, 송금버튼-->
            <div class="mileage-buttons">
                <label class="mileage-process-button"><input type="radio" name="process" checked>
                    <span class="custom-radio-button">마일리지 출금</span></label>
                <label class="mileage-process-button"><input type="radio" name="process">
                    <span class="custom-radio-button">마일리지 송금</span></label>
            </div>
        </section>
        <!-- 출금 또는 송금을 위한 유동적 컨텐츠 -->
        <section class="mileage-result-section">
            <div class="account-view-container">
                <div>출금계좌</div>
                <div class="account-view">광주총판 1003-929-091121 우리은행</div>
            </div>
            <div class="result-container">
                <div class="result-row">
                    <div>출금금액</div>
                    <div class="withdraw-input-container">
                        <input type="text" class="input-output-box"/>
                        <button class="all-withdraw-button">전액인출</button>
                    </div>
                </div>
                <div class="result-row">
                    <div>출금수수료</div>
                    <input type="text" class="input-output-box" value="300원" readonly/>
                </div>
                <div class="result-row">
                    <div>차감포인트</div>
                    <input type="text" class="input-output-box" value="100,000,300원" readonly/>
                </div>
                <div class="result-row">
                    <div>출금비밀번호</div>
                    <input type="password" class="input-output-box"/>
                </div>
            </div>
        </section>

        <section class="mileage-submit-section">
            <button class="mileage-ok-button">출금 신청</button>
        </section>
    </div>
</div>
</html>