@charset "UTF-8";
/* Body */
body {
    font-family: 'Noto Sans Mono CJK KR Regular';
    background-color: #f0f0f0;
    margin: 0;
    font-style: normal;
    font-weight: 200;
}

/* Container */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    background-color: #FFFFFF;
}

/* Navigation */
header {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #282828; /*	border-bottom: 1px solid #2C9AB7;*/
}

table {
    text-align: left;
}

table tr th {
    font-weight: normal;
    vertical-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 4px;
}

button, input {
    border: 1px solid #ff7100;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border-radius: 1px;

}

input[type="checkbox"]:checked {
    color: #ff7100;
}

select {
    font-size: 14px;
    height: 28px;
    border: hidden;
    color: #FFFFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(select_btn.png) no-repeat 95% 50%;
}

.select_start_date, .select_end_date {
    padding-left: 8px;
    width: 161px;
    height: 28px;
    background: url(select_btn.png) no-repeat 95% 50%;
    border: hidden;
}

select::-ms-expand {
    display: none;
}

select option {
    color: #FFFFFF;
    background-color: #4a4a4a;
}

.btn_small {
    width: 80px;
    height: 28px;
}

.btn_big {
    width: 80px;
    height: 60px;
}

.logo {
    float: left;
    margin-top: 8px;
    margin-left: 13px;
    margin-right: 13px;
    letter-spacing: 4px;
}

.nav tr th {
    width: 79px;
    height: 40px;
    float: left;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 7px;
}

.nav tr th a {
    color: #FFFFFF;
    text-decoration: none;
}

.area {
    background-color: #111111;
}

/* Hero Section */
.hero {
    width: 100%;
    background-color: #555555;
    font-size: 12px;
    float: left;
}

.setting_area {
    width: 100%;
    height: 180px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}

.setting_area div {
    background-color: #444444;
    color: #c1c1c1;
}

.setting_area input {
    background-color: #373737;
}

.setting_area input[type="text"], input[type="search"] {
    color: #FFFFFF;
    border: hidden;
    height: 28px;
}

.setting_area input[type="button"], input[type="submit"] {
    color: #ff7100;
    font-size: 14px;
    outline: hidden;
}

.point_area {
    position: absolute;
    top: 5px;
    width: 177px;
    height: 30px;
    background-color: #141414;
    border-radius: 5px;
    color: #FFFFFF;
    right: 106px;
}

.point_area span {
    position: absolute;
    top: 6px;
    right: 11px;
}

.submit {
    position: absolute;
    top: 6px;
    right: 10px;
    width: 80px;
    height: 28px;
    background-color: #ff7100;
    color: #FFFFFF;
}

.condition_area {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 5px 10px;
    float: left;
}

.condition_area label {
    color: #FFFFFF;
    font-size: 14px;
}

.condition_area table tr td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.condition_area select {
    padding-left: 7px;
    width: 170px;
}

.condition_area th {
    width: 67px;
}

.condition_area td {
    width: 191px;
}

.extension_area {
    position: relative;
    top: -180px;
    left: 565px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    clear: both;
    float: left;
}

.extension_area input[type="text"] {
    width: 100px;
}

.extension_area table tr td {
    padding-top: 6px;
    padding-bottom: 6px;
}

.extension_area label {
    padding-left: 7px;
}

.extension_area th {
    width: 63px;
}

.extension_area td {
    width: 131px;
}

.extension_area select {
    padding-left: 22px;
    width: 100px;
}

.feature_area {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 8px;
    clear: both;
    float: left;
}

.feature_area select {
    padding-left: 10px;
    width: 100px;
}

.feature_area input[type = "search"] {
    width: 340px;
    height: 28px;
}

.feature_area input[type = "submit"] {
    width: 84px;
    height: 28px;
}

.status_area {
    padding-top: 5px;
    width: 100%;
    height: 30px;
    background-color: #444444;
    clear: both;
    float: left;
}

.status_area table {
    margin-left: 10px;
}

.status_area label {
    position: relative;
    top: -4px;
    color: #FFFFFF;
    font-size: 12px;
}

.status_area span {
    position: relative;
    color: #ff7100;
    top: -4px;
}

.status_area th {
    padding-right: 12px;
}

.status_area td {
    padding-left: 12px;
    padding-right: 12px;
}

.result_area {
    clear: both;
    float: left;
    width: 100%;
    background-color: #f0f0f0;
}

.result_area table {
    border-collapse: collapse;
    text-align: center;
    border-top: 1px solid #979797;
    width: 100%;
}

.result_area th, .result_area td {
    border-bottom: 1px solid #979797;
    font-size: 12px;
    padding: 7px;
}

.result_area thead td {
    color: #4a4a4a;
    background-color: #f0f0f0;
}

.status1 {
    background-color: #ffe0b7;
    color: #4a4a4a;
}

.status2 {
    background-color: #ffdee3;
    color: #4a4a4a;
}

.status3 {
    background-color: #f4e0ff;
    color: #4a4a4a;
}

.status4 {
    background-color: #e6f4ff;
    color: #4a4a4a;
}

.status5 {
    background-color: #ffffff;
    color: #4a4a4a;
}

.status6 {
    background-color: #e3e3e3;
    color: #4a4a4a;
}

.status7 {
    background-color: #fff6b6;
    color: #4a4a4a;
}

/* Small Desktops */
@media (max-width: 898px) {
    .setting_area {
        height: inherit;
    }

    .extension_area {
        position: static;
    }
}