html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans CJK KR", sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.container {
  width: 100%;
  height: 100%;
  float: left;
}

.main {
  height: calc(100% - 45px);
}

.center_section {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}

.aside {
  border-right: 2px solid #d0d0d0;
  height: 100%;
  width: 360px;
  background-color: #FFFFFF;
  float: left;
}
.aside div > {
  border-bottom: 1px solid #d0d0d0;
}
.aside ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #FFFFFF;
  float: left;
}

.right {
  width: calc(100% - 362px);
  height: 100%;
  float: left;
}
.right .map {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}
.right .name-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 140px;
  height: 50px;
  opacity: 0.9;
  background-color: #ffffff;
}
.right .name-tag div {
  margin-top: 13px;
  margin-left: 25px;
  float: left;
}
.right .name-tag div input[type=checkbox] {
  margin: 5px;
  width: 15px;
  height: 15px;
  float: left;
}
.right .name-tag div label {
  margin-top: 1px;
  font-size: 14px;
  color: #4a4a4a;
  float: left;
}
.right .map_down {
  width: 100%;
  height: 210px;
  float: left;
  clear: both;
  display: none;
}
.right .map_down table {
  width: 100%;
  float: left;
  clear: both;
  border-collapse: collapse;
}
.right .map_down table thead {
  font-size: 16px;
  font-weight: bold;
  color: #4a4a4a;
  border-top: 2px solid #d0d0d0;
  border-bottom: 2px solid #d0d0d0;
}
.right .map_down table thead td {
  padding: 10px;
}
.right .map_down table tbody {
  font-size: 14px;
  color: #4a4a4a;
}
.right .map_down table tbody tr {
  border: 1px solid #d0d0d0;
}
.right .map_down table tbody tr td {
  padding: 10px;
}

.title_area {
  padding: 20px;
  width: calc(100% - 40px);
  height: 40px;
  float: left;
  clear: both;
  background-color: #f0f0f0;
}
.title_area span {
  font-size: 19px;
  font-weight: 500;
  line-height: 40px;
  color: #4a4a4a;
  float: left;
}
.title_area button {
  width: 55px;
  height: 28px;
  border-radius: 2px;
  float: right;
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
  font-size: 14px;
  font-weight: 500;
  color: #979797;
}

.down-control-area {
  width: 100%;
  float: left;
  display: none;
}

.branch-control-area {
  width: 100%;
  float: left;
}
.branch-control-area > div {
  border-bottom: 1px solid #d0d0d0;
}
.branch-control-area .name-branch-area {
  padding: 20px;
  width: calc(100% - 40px);
  float: left;
}
.branch-control-area .name-branch-area span {
  font-size: 18px;
  font-weight: bold;
  color: #4a4a4a;
}
.branch-control-area .branch-search-area {
  padding: 20px;
  width: calc(100% - 20px);
  float: left;
}
.branch-control-area .branch-search-area > div {
  margin-left: 3px;
  margin-right: 3px;
  float: left;
}
.branch-control-area .branch-search-area .city-area {
  border: 1px solid #d0d0d0;
}
.branch-control-area .branch-search-area .city-area select {
  border: 0;
  width: 110px;
  height: 35px;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.branch-control-area .branch-search-area .city-area select::-ms-expand {
  display: none;
}

.rider-control-area {
  float: left;
  width: 100%;
}

.shop-control-area {
  display: none;
  float: left;
  width: 100%;
}

.search_area {
  padding: 10px 20px;
  width: calc(100% - 40px);
  float: left;
  clear: both;
  border-bottom: 1px solid #d0d0d0;
}
.search_area span {
  float: left;
}
.search_area > div {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
}
.search_area .title {
  margin-right: 10px;
  font-size: 12px;
  color: #979797;
}
.search_area .contents {
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
}
.search_area .rider_numbers_area {
  float: left;
  clear: both;
}
.search_area .rider_numbers_area .rider-count-area {
  float: left;
}
.search_area .rider_numbers_area .rider-status-area {
  float: right;
}

.keyword-area {
  float: right;
  border: 1px solid #d0d0d0;
}
.keyword-area input[type=search] {
  padding-left: 10px;
  padding-right: 10px;
  border: 0;
  width: 160px;
  height: 35px;
}
.keyword-area input[type=submit] {
  background-color: rgba(0, 0, 0, 0);
  width: 35px;
  height: 35px;
  border: 0;
}

.order-status-area {
  width: 100%;
  float: left;
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
}
.order-status-area > div {
  float: left;
  width: 20%;
}
.order-status-area .all {
  color: #4a4a4a;
}
.order-status-area .accept {
  color: #ff9037;
}
.order-status-area .allocate {
  color: #ff6987;
}
.order-status-area .pickup {
  color: #c043ff;
}
.order-status-area .complete {
  color: #51a0ff;
}

.table {
  width: 100%;
  float: left;
  clear: both;
  border-collapse: collapse;
  min-height: 100%;
}
.table thead td {
  background-color: #e3e3e3;
  font-size: 12px;
  font-weight: normal;
  color: #979797;
  padding-left: 10px;
}
.table tbody td {
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #d0d0d0;
}

.result-area {
  overflow-y: auto;
}

.btn_pickup {
  width: 48px;
  height: 24px;
  border-radius: 21px;
  background-color: #c043ff;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn_allow {
  width: 48px;
  height: 24px;
  border-radius: 21px;
  background-color: #ff6987;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn_detail {
  border: 1px solid #d0d0d0;
  width: 90px;
  height: 30px;
  background-color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  color: #4a4a4a;
}

.btn-control-unselected:hover,
.btn-control-selected {
  width: 180px;
  height: 60px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  color: #ff9037;
  border: 1px solid #d0d0d0;
  float: left;
}

.btn-control-unselected {
  width: 180px;
  height: 60px;
  background-color: #f0f0f0;
  font-size: 16px;
  font-weight: bold;
  color: #979797;
  border: 1px solid #d0d0d0;
  float: left;
}

.btn-select {
  width: 55px;
  height: 28px;
  border: 1px solid #ff9037;
  font-size: 14px;
  font-weight: 500;
  color: #ff9037;
  background-color: #FFFFFF;
}

/*# sourceMappingURL=control.css.map */
