@import "../_header";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans CJK KR", sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.container {
  width: 100%;
  height: 100%;
  float: left;
}

.main {
  height: calc(100% - 45px);
}

.center_section {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;

  input[type="checkbox"] {
    display: none;
    float: left;

    + label {
      float: left;
      margin-right: 5px;

      span {
        margin-top: 4px;
        margin-right: 5px;
        float: left;
        width: 14px;
        height: 14px;
        border-radius: 1px;
        border: 1px solid #d0d0d0;
        background-color: #FFFFFF;
      }
    }

    &:checked + label span {
      border: 1px solid #ff7100;
      background: url("/img/checkbox.png") no-repeat;
      background-size: 14px;
    }
  }
}

.aside {
  border-right: 2px solid #d0d0d0;
  height: 100%;
  width: 360px;
  background-color: #FFFFFF;
  float: left;

  div > {
    border-bottom: 1px solid #d0d0d0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #FFFFFF;
    float: left;
  }
}

.right {
  width: calc(100% - 362px);
  height: 100%;
  float: left;

  .map {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
  }

  .name-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 140px;
    height: 50px;
    opacity: 0.9;
    background-color: #ffffff;

    div {
      margin-top: 13px;
      margin-left: 25px;
      float: left;

      input[type="checkbox"] {
        margin: 5px;
        width: 15px;
        height: 15px;
        float: left;
      }

      label {
        margin-top: 1px;
        font-size: 14px;
        color: #4a4a4a;
        float: left;
      }
    }
  }

  .map_down {
    width: 100%;
    height: 210px;
    float: left;
    clear: both;
    display: none;

    table {
      width: 100%;
      float: left;
      clear: both;
      border-collapse: collapse;

      thead {
        font-size: 16px;
        font-weight: bold;
        color: #4a4a4a;
        border-top: 2px solid #d0d0d0;
        border-bottom: 2px solid #d0d0d0;

        td {
          padding: 10px;
        }
      }

      tbody {
        font-size: 14px;
        color: #4a4a4a;

        tr {
          border: 1px solid #d0d0d0;

          td {
            padding: 10px;
          }
        }
      }
    }
  }
}

.title_area {
  padding: 20px;
  width: calc(100% - 40px);
  height: 40px;
  float: left;
  clear: both;
  background-color: #f0f0f0;

  span {
    font-size: 19px;
    font-weight: 500;
    line-height: 40px;
    color: #4a4a4a;
    float: left;
  }

  button {
    width: 55px;
    height: 28px;
    border-radius: 2px;
    float: right;
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    font-size: 14px;
    font-weight: 500;
    color: #979797;
  }
}

.down-control-area {
  width: 100%;
  float: left;
  display: none;
}

.branch-control-area {
  width: 100%;
  float: left;

  > div {
    border-bottom: 1px solid #d0d0d0;
  }

  .name-branch-area {
    padding: 20px;
    width: calc(100% - 40px);
    float: left;

    span {
      font-size: 18px;
      font-weight: bold;
      color: #4a4a4a;
    }
  }

  .branch-search-area {
    padding: 20px;
    width: calc(100% - 20px);
    float: left;

    > div {
      margin-left: 3px;
      margin-right: 3px;
      float: left;
    }

    .city-area {
      border: 1px solid #d0d0d0;

      select {
        border: 0;
        width: 110px;
        height: 35px;
        padding-left: 10px;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        background: url(/img/select_btn_bright.png) no-repeat 100% 50%;
        background-size: 30px;

        &::-ms-expand {
          display: none;
        }
      }
    }
  }
}

.rider-control-area {
  float: left;
  width: 100%;
}

.shop-control-area {
  display: none;
  float: left;
  width: 100%;
}

.search_area {
  padding: 10px 20px;
  width: calc(100% - 40px);
  float: left;
  clear: both;
  border-bottom: 1px solid #d0d0d0;

  span {
    float: left;
  }

  > div {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
  }

  .title {
    margin-right: 10px;
    font-size: 12px;
    color: #979797;
  }

  .contents {
    font-size: 14px;
    font-weight: 500;
    color: #4a4a4a;
  }

  .rider_numbers_area {
    float: left;
    clear: both;

    .rider-count-area {
      float: left;
    }

    .rider-status-area {
      float: right;
    }
  }
}

.keyword-area {
  float: right;
  border: 1px solid #d0d0d0;

  input[type = "search"] {
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    width: 160px;
    height: 35px;
  }

  input[type = "submit"] {
    background-color: rgba(0, 0, 0, 0);
    width: 35px;
    height: 35px;
    border: 0;
  }
}

.order-status-area {
  width: 100%;
  float: left;
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;

  > div {
    float: left;
    width: 20%;
  }

  .all {
    color: #4a4a4a;
  }

  .accept {
    color: #ff9037;
  }

  .allocate {
    color: #ff6987;
  }

  .pickup {
    color: #c043ff;
  }

  .complete {
    color: #51a0ff;
  }
}

.table {
  width: 100%;
  float: left;
  clear: both;
  border-collapse: collapse;
  min-height: 100%;

  thead td {
    background-color: #e3e3e3;
    font-size: 12px;
    font-weight: normal;
    color: #979797;
    padding-left: 10px;
  }

  tbody td {
    font-size: 14px;
    font-weight: 500;
    color: #4a4a4a;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #d0d0d0;
  }
}

.result-area {
  overflow-y: auto;
}

.btn_pickup {
  width: 48px;
  height: 24px;
  border-radius: 21px;
  background-color: #c043ff;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn_allow {
  width: 48px;
  height: 24px;
  border-radius: 21px;
  background-color: #ff6987;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn_detail {
  border: 1px solid #d0d0d0;
  width: 90px;
  height: 30px;
  background-color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  color: #4a4a4a;
}

.btn-control-unselected:hover,
.btn-control-selected {
  width: 180px;
  height: 60px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  color: #ff9037;
  border: 1px solid #d0d0d0;
  float: left;
}

.btn-control-unselected {
  width: 180px;
  height: 60px;
  background-color: #f0f0f0;
  font-size: 16px;
  font-weight: bold;
  color: #979797;
  border: 1px solid #d0d0d0;
  float: left;
}

.btn-select {
  width: 55px;
  height: 28px;
  border: 1px solid #ff9037;
  font-size: 14px;
  font-weight: 500;
  color: #ff9037;
  background-color: #FFFFFF;
}